<a href="https://colab.research.google.com/github/abu-oxinus/Autoencoder/blob/main/Autoencoder.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dataset Preparation

# Extract

# Mount Google Drive in your Colab notebook

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Files upload

In [ ]:
# upload kaggle API Token

from google.colab import files

files.upload()

In [ ]:
import shutil

file_name = "kaggle.json"
destination_path = "/content/drive/MyDrive/"

# Move the file
shutil.move(file_name, os.path.join(destination_path, file_name))

In [11]:
import shutil


source_folder = "/content/json-data"
destination_path = "/content/drive/MyDrive/"

# Move the source_folder
shutil.move(source_folder, destination_path)

'/content/drive/MyDrive/json-data'

# Downloading order-data.zip

In [5]:
import os

# install kaggle
! pip install -q kaggle

! mkdir -p ~/.kaggle

! cp /content/drive/MyDrive/kaggle.json ~/.kaggle/

! chmod 600 ~/.kaggle/kaggle.json

In [6]:
!kaggle datasets download -d abuabkersuliman/order-data

Downloading order-data.zip to /content
 93% 133M/143M [00:01<00:00, 139MB/s]
100% 143M/143M [00:01<00:00, 123MB/s]

In [8]:
import zipfile
zip_ref = zipfile.ZipFile('order-data.zip', 'r')
zip_ref.extractall('/content')
zip_ref.close()

# Create a dictionary of DataFrames: Iterate over files and read them into a dictionary of DataFrames

In [12]:
import pandas as pd

# Directory where JSON files are located
json_dir = '/content/drive/MyDrive/json-data'

# Dictionary to hold your DataFrames
dataframes = {}

count = 0
for file_name in os.listdir(json_dir):
    count+=1
    if file_name.endswith('.json'):
        # Construct the full file path
        file_path = os.path.join(json_dir, file_name)
        # Normalize the file_name to create a valid Python variable name
        dataframe_name = 'df_' + file_name.replace('-', '_').rstrip('.json')
        # Read the JSON file into a DataFrame
        dataframes[dataframe_name] = pd.read_json(file_path)
        print(f'Loaded {file_name} into DataFrame with name {dataframe_name}. Shape: {dataframes[dataframe_name].shape}. df-num: {count}')

Loaded 2019-12-01.json into DataFrame with name df_2019_12_01. Shape: (119672, 44). df-num: 1
Loaded 2022-12-01.json into DataFrame with name df_2022_12_01. Shape: (117517, 44). df-num: 2
Loaded 2019-03-01.json into DataFrame with name df_2019_03_01. Shape: (56779, 44). df-num: 3
Loaded 2020-06-01.json into DataFrame with name df_2020_06_01. Shape: (11857, 44). df-num: 4
Loaded 2023-05-01.json into DataFrame with name df_2023_05_01. Shape: (96764, 44). df-num: 5
Loaded 2023-11-01.json into DataFrame with name df_2023_11_01. Shape: (84024, 44). df-num: 6
Loaded 2018-06-01.json into DataFrame with name df_2018_06_01. Shape: (90089, 44). df-num: 7
Loaded Users.json into DataFrame with name df_User. Shape: (51, 29). df-num: 8
Loaded 2023-08-01.json into DataFrame with name df_2023_08_01. Shape: (84332, 44). df-num: 9
Loaded Customers.json into DataFrame with name df_Customer. Shape: (3484, 48). df-num: 10
Loaded DiscountTypes.json into DataFrame with name df_DiscountType. Shape: (4, 10). df-num: 11
Loaded 2018-03-01.json into DataFrame with name df_2018_03_01. Shape: (64290, 44). df-num: 12
Loaded orders-status.json into DataFrame with name df_orders_statu. Shape: (10, 3). df-num: 13
Loaded 2022-01-01.json into DataFrame with name df_2022_01_01. Shape: (97267, 44). df-num: 14
Loaded 2019-01-01.json into DataFrame with name df_2019_01_01. Shape: (103859, 44). df-num: 15
Loaded 2019-07-01.json into DataFrame with name df_2019_07_01. Shape: (97174, 44). df-num: 16
Loaded 2023-02-01.json into DataFrame with name df_2023_02_01. Shape: (76365, 44). df-num: 17
Loaded 2024-02-01.json into DataFrame with name df_2024_02_01. Shape: (82197, 44). df-num: 18
Loaded 2021-10-01.json into DataFrame with name df_2021_10_01. Shape: (81133, 44). df-num: 19
Loaded 2022-04-01.json into DataFrame with name df_2022_04_01. Shape: (81735, 44). df-num: 20
Loaded 2021-02-01.json into DataFrame with name df_2021_02_01. Shape: (29166, 44). df-num: 21
Loaded 2020-10-01.json into DataFrame with name df_2020_10_01. Shape: (58318, 44). df-num: 22
Loaded 2018-10-01.json into DataFrame with name df_2018_10_01. Shape: (77744, 44). df-num: 23
Loaded 2017-08-01.json into DataFrame with name df_2017_08_01. Shape: (138328, 44). df-num: 24
Loaded 2020-03-01.json into DataFrame with name df_2020_03_01. Shape: (100130, 44). df-num: 25
Loaded 2018-01-01.json into DataFrame with name df_2018_01_01. Shape: (151294, 44). df-num: 26
Loaded Orders_316661.json into DataFrame with name df_Orders_316661. Shape: (289322, 55). df-num: 27
Loaded 2022-08-01.json into DataFrame with name df_2022_08_01. Shape: (103315, 44). df-num: 28

# Access DataFrames using file names

In [13]:
df_Orders_316661 = dataframes['df_Orders_316661']

df_Orders_316661.shape

(289322, 55)

In [8]:
df_Orders_01 = df_Orders_316661.copy()

df_Orders_01.shape

(289322, 55)

In [9]:
df_Orders_01.columns

Index(['id', 'parent_id', 'odate', 'pos', 'uid', 'customer_id', 'table_id',
       'guests', 'residents', 'comments', 'status', 'cloud_status',
       'order_type_id', 'paid_date', 'color_id', 'shift_id', 'venue_id',
       'check_uid', 'order_tag', 'pricelist_id', 'address_id', 'room_id',
       'is_invoice', 'spotfolio_status', 'delivery_method', 'delivery_time',
       'assigned_date', 'order_no', 'min_order_value', 'tips',
       'tips_payment_type', 'round_amount', 'extra_charges', 'food_channel',
       'food_channel_id', 'food_channel_display_id', 'through_deliverect',
       'through_urbanpiper', 'food_channel_with_cash', 'fd_pickup_at',
       'fd_prepared_at', 'fd_ready_dispatch_at', 'fd_dispatched_at',
       'brand_id', 'cooking_date', 'delivery_date', 'timeframe',
       'subscription_id', 'friends_and_family', 'expo_informed', 'expo_closed',
       'sent_to_softone', 'card_last4_digits', 'created_at', 'updated_at'],
      dtype='object')

In [12]:
df_Orders_01.to_csv('/content/drive/MyDrive/orders_01.csv', index=False)

# Pyspark

In [59]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 2.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=d9760fd7d486f08bea80087fc8a88cfd1b63b426aa1dc7f56399a46424835003
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [60]:
import pyspark
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('Practise').getOrCreate()

In [30]:
spark

In [15]:
csv_dir = '/content/drive/MyDrive/orders_01.csv'

In [16]:
df_Orders_spark = spark.read.format("csv").load(csv_dir, header=True, inferSchema=True)

# df_Orders_spark.printSchema()

In [18]:
type(df_Orders_spark)

pyspark.sql.dataframe.DataFrame

In [18]:
df_Orders_spark.show(10)

+--------------------+---------+-------------------+---+---+-----------+--------+------+---------+--------+------+------------+-------------+-------------------+--------+--------------------+--------+---------+---------+------------+----------+-------+----------+----------------+---------------+-------------+-------------+--------+---------------+----+-----------------+------------+-------------+------------+---------------+-----------------------+------------------+------------------+----------------------+------------+--------------+--------------------+----------------+--------+------------+-------------+---------+---------------+------------------+-------------+-----------+---------------+-----------------+-------------------+-------------------+
|                  id|parent_id|              odate|pos|uid|customer_id|table_id|guests|residents|comments|status|cloud_status|order_type_id|          paid_date|color_id|            shift_id|venue_id|check_uid|order_tag|pricelist_id|address_id|room_id|is_invoice|spotfolio_status|delivery_method|delivery_time|assigned_date|order_no|min_order_value|tips|tips_payment_type|round_amount|extra_charges|food_channel|food_channel_id|food_channel_display_id|through_deliverect|through_urbanpiper|food_channel_with_cash|fd_pickup_at|fd_prepared_at|fd_ready_dispatch_at|fd_dispatched_at|brand_id|cooking_date|delivery_date|timeframe|subscription_id|friends_and_family|expo_informed|expo_closed|sent_to_softone|card_last4_digits|         created_at|         updated_at|
+--------------------+---------+-------------------+---+---+-----------+--------+------+---------+--------+------+------------+-------------+-------------------+--------+--------------------+--------+---------+---------+------------+----------+-------+----------+----------------+---------------+-------------+-------------+--------+---------------+----+-----------------+------------+-------------+------------+---------------+-----------------------+------------------+------------------+----------------------+------------+--------------+--------------------+----------------+--------+------------+-------------+---------+---------------+------------------+-------------+-----------+---------------+-----------------+-------------------+-------------------+
|374c214d-52f8-4bd...|     NULL|2017-03-08 17:49:25|  6| 12|       NULL|      21|     2|     NULL|    NULL|     2|           0|          200|2017-03-08 20:03:18|       0|42000003-3139-420...|       1|        0|        0|           0|      NULL|   NULL|         0|            NULL|              0|            0|         NULL|    NULL|           NULL|NULL|                0|        NULL|         NULL|        NULL|           NULL|                   NULL|                 0|                 0|                     0|        NULL|          NULL|                NULL|            NULL|       0|        NULL|         NULL|     NULL|           NULL|                 0|         NULL|       NULL|           NULL|             NULL|2017-03-08 17:49:37|2017-03-08 20:03:25|
|20bb1ead-e1a4-48c...|     NULL|2017-03-08 18:07:07|  6| 12|       NULL|      23|     2|     NULL|    NULL|     2|           0|          200|2017-03-09 00:54:51|       0|42000003-3139-420...|       1|        0|        0|           0|      NULL|   NULL|         0|            NULL|              0|            0|         NULL|    NULL|           NULL|NULL|                0|        NULL|         NULL|        NULL|           NULL|                   NULL|                 0|                 0|                     0|        NULL|          NULL|                NULL|            NULL|       0|        NULL|         NULL|     NULL|           NULL|                 0|         NULL|       NULL|           NULL|             NULL|2017-03-08 18:07:20|2017-03-09 00:54:56|
|ed463ddc-8f42-486...|     NULL|2017-03-08 18:25:21|  6| 12|       NULL|      26|     6|     NULL|   περιε|     2|           0|          200|2017-03-08 21:09:47|       0|42000003-3139-420...|       1|        0|        0|           0|      NULL|   NULL|         0|            NULL|              0|            0|         NULL|    NULL|           NULL|NULL|                0|        NULL|         NULL|        NULL|           NULL|                   NULL|                 0|                 0|                     0|        NULL|          NULL|                NULL|            NULL|       0|        NULL|         NULL|     NULL|           NULL|                 0|         NULL|       NULL|           NULL|             NULL|2017-03-08 18:25:32|2017-03-08 21:09:54|
|7bbe2506-bc5d-47c...|     NULL|2017-03-08 18:40:37|  4| 11|       NULL|       0|     0|     NULL|    NULL|     2|           0|          200|2017-03-08 19:23:20|       0|799f0930-4a54-435...|       1|        0|        0|           0|      NULL|   NULL|         0|            NULL|              0|            0|         NULL|    NULL|           NULL|NULL|                0|        NULL|         NULL|        NULL|           NULL|                   NULL|                 0|                 0|                     0|        NULL|          NULL|                NULL|            NULL|       0|        NULL|         NULL|     NULL|           NULL|                 0|         NULL|       NULL|           NULL|             NULL|2017-03-08 18:40:59|2017-03-08 19:23:24|
|4b79b04d-5f3a-422...|     NULL|2017-03-08 19:11:46|  3| 10|       NULL|      50|     8|     NULL|    NULL|     2|           0|          200|2017-03-08 22:39:25|       0|7f4face6-702b-4fc...|       1|        0|        0|           0|      NULL|   NULL|         0|            NULL|              0|            0|         NULL|    NULL|           NULL|NULL|                0|        NULL|         NULL|        NULL|           NULL|                   NULL|                 0|                 0|                     0|        NULL|          NULL|                NULL|            NULL|       0|        NULL|         NULL|     NULL|           NULL|                 0|         NULL|       NULL|           NULL|             NULL|2017-03-08 19:11:56|2017-03-08 22:39:41|
|736c991f-87ca-470...|     NULL|2017-03-08 19:12:16|  6| 12|       NULL|      24|     5|     NULL|    NULL|     2|           0|          200|2017-03-08 22:34:26|       0|42000003-3139-420...|       1|        0|        0|           0|      NULL|   NULL|         0|            NULL|              0|            0|         NULL|    NULL|           NULL|NULL|                0|        NULL|         NULL|        NULL|           NULL|                   NULL|                 0|                 0|                     0|        NULL|          NULL|                NULL|            NULL|       0|        NULL|         NULL|     NULL|           NULL|                 0|         NULL|       NULL|           NULL|             NULL|2017-03-08 19:12:39|2017-03-08 22:34:33|
|cb6d68b7-3693-4d5...|     NULL|2017-03-08 19:15:23|  5|  8|       NULL|      15|     4|     NULL|    NULL|     2|           0|          200|2017-03-08 22:43:43|       0|dded3d59-7df2-42d...|       1|        0|        0|           0|      NULL|   NULL|         0|            NULL|              0|            0|         NULL|    NULL|           NULL|NULL|                0|        NULL|         NULL|        NULL|           NULL|                   NULL|                 0|                 0|                     0|        NULL|          NULL|                NULL|            NULL|       0|        NULL|         NULL|     NULL|           NULL|                 0|         NULL|       NULL|           NULL|             NULL|2017-03-08 19:16:46|2017-03-08 22:44:02|
|c5e75cb3-fdf6-45f...|     NULL|2017-03-08 19:20:02|  4| 11|       NULL|      32|     0|     NULL|    NULL|     2|           0|          200|2017-03-08 22:22:57|       0|799f0930-4a54-435...|       1|        0|        0|           0|      NULL|   NULL|         0|            NULL|              0|            0|         NULL|    NULL|           NULL|NULL|                0|        NULL|         NULL|        NULL|           NULL|                   NULL|                 0|                 0|                     0|        NULL|          NULL|                NULL|            NULL|       0|        NULL|         NULL|     NULL|           NULL|                 0|         NULL|       NULL|           NULL|             NULL|2017-03-08 19:20:48|2017-03-08 22:23:16|
|229bc0f7-4516-47e...|     NULL|2017-03-08 19:27:17|  3| 10|       NULL|      53|     3|     NULL|    NULL|     2|           0|          200|2017-03-09 00:07:54|       0|7f4face6-702b-4fc...|       1|        0|        0|           0|      NULL|   NULL|         0|            NULL|              0|            0|         NULL|    NULL|           NULL|NULL|                0|        NULL|         NULL|        NULL|           NULL|                   NULL|                 0|                 0|                     0|        NULL|          NULL|                NULL|            NULL|       0|        NULL|         NULL|     NULL|           NULL|                 0|         NULL|       NULL|           NULL|             NULL|2017-03-08 19:27:27|2017-03-09 00:08:18|
|0d837da8-c0da-49f...|     NULL|2017-03-08 19:32:34|  2|  9|       NULL|      10|     0|     NULL|    NULL|     2|           0|          200|2017-03-08 22:56:50|       8|aec99141-71ae-431...|       1|        0|        0|           0|      NULL|   NULL|         0|            NULL|              0|            0|         NULL|    NULL|           NULL|NULL|                0|        NULL|         NULL|        NULL|           NULL|                   NULL|                 0|                 0|                     0|        NULL|          NULL|                NULL|            NULL|       0|        NULL|         NULL|     NULL|           NULL|                 0|         NULL|       NULL|           NULL|             NULL|2017-03-08 19:32:51|2017-03-08 22:57:04|
+--------------------+---------+-------------------+---+---+-----------+--------+------+---------+--------+------+------------+-------------+-------------------+--------+--------------------+--------+---------+---------+------------+----------+-------+----------+----------------+---------------+-------------+-------------+--------+---------------+----+-----------------+------------+-------------+------------+---------------+-----------------------+------------------+------------------+----------------------+------------+--------------+--------------------+----------------+--------+------------+-------------+---------+---------------+------------------+-------------+-----------+---------------+-----------------+-------------------+-------------------+
only showing top 10 rows

In [21]:
print((df_Orders_spark.count(), len(df_Orders_spark.columns)))

(289322, 55)

**1- Checking for Complete Duplicates Across All Columns**

In [22]:
from pyspark.sql.functions import col

# Count duplicates
duplicate_rows = df_Orders_spark.groupBy(df_Orders_spark.columns) \
                                .count() \
                                .where(col('count') > 1) \
                                .drop('count')

# Show duplicate rows
duplicate_rows.show()

+--------------------+---------+-------------------+---+---+-----------+--------+------+---------+--------+------+------------+-------------+-------------------+--------+--------------------+--------+---------+---------+------------+----------+-------+----------+----------------+---------------+-------------+-------------------+--------+---------------+----+-----------------+------------+-------------+------------+---------------+-----------------------+------------------+------------------+----------------------+-------------------+--------------+--------------------+----------------+--------+------------+-------------------+---------+---------------+------------------+-------------+-----------+---------------+-----------------+-------------------+-------------------+
|                  id|parent_id|              odate|pos|uid|customer_id|table_id|guests|residents|comments|status|cloud_status|order_type_id|          paid_date|color_id|            shift_id|venue_id|check_uid|order_tag|pricelist_id|address_id|room_id|is_invoice|spotfolio_status|delivery_method|delivery_time|      assigned_date|order_no|min_order_value|tips|tips_payment_type|round_amount|extra_charges|food_channel|food_channel_id|food_channel_display_id|through_deliverect|through_urbanpiper|food_channel_with_cash|       fd_pickup_at|fd_prepared_at|fd_ready_dispatch_at|fd_dispatched_at|brand_id|cooking_date|      delivery_date|timeframe|subscription_id|friends_and_family|expo_informed|expo_closed|sent_to_softone|card_last4_digits|         created_at|         updated_at|
+--------------------+---------+-------------------+---+---+-----------+--------+------+---------+--------+------+------------+-------------+-------------------+--------+--------------------+--------+---------+---------+------------+----------+-------+----------+----------------+---------------+-------------+-------------------+--------+---------------+----+-----------------+------------+-------------+------------+---------------+-----------------------+------------------+------------------+----------------------+-------------------+--------------+--------------------+----------------+--------+------------+-------------------+---------+---------------+------------------+-------------+-----------+---------------+-----------------+-------------------+-------------------+
|218456dd-cef0-428...|     NULL|2023-11-25 22:03:59|  6| 49|       NULL|      68|     0|      0.0|    NULL|     2|           0|          200|2023-11-25 22:28:21|       0|fd0a5a04-3b4a-432...|       1|        0|        0|           0|      NULL|    0.0|         0|             0.0|              0|            0|0001-01-01 00:00:00|     0.0|            0.0| 0.0|                0|        NULL|         NULL|        NULL|           NULL|                   NULL|                 0|                 0|                     0|0001-01-01 00:00:00|          NULL|                NULL|            NULL|       0|        NULL|0001-01-01 00:00:00|     NULL|            0.0|                 0|         NULL|       NULL|           NULL|             NULL|2023-11-25 22:03:59|2023-11-25 22:28:23|
|107a24dc-b121-491...|     NULL|2023-11-27 20:35:54|  6| 47|       NULL|      59|     0|      0.0|    NULL|     2|           0|          200|2023-11-27 22:32:03|       9|d04dc085-9aff-432...|       1|        0|        0|           0|      NULL|    0.0|         0|             0.0|              0|            0|0001-01-01 00:00:00|     0.0|            0.0| 0.0|                0|        NULL|         NULL|        NULL|           NULL|                   NULL|                 0|                 0|                     0|0001-01-01 00:00:00|          NULL|                NULL|            NULL|       0|        NULL|0001-01-01 00:00:00|     NULL|            0.0|                 0|         NULL|       NULL|           NULL|             NULL|2023-11-27 20:35:27|2023-11-27 22:32:06|
|296c69cb-0cd8-4db...|     NULL|2023-11-29 18:27:45|  9| 41|       NULL|      78|     0|      0.0|    NULL|     2|           0|          200|2023-11-29 21:48:20|       0|e0b18f50-5f7c-49d...|       1|        0|        0|           0|      NULL|    0.0|         0|             0.0|              0|            0|0001-01-01 00:00:00|     0.0|            0.0| 0.0|                0|         0.0|         NULL|        NULL|           NULL|                   NULL|                 0|                 0|                     0|0001-01-01 00:00:00|          NULL|                NULL|            NULL|       0|        NULL|0001-01-01 00:00:00|     NULL|            0.0|                 0|         NULL|       NULL|           NULL|             NULL|2023-11-29 18:27:43|2023-11-29 21:48:21|
|91a049a3-7553-4f6...|     NULL|2023-11-30 18:38:47| 15| 42|       NULL|      26|     0|      0.0|    NULL|     2|           0|          200|2023-11-30 22:54:08|       0|a59a1f75-1b04-430...|       1|        0|        0|           0|      NULL|    0.0|         0|             0.0|              0|            0|0001-01-01 00:00:00|     0.0|            0.0| 0.0|                0|         0.0|         NULL|        NULL|           NULL|                   NULL|                 0|                 0|                     0|0001-01-01 00:00:00|          NULL|                NULL|            NULL|       0|        NULL|0001-01-01 00:00:00|     NULL|            0.0|                 0|         NULL|       NULL|           NULL|             NULL|2023-11-30 18:37:47|2023-11-30 22:54:18|
|49b6cf99-2be4-44c...|     NULL|2023-12-03 19:38:41|  5| 50|       NULL|      49|     0|      0.0|    NULL|     2|           0|          200|2023-12-03 21:33:56|       0|c04f4f4d-d2c3-4a5...|       1|        0|        0|           0|      NULL|    0.0|         0|             0.0|              0|            0|2001-01-01 00:00:00|     0.0|            0.0| 0.0|                0|         0.0|         NULL|        NULL|           NULL|                   NULL|                 0|                 0|                     0|2001-01-01 00:00:00|          NULL|                NULL|            NULL|       0|        NULL|2001-01-01 00:00:00|     NULL|            0.0|                 0|         NULL|       NULL|           NULL|             NULL|2023-12-03 19:38:38|2023-12-03 21:34:00|
|1593e989-df4f-4eb...|     NULL|2023-12-05 19:35:26|  6| 47|       NULL|      26|     5|      0.0|    NULL|     2|           0|          200|2023-12-05 21:35:21|      15|404f4cd6-3b29-4cc...|       1|        0|        0|           0|      NULL|    0.0|         0|             0.0|              0|            0|0001-01-01 00:00:00|     0.0|            0.0| 0.0|                0|        NULL|         NULL|        NULL|           NULL|                   NULL|                 0|                 0|                     0|0001-01-01 00:00:00|          NULL|                NULL|            NULL|       0|        NULL|0001-01-01 00:00:00|     NULL|            0.0|                 0|         NULL|       NULL|           NULL|             NULL|2023-12-05 19:33:23|2023-12-05 21:35:26|
|eb991a21-0181-4e6...|     NULL|2023-12-07 18:47:54|  3| 41|       NULL|      51|     0|      0.0|    NULL|     2|           0|          200|2023-12-07 20:07:10|       0|4781e057-3772-470...|       1|        0|        0|           0|      NULL|    0.0|         0|             0.0|              0|            0|0001-01-01 00:00:00|     0.0|            0.0| 0.0|                0|         0.0|         NULL|        NULL|           NULL|                   NULL|                 0|                 0|                     0|0001-01-01 00:00:00|          NULL|                NULL|            NULL|       0|        NULL|0001-01-01 00:00:00|     NULL|            0.0|                 0|         NULL|       NULL|           NULL|             NULL|2023-12-07 18:46:45|2023-12-07 20:07:14|
|569a6cd7-9eac-41e...|     NULL|2023-12-08 22:22:40|  9| 19|       NULL|       0|     0|      0.0|    NULL|     2|           0|          200|2023-12-08 22:28:53|       0|06366d75-e5e0-4e1...|       1|        0|        0|           0|      NULL|    0.0|         0|             0.0|              0|            0|0001-01-01 00:00:00|     0.0|            0.0| 0.0|                0|         0.0|         NULL|        NULL|           NULL|                   NULL|                 0|                 0|                     0|0001-01-01 00:00:00|          NULL|                NULL|            NULL|       0|        NULL|0001-01-01 00:00:00|     NULL|            0.0|                 0|         NULL|       NULL|           NULL|             NULL|2023-12-08 22:22:36|2023-12-08 22:28:54|
|88846c80-e5c6-4d7...|     NULL|2023-12-09 13:57:07|  2| 17|       NULL|      40|     0|      0.0|    NULL|     2|           0|          200|2023-12-09 14:14:17|       0|176543df-d02b-4d1...|       1|        0|        0|           0|      NULL|    0.0|         0|             0.0|              0|            0|0001-01-01 00:00:00|     0.0|            0.0| 0.0|                0|         0.0|         NULL|        NULL|           NULL|                   NULL|                 0|                 0|                     0|0001-01-01 00:00:00|          NULL|                NULL|            NULL|       0|        NULL|0001-01-01 00:00:00|     NULL|            0.0|                 0|         NULL|       NULL|           NULL|             NULL|2023-12-09 13:57:06|2023-12-09 14:14:18|
|87573f3f-0e7b-41c...|     NULL|2023-12-09 20:09:30|  9| 47|       NULL|      57|     0|      0.0|    NULL|     2|           0|          200|2023-12-09 21:23:56|      15|ce5f8254-7384-424...|       1|        0|        0|           0|      NULL|    0.0|         0|             0.0|              0|            0|0001-01-01 00:00:00|     0.0|            0.0| 0.0|                0|         0.0|         NULL|        NULL|           NULL|                   NULL|                 0|                 0|                     0|0001-01-01 00:00:00|          NULL|                NULL|            NULL|       0|        NULL|0001-01-01 00:00:00|     NULL|            0.0|                 0|         NULL|       NULL|           NULL|             NULL|2023-12-09 20:08:00|2023-12-09 21:24:03|
|5dc3a84d-7143-420...|     NULL|2023-12-12 13:47:25|  2| 17|       NULL|      78|     0|      0.0|    NULL|     2|           0|          200|2023-12-12 14:04:08|       0|e6ad417d-bee7-494...|       1|        0|        0|           0|      NULL|    0.0|         0|             0.0|              0|            0|0001-01-01 00:00:00|     0.0|            0.0| 0.0|                0|         0.0|         NULL|        NULL|           NULL|                   NULL|                 0|                 0|                     0|0001-01-01 00:00:00|          NULL|                NULL|            NULL|       0|        NULL|0001-01-01 00:00:00|     NULL|            0.0|                 0|         NULL|       NULL|           NULL|             NULL|2023-12-12 13:47:24|2023-12-12 14:04:10|
|b6a9eb9f-0470-48f...|     NULL|2023-12-12 19:33:08|  2| 17|       NULL|      39|     0|      0.0|    NULL|     2|           0|          200|2023-12-12 23:00:48|       0|01ec32b9-d361-414...|       1|        0|        0|           0|      NULL|    0.0|         0|             0.0|              0|            0|0001-01-01 00:00:00|     0.0|            0.0| 0.0|                0|         0.0|         NULL|        NULL|           NULL|                   NULL|                 0|                 0|                     0|0001-01-01 00:00:00|          NULL|                NULL|            NULL|       0|        NULL|0001-01-01 00:00:00|     NULL|            0.0|                 0|         NULL|       NULL|           NULL|             NULL|2023-12-12 19:31:05|2023-12-12 23:00:52|
|ec4a12d1-bd7b-499...|     NULL|2023-12-13 13:37:45|  5| 49|       NULL|      68|     0|      0.0|    NULL|     2|           0|          200|2023-12-13 14:09:47|       0|30675dd2-760b-420...|       1|        0|        0|           0|      NULL|    0.0|         0|             0.0|              0|            0|0001-01-01 00:00:00|     0.0|            0.0| 0.0|                0|         0.0|         NULL|        NULL|           NULL|                   NULL|                 0|                 0|                     0|0001-01-01 00:00:00|          NULL|                NULL|            NULL|       0|        NULL|0001-01-01 00:00:00|     NULL|            0.0|                 0|         NULL|       NULL|           NULL|             NULL|2023-12-13 13:37:43|2023-12-13 14:09:50|
|213c359d-d744-49e...|     NULL|2023-12-14 19:05:30|  9| 41|       NULL|      75|     0|      0.0|    NULL|     2|           0|          200|2023-12-14 20:06:08|       0|4b29a824-3869-497...|       1|        0|        0|           0|      NULL|    0.0|         0|             0.0|              0|            0|0001-01-01 00:00:00|     0.0|            0.0| 0.0|                0|         0.0|         NULL|        NULL|           NULL|                   NULL|                 0|                 0|                     0|0001-01-01 00:00:00|          NULL|                NULL|            NULL|       0|        NULL|0001-01-01 00:00:00|     NULL|            0.0|                 0|         NULL|       NULL|           NULL|             NULL|2023-12-14 19:03:39|2023-12-14 20:06:11|
|d3d2f604-5b31-4ed...|     NULL|2023-12-14 19:05:16|  9| 41|       NULL|      56|     0|      0.0|    NULL|     2|           0|          200|2023-12-14 21:17:22|       0|4b29a824-3869-497...|       1|        0|        0|           0|      NULL|    0.0|         0|             0.0|              0|            0|2001-01-01 00:00:00|     0.0|            0.0| 0.0|                0|         0.0|         NULL|        NULL|           NULL|                   NULL|                 0|                 0|                     0|2001-01-01 00:00:00|          NULL|                NULL|            NULL|       0|        NULL|2001-01-01 00:00:00|     NULL|            0.0|                 0|         NULL|       NULL|           NULL|             NULL|2023-12-14 19:05:07|2023-12-14 21:17:28|
|d3859824-1c0a-44a...|     NULL|2023-12-16 13:24:38| 15| 42|       NULL|      15|     0|      0.0|    NULL|     2|           0|          200|2023-12-16 14:49:34|      15|24fa88f5-cccb-4ce...|       1|        0|        0|           0|      NULL|    0.0|         0|             0.0|              0|            0|0001-01-01 00:00:00|     0.0|            0.0| 0.0|                0|         0.0|         NULL|        NULL|           NULL|                   NULL|                 0|                 0|                     0|0001-01-01 00:00:00|          NULL|                NULL|            NULL|       0|        NULL|0001-01-01 00:00:00|     NULL|            0.0|                 0|         NULL|       NULL|           NULL|             NULL|2023-12-16 13:23:21|2023-12-16 14:49:37|
|919a8f6b-76ac-493...|     NULL|2023-12-16 17:17:05|  2| 17|       NULL|      42|     0|      0.0|    NULL|     2|           0|          200|2023-12-16 19:27:36|       0|0883bb5f-26ba-460...|       1|        0|        0|           0|      NULL|    0.0|         0|             0.0|              0|            0|0001-01-01 00:00:00|     0.0|            0.0| 0.0|                0|         0.0|         NULL|        NULL|           NULL|                   NULL|                 0|                 0|                     0|0001-01-01 00:00:00|          NULL|                NULL|            NULL|       0|        NULL|0001-01-01 00:00:00|     NULL|            0.0|                 0|         NULL|       NULL|           NULL|             NULL|2023-12-16 17:16:54|2023-12-16 19:27:38|
|2b4158ed-6373-4b0...|     NULL|2023-12-17 13:41:44|  2| 17|       NULL|      43|     0|      0.0|    NULL|     2|           0|          200|2023-12-17 16:01:32|       0|52b32808-1473-4ec...|       1|        0|        0|           0|      NULL|    0.0|         0|             0.0|              0|            0|0001-01-01 00:00:00|     0.0|            0.0| 0.0|                0|         0.0|         NULL|        NULL|           NULL|                   NULL|                 0|                 0|                     0|0001-01-01 00:00:00|          NULL|                NULL|            NULL|       0|        NULL|0001-01-01 00:00:00|     NULL|            0.0|                 0|         NULL|       NULL|           NULL|             NULL|2023-12-17 13:41:32|2023-12-17 16:01:34|
|178db1a1-93ff-479...|     NULL|2023-12-17 16:17:41|  8| 50|       NULL|      70|     0|      0.0|    NULL|     2|           0|          200|2023-12-17 17:33:48|      15|7760cdc5-06e6-4fe...|       1|        0|        0|           0|      NULL|    0.0|         0|             0.0|              0|            0|2001-01-01 00:00:00|     0.0|            0.0| 0.0|                0|         0.0|         NULL|        NULL|           NULL|                   NULL|                 0|                 0|                     0|2001-01-01 00:00:00|          NULL|                NULL|            NULL|       0|        NULL|2001-01-01 00:00:00|     NULL|            0.0|                 0|         NULL|       NULL|           NULL|             NULL|2023-12-17 16:16:44|2023-12-17 17:33:51|
|98d4ef1a-1654-4c6...|     NULL|2023-12-20 11:15:22| 16| 41|       NULL|      51|     0|      0.0|    NULL|     2|           0|          200|2023-12-20 12:08:12|       0|29ff9380-8292-4a4...|       1|        0|        0|           0|      NULL|    0.0|         0|             0.0|              0|            0|0001-01-01 00:00:00|     0.0|            0.0| 0.0|                0|         0.0|         NULL|        NULL|           NULL|                   NULL|                 0|                 0|                     0|0001-01-01 00:00:00|          NULL|                NULL|            NULL|       0|        NULL|0001-01-01 00:00:00|     NULL|            0.0|                 0|         NULL|       NULL|           NULL|             NULL|2023-12-20 11:15:08|2023-12-20 12:08:15|
+--------------------+---------+-------------------+---+---+-----------+--------+------+---------+--------+------+------------+-------------+-------------------+--------+--------------------+--------+---------+---------+------------+----------+-------+----------+----------------+---------------+-------------+-------------------+--------+---------------+----+-----------------+------------+-------------+------------+---------------+-----------------------+------------------+------------------+----------------------+-------------------+--------------+--------------------+----------------+--------+------------+-------------------+---------+---------------+------------------+-------------+-----------+---------------+-----------------+-------------------+-------------------+
only showing top 20 rows

In [23]:
print((duplicate_rows.count(), len(duplicate_rows.columns)))

(6661, 55)

**2- Checking for Duplicates Based on Specific Columns**

In [24]:
duplicate_rows_specific = df_Orders_spark.groupBy('id', 'odate', 'pos', 'uid', 'paid_date', 'created_at', 'updated_at') \
                                         .count() \
                                         .where(col('count') > 1) \
                                         .drop('count')

# Show these specific duplicate rows
duplicate_rows_specific.show()

+--------------------+-------------------+---+---+-------------------+-------------------+-------------------+
|                  id|              odate|pos|uid|          paid_date|         created_at|         updated_at|
+--------------------+-------------------+---+---+-------------------+-------------------+-------------------+
|a02ca74d-641b-42c...|2023-11-26 19:36:31|  9| 35|2023-11-26 20:22:45|2023-11-26 19:33:43|2023-11-26 20:22:49|
|83d2a3ed-bbdf-498...|2023-11-27 13:28:40|  9| 41|2023-11-27 14:38:18|2023-11-27 13:28:23|2023-11-27 14:38:21|
|a64e4afc-34a6-422...|2023-11-27 14:35:39|  9| 41|2023-11-27 15:49:22|2023-11-27 14:34:41|2023-11-27 15:49:25|
|15b7e55d-c6ff-430...|2023-11-30 22:16:54|  5| 19|2023-11-30 22:23:58|2023-11-30 22:16:53|2023-11-30 22:24:01|
|b3462d30-057d-43c...|2023-12-06 20:37:35|  3| 41|2023-12-06 21:18:53|2023-12-06 21:44:01|2023-12-06 21:44:21|
|2bcb05ae-4785-4cb...|2023-12-06 21:11:41|  6| 25|2023-12-06 22:37:08|2023-12-06 23:35:03|2023-12-06 23:35:27|
|51a60bc4-5cce-48b...|2023-12-07 19:05:44|  9| 35|2023-12-07 20:01:44|2023-12-07 19:05:40|2023-12-07 20:01:48|
|95059927-036e-475...|2023-12-10 11:17:06|  8| 49|2023-12-10 12:14:24|2023-12-10 11:16:44|2023-12-10 12:14:27|
|eeaad75a-cc4b-401...|2023-12-11 13:08:15|  3| 38|2023-12-11 13:44:55|2023-12-11 13:07:23|2023-12-11 13:44:58|
|c235f499-4e2f-422...|2023-12-14 12:12:42|  5| 49|2023-12-14 13:29:06|2023-12-14 12:12:16|2023-12-14 13:29:10|
|7a053099-2872-42c...|2023-12-15 10:02:44| 15| 42|2023-12-15 11:20:50|2023-12-15 10:02:13|2023-12-15 11:20:53|
|f02a3c8d-0607-409...|2023-12-16 13:17:38|  5| 38|2023-12-16 14:09:35|2023-12-16 13:17:26|2023-12-16 14:09:37|
|e79cb9ee-086f-409...|2023-12-20 20:55:45|  5| 42|2023-12-20 22:10:53|2023-12-20 20:54:02|2023-12-20 22:10:57|
|cbd97f45-398d-45d...|2023-12-22 12:22:12|  8| 35|2023-12-22 13:08:04|2023-12-22 12:22:09|2023-12-22 13:08:07|
|65cf7253-8c3a-4c4...|2023-12-23 09:19:53|  2| 17|2023-12-23 11:32:20|2023-12-23 09:19:49|2023-12-23 11:32:21|
|f554f645-dfd8-4c8...|2023-12-26 18:36:57|  2| 17|2023-12-26 22:58:32|2023-12-26 18:35:50|2023-12-26 22:58:34|
|c0304327-4b6d-45e...|2023-12-27 20:37:13|  8| 38|2023-12-27 21:40:49|2023-12-27 20:27:50|2023-12-27 21:40:52|
|0d5fc4ad-c594-431...|2023-12-28 14:13:10| 15| 42|2001-01-01 00:00:00|2023-12-28 14:12:57|2023-12-28 16:09:04|
|fc072886-c202-439...|2023-12-28 14:42:13|  2| 17|2023-12-28 15:44:25|2023-12-28 14:41:44|2023-12-28 15:44:27|
|13ae4bfb-aac4-45c...|2023-12-29 12:17:58|  9| 51|0001-01-01 00:00:00|2023-12-29 12:17:46|2023-12-29 12:32:29|
+--------------------+-------------------+---+---+-------------------+-------------------+-------------------+
only showing top 20 rows

In [25]:
print((duplicate_rows_specific.count(), len(duplicate_rows_specific.columns)))

(6661, 7)

**3- Counting the Number of Duplicates for Each Row**

In [26]:
from pyspark.sql.window import Window
from pyspark.sql.functions import count

windowSpec = Window.partitionBy(df_Orders_spark.columns)

df_Orders_spark_with_counts = df_Orders_spark.withColumn("duplicate_count", count("*").over(windowSpec))

df_Orders_spark_with_counts.show()

+--------------------+---------+-------------------+---+---+-----------+--------+------+---------+--------+------+------------+-------------+-------------------+--------+--------------------+--------+---------+---------+------------+----------+-------+----------+----------------+---------------+-------------+-------------------+--------+---------------+----+-----------------+------------+-------------+------------+---------------+-----------------------+------------------+------------------+----------------------+-------------------+--------------+--------------------+----------------+--------+------------+-------------------+---------+---------------+------------------+-------------+-----------+---------------+-----------------+-------------------+-------------------+---------------+
|                  id|parent_id|              odate|pos|uid|customer_id|table_id|guests|residents|comments|status|cloud_status|order_type_id|          paid_date|color_id|            shift_id|venue_id|check_uid|order_tag|pricelist_id|address_id|room_id|is_invoice|spotfolio_status|delivery_method|delivery_time|      assigned_date|order_no|min_order_value|tips|tips_payment_type|round_amount|extra_charges|food_channel|food_channel_id|food_channel_display_id|through_deliverect|through_urbanpiper|food_channel_with_cash|       fd_pickup_at|fd_prepared_at|fd_ready_dispatch_at|fd_dispatched_at|brand_id|cooking_date|      delivery_date|timeframe|subscription_id|friends_and_family|expo_informed|expo_closed|sent_to_softone|card_last4_digits|         created_at|         updated_at|duplicate_count|
+--------------------+---------+-------------------+---+---+-----------+--------+------+---------+--------+------+------------+-------------+-------------------+--------+--------------------+--------+---------+---------+------------+----------+-------+----------+----------------+---------------+-------------+-------------------+--------+---------------+----+-----------------+------------+-------------+------------+---------------+-----------------------+------------------+------------------+----------------------+-------------------+--------------+--------------------+----------------+--------+------------+-------------------+---------+---------------+------------------+-------------+-----------+---------------+-----------------+-------------------+-------------------+---------------+
|000001b5-df00-4b7...|     NULL|2021-05-18 16:57:30|  8| 33|       NULL|      72|     3|      0.0|    NULL|     2|           0|          200|2021-05-18 19:19:44|       0|4884fefc-c8a3-46f...|       1|        0|        0|           0|      NULL|    0.0|         0|             0.0|              0|            0|0001-01-01 00:00:00|     0.0|           NULL|NULL|                0|        NULL|         NULL|        NULL|           NULL|                   NULL|                 0|                 0|                     0|               NULL|          NULL|                NULL|            NULL|       0|        NULL|               NULL|     NULL|           NULL|                 0|         NULL|       NULL|           NULL|             NULL|2021-05-18 16:54:55|2021-05-18 19:19:46|              1|
|00005eef-a712-48a...|     NULL|2018-06-20 19:24:13|  4| 12|       NULL|      70|     3|     NULL|    NULL|     2|           0|          200|2018-06-20 21:23:47|      10|ee331e14-5a1d-4ec...|       1|        0|        0|           0|      NULL|    0.0|         0|            NULL|              0|            0|               NULL|    NULL|           NULL|NULL|                0|        NULL|         NULL|        NULL|           NULL|                   NULL|                 0|                 0|                     0|               NULL|          NULL|                NULL|            NULL|       0|        NULL|               NULL|     NULL|           NULL|                 0|         NULL|       NULL|           NULL|             NULL|2018-06-20 19:23:50|2018-06-20 21:23:53|              1|
|000075f4-55af-46f...|     NULL|2019-03-27 12:34:32|  9| 32|       NULL|      24|     1|     NULL|    NULL|     2|           0|          200|2019-03-27 14:21:07|       0|29eecbca-a9e5-466...|       1|        0|        0|           0|      NULL|    0.0|         0|            NULL|              0|            0|               NULL|    NULL|           NULL|NULL|                0|        NULL|         NULL|        NULL|           NULL|                   NULL|                 0|                 0|                     0|               NULL|          NULL|                NULL|            NULL|       0|        NULL|               NULL|     NULL|           NULL|                 0|         NULL|       NULL|           NULL|             NULL|2019-03-27 12:34:32|2019-03-27 14:21:09|              1|
|00015ce3-b283-451...|     NULL|2018-10-05 16:37:18|  3| 30|       NULL|      62|     0|     NULL|    NULL|     2|           0|          200|2018-10-05 18:56:25|       0|f3304f43-4064-479...|       1|        0|        0|           0|      NULL|    0.0|         0|            NULL|              0|            0|               NULL|    NULL|           NULL|NULL|                0|        NULL|         NULL|        NULL|           NULL|                   NULL|                 0|                 0|                     0|               NULL|          NULL|                NULL|            NULL|       0|        NULL|               NULL|     NULL|           NULL|                 0|         NULL|       NULL|           NULL|             NULL|2018-10-05 16:36:58|2018-10-05 18:56:30|              1|
|000169f9-9b7e-4a8...|     NULL|2022-02-20 09:35:49|  8| 19|       NULL|      57|     0|      0.0|    NULL|     2|           0|          200|2022-02-20 10:16:51|       0|c2d24adb-0707-439...|       1|        0|        0|           0|      NULL|    0.0|         0|             0.0|              0|            0|0001-01-01 00:00:00|     0.0|            0.0| 0.0|                0|        NULL|         NULL|        NULL|           NULL|                   NULL|                 0|                 0|                     0|               NULL|          NULL|                NULL|            NULL|       0|        NULL|               NULL|     NULL|           NULL|                 0|         NULL|       NULL|           NULL|             NULL|2022-02-20 09:35:18|2022-02-20 10:16:53|              1|
|0001abd0-92f5-468...|     NULL|2022-03-20 13:43:41|  6| 42|       NULL|      49|     0|      0.0|    NULL|     2|           0|          200|2022-03-20 15:32:13|       0|b7033475-7554-4b1...|       1|        0|        0|           0|      NULL|    0.0|         0|             0.0|              0|            0|0001-01-01 00:00:00|     0.0|            0.0| 0.0|                0|        NULL|         NULL|        NULL|           NULL|                   NULL|                 0|                 0|                     0|               NULL|          NULL|                NULL|            NULL|       0|        NULL|               NULL|     NULL|           NULL|                 0|         NULL|       NULL|           NULL|             NULL|2022-03-20 13:41:58|2022-03-20 15:32:16|              1|
|0001da48-ff06-4f1...|     NULL|2019-03-25 21:14:43|  6| 19|       NULL|       9|     2|     NULL|    NULL|     2|           0|          200|2001-01-01 00:00:00|       0|0fd7d113-e85f-421...|       1|        0|        0|           0|      NULL|    0.0|         0|            NULL|              0|            0|               NULL|    NULL|           NULL|NULL|                0|        NULL|         NULL|        NULL|           NULL|                   NULL|                 0|                 0|                     0|               NULL|          NULL|                NULL|            NULL|       0|        NULL|               NULL|     NULL|           NULL|                 0|         NULL|       NULL|           NULL|             NULL|2019-03-25 21:13:03|2019-03-25 22:49:17|              1|
|000244d2-2315-48e...|     NULL|2022-12-05 16:10:05|  6| 25|       NULL|      57|     2|      0.0|    NULL|     2|           0|          200|2022-12-05 17:38:01|       0|9522255d-6c2a-4c4...|       1|        0|        0|           0|      NULL|    0.0|         0|             0.0|              0|            0|0001-01-01 00:00:00|     0.0|            0.0| 0.0|                0|        NULL|         NULL|        NULL|           NULL|                   NULL|                 0|                 0|                     0|0001-01-01 00:00:00|          NULL|                NULL|            NULL|       0|        NULL|0001-01-01 00:00:00|     NULL|            0.0|                 0|         NULL|       NULL|           NULL|             NULL|2022-12-05 16:09:42|2022-12-05 17:38:04|              1|
|0002f6cb-daf6-4a5...|     NULL|2018-03-20 11:44:58|  4| 26|       NULL|      56|     0|     NULL|    NULL|     2|           0|          200|2018-03-20 13:40:31|       7|44a7a337-effd-46b...|       1|        0|        0|           0|      NULL|    0.0|         0|            NULL|              0|            0|               NULL|    NULL|           NULL|NULL|                0|        NULL|         NULL|        NULL|           NULL|                   NULL|                 0|                 0|                     0|               NULL|          NULL|                NULL|            NULL|       0|        NULL|               NULL|     NULL|           NULL|                 0|         NULL|       NULL|           NULL|             NULL|2018-03-20 11:44:41|2018-03-20 13:40:34|              1|
|00033458-8746-457...|     NULL|2019-03-16 15:53:52| 10| 30|       NULL|      54|     0|     NULL|    NULL|     2|           0|          200|2001-01-01 00:00:00|       0|6718281d-c5db-476...|       1|        0|        0|           0|      NULL|    0.0|         0|            NULL|              0|            0|               NULL|    NULL|           NULL|NULL|                0|        NULL|         NULL|        NULL|           NULL|                   NULL|                 0|                 0|                     0|               NULL|          NULL|                NULL|            NULL|       0|        NULL|               NULL|     NULL|           NULL|                 0|         NULL|       NULL|           NULL|             NULL|2019-03-16 15:53:40|2019-03-16 16:59:37|              1|
|00036ac2-d8bc-49b...|     NULL|2019-12-11 09:20:16|  8| 36|       NULL|      71|     1|     NULL|    NULL|     2|           0|          200|2019-12-11 11:26:12|       0|1835a575-7cd7-482...|       1|        0|        0|           0|      NULL|    0.0|         0|            NULL|              0|            0|               NULL|     0.0|           NULL|NULL|                0|        NULL|         NULL|        NULL|           NULL|                   NULL|                 0|                 0|                     0|               NULL|          NULL|                NULL|            NULL|       0|        NULL|               NULL|     NULL|           NULL|                 0|         NULL|       NULL|           NULL|             NULL|2019-12-11 09:20:15|2019-12-11 11:26:14|              1|
|000378a9-4e74-4c7...|     NULL|2023-06-28 16:00:50|  2| 24|       NULL|      62|     2|      0.0|    NULL|     2|           0|          200|2023-06-28 17:42:35|       0|27227476-75be-492...|       1|        0|        0|           0|      NULL|    0.0|         0|             0.0|              0|            0|0001-01-01 00:00:00|     0.0|            0.0| 0.0|                0|        NULL|         NULL|        NULL|           NULL|                   NULL|                 0|                 0|                     0|0001-01-01 00:00:00|          NULL|                NULL|            NULL|       0|        NULL|0001-01-01 00:00:00|     NULL|            0.0|                 0|         NULL|       NULL|           NULL|             NULL|2023-06-28 16:00:47|2023-06-28 17:42:38|              1|
|000425cc-b476-4f8...|     NULL|2017-11-07 10:03:23|  6| 22|       NULL|      53|     0|     NULL|    NULL|     2|           0|          200|2017-11-07 11:11:03|       0|35afd9c9-1574-441...|       1|        0|        0|           0|      NULL|    0.0|         0|            NULL|              0|            0|               NULL|    NULL|           NULL|NULL|                0|        NULL|         NULL|        NULL|           NULL|                   NULL|                 0|                 0|                     0|               NULL|          NULL|                NULL|            NULL|       0|        NULL|               NULL|     NULL|           NULL|                 0|         NULL|       NULL|           NULL|             NULL|2017-11-07 10:03:07|2017-11-07 11:11:31|              1|
|00057733-fd4e-463...|     NULL|2023-09-19 17:54:10| 17| 42|       NULL|      70|     0|      0.0|    NULL|     2|           0|          200|2023-09-19 19:22:55|       0|980f858b-2717-47d...|       1|        0|        0|           0|      NULL|    0.0|         0|             0.0|              0|            0|0001-01-01 00:00:00|     0.0|            0.0| 0.0|                0|        NULL|         NULL|        NULL|           NULL|                   NULL|                 0|                 0|                     0|0001-01-01 00:00:00|          NULL|                NULL|            NULL|       0|        NULL|0001-01-01 00:00:00|     NULL|            0.0|                 0|         NULL|       NULL|           NULL|             NULL|2023-09-19 17:53:03|2023-09-19 19:22:58|              1|
|00062cfe-a1bd-427...|     NULL|2017-11-22 15:27:17|  7| 17|       NULL|      39|     2|     NULL|    NULL|     2|           0|          200|2017-11-22 15:54:10|       0|b466ec98-6d9c-402...|       1|        0|        0|           0|      NULL|    0.0|         0|            NULL|              0|            0|               NULL|    NULL|           NULL|NULL|                0|        NULL|         NULL|        NULL|           NULL|                   NULL|                 0|                 0|                     0|               NULL|          NULL|                NULL|            NULL|       0|        NULL|               NULL|     NULL|           NULL|                 0|         NULL|       NULL|           NULL|             NULL|2017-11-22 15:27:10|2017-11-22 15:54:14|              1|
|000858fc-2e13-47e...|     NULL|2021-06-28 10:54:04|  8| 22|       NULL|      62|     0|      0.0|    NULL|     2|           0|          200|2021-06-28 11:49:14|       0|07714616-7e41-45a...|       1|        0|        0|           0|      NULL|    0.0|         0|             0.0|              0|            0|0001-01-01 00:00:00|     0.0|           NULL|NULL|                0|        NULL|         NULL|        NULL|           NULL|                   NULL|                 0|                 0|                     0|               NULL|          NULL|                NULL|            NULL|       0|        NULL|               NULL|     NULL|           NULL|                 0|         NULL|       NULL|           NULL|             NULL|2021-06-28 10:53:21|2021-06-28 11:49:18|              1|
|000989d0-afea-4d2...|     NULL|2020-09-23 15:52:34|  5| 19|       NULL|      21|     0|     NULL|    NULL|     2|           0|          200|2020-09-23 17:21:13|       0|83ba0cd4-a444-437...|       1|        0|        0|           0|      NULL|    0.0|         0|             0.0|              0|            0|0001-01-01 00:00:00|     0.0|           NULL|NULL|                0|        NULL|         NULL|        NULL|           NULL|                   NULL|                 0|                 0|                     0|               NULL|          NULL|                NULL|            NULL|       0|        NULL|               NULL|     NULL|           NULL|                 0|         NULL|       NULL|           NULL|             NULL|2020-09-23 16:06:33|2020-09-23 17:21:15|              1|
|000a7e08-db81-40b...|     NULL|2018-10-10 19:25:33|  4|  9|       NULL|       7|     0|     NULL|    NULL|     2|           0|          200|2018-10-10 21:47:48|       0|2a2beb5a-f1f6-46c...|       1|        0|        0|           0|      NULL|    0.0|         0|            NULL|              0|            0|               NULL|    NULL|           NULL|NULL|                0|        NULL|         NULL|        NULL|           NULL|                   NULL|                 0|                 0|                     0|               NULL|          NULL|                NULL|            NULL|       0|        NULL|               NULL|     NULL|           NULL|                 0|         NULL|       NULL|           NULL|             NULL|2018-10-10 19:23:20|2018-10-10 21:47:53|              1|
|000ab780-8e38-4a3...|     NULL|2023-11-21 20:48:32|  6| 47|       NULL|      57|     0|      0.0|  λαγος |     2|           0|          200|2023-11-21 21:52:01|      15|8bfc3847-7214-4db...|       1|        0|        0|           0|      NULL|    0.0|         0|             0.0|              0|            0|0001-01-01 00:00:00|     0.0|            0.0| 0.0|                0|        NULL|         NULL|        NULL|           NULL|                   NULL|                 0|                 0|                     0|0001-01-01 00:00:00|          NULL|                NULL|            NULL|       0|        NULL|0001-01-01 00:00:00|     NULL|            0.0|                 0|         NULL|       NULL|           NULL|             NULL|2023-11-21 20:48:09|2023-11-21 21:52:03|              1|
|000b4504-7ad8-4be...|     NULL|2019-11-15 21:36:33|  9| 32|       NULL|      29|     0|     NULL|    NULL|     2|           0|          200|2019-11-15 21:36:51|       0|bc0ce769-4e07-45b...|       1|        0|        0|           0|      NULL|    0.0|         0|            NULL|              0|            0|               NULL|     0.0|           NULL|NULL|                0|        NULL|         NULL|        NULL|           NULL|                   NULL|                 0|                 0|                     0|               NULL|          NULL|                NULL|            NULL|       0|        NULL|               NULL|     NULL|           NULL|                 0|         NULL|       NULL|           NULL|             NULL|2019-11-15 21:36:31|2019-11-15 21:36:52|              1|
+--------------------+---------+-------------------+---+---+-----------+--------+------+---------+--------+------+------------+-------------+-------------------+--------+--------------------+--------+---------+---------+------------+----------+-------+----------+----------------+---------------+-------------+-------------------+--------+---------------+----+-----------------+------------+-------------+------------+---------------+-----------------------+------------------+------------------+----------------------+-------------------+--------------+--------------------+----------------+--------+------------+-------------------+---------+---------------+------------------+-------------+-----------+---------------+-----------------+-------------------+-------------------+---------------+
only showing top 20 rows

In [27]:
from pyspark.sql.functions import col

# Select the 'duplicate_count' column and get distinct values
unique_duplicate_counts = df_Orders_spark_with_counts.select('duplicate_count').distinct()

# Show the unique values
unique_duplicate_counts.show()

+---------------+
|duplicate_count|
+---------------+
|              1|
|              2|
+---------------+

In [28]:
from pyspark.sql.functions import col

# Group by the 'duplicate_count' column and count each group
count_of_each_value = df_Orders_spark_with_counts.groupBy('duplicate_count').count()

# Show the count of each unique value in 'duplicate_count'
count_of_each_value.show()

+---------------+------+
|duplicate_count| count|
+---------------+------+
|              1|276000|
|              2| 13322|
+---------------+------+

In [29]:
13322/2

6661.0

# Counting and dropping Duplicates for the Entire Rows

In [12]:
df_Orders_01.shape

(289322, 55)

In [10]:
df_Orders_02 = df_Orders_01.drop_duplicates()

In [14]:
df_Orders_02.shape

(282661, 55)

In [23]:
df_Orders_02

,id,parent_id,odate,pos,uid,customer_id,table_id,guests,residents,comments,...,delivery_date,timeframe,subscription_id,friends_and_family,expo_informed,expo_closed,sent_to_softone,card_last4_digits,created_at,updated_at
0,374c214d-52f8-4bdd-8d30-d225b3127cc3,NaN,2017-03-08 17:49:25,6,12,NaN,21,2,NaN,None,...,None,NaN,NaN,0,NaN,NaN,NaN,NaN,2017-03-08 17:49:37,2017-03-08 20:03:25
1,20bb1ead-e1a4-48c9-b55f-cbe04831d82a,NaN,2017-03-08 18:07:07,6,12,NaN,23,2,NaN,None,...,None,NaN,NaN,0,NaN,NaN,NaN,NaN,2017-03-08 18:07:20,2017-03-09 00:54:56
2,ed463ddc-8f42-4866-afaf-d1b2ee69ef3c,NaN,2017-03-08 18:25:21,6,12,NaN,26,6,NaN,περιε,...,None,NaN,NaN,0,NaN,NaN,NaN,NaN,2017-03-08 18:25:32,2017-03-08 21:09:54
3,7bbe2506-bc5d-47cb-abc6-669bb023ae7e,NaN,2017-03-08 18:40:37,4,11,NaN,0,0,NaN,None,...,None,NaN,NaN,0,NaN,NaN,NaN,NaN,2017-03-08 18:40:59,2017-03-08 19:23:24
4,4b79b04d-5f3a-422b-9f83-155572a2c816,NaN,2017-03-08 19:11:46,3,10,NaN,50,8,NaN,None,...,None,NaN,NaN,0,NaN,NaN,NaN,NaN,2017-03-08 19:11:56,2017-03-08 22:39:41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282656,0a2e9b39-9c99-48b6-b896-8e56bc7d36c4,NaN,2024-01-10 14:18:46,5,51,NaN,18,1,0.0,Χαρης,...,0001-01-01 00:00:00,NaN,0.0,0,NaN,NaN,NaN,NaN,2024-01-10 14:18:16,2024-01-10 15:05:03
282657,36f63a49-664b-4dce-8be1-e4a50b961bb3,NaN,2024-01-10 14:26:29,2,17,NaN,46,0,0.0,ΜΠΑΜΠΗΣ,...,0001-01-01 00:00:00,NaN,0.0,0,NaN,NaN,NaN,NaN,2024-01-10 14:26:16,2024-01-10 15:15:21
282658,24912113-3ca7-40ed-9a7c-e0a0b2bcfc24,NaN,2024-01-10 14:43:09,2,17,NaN,39,0,0.0,None,...,0001-01-01 00:00:00,NaN,0.0,0,NaN,NaN,NaN,NaN,2024-01-10 14:43:06,2024-01-10 14:43:11
282659,87c488dc-7c48-4ecf-9886-c174f8875bf9,NaN,2024-01-10 15:02:10,2,17,NaN,40,2,0.0,None,...,2001-01-01 00:00:00,NaN,0.0,0,NaN,NaN,NaN,NaN,2024-01-10 15:01:37,2024-01-10 15:15:25
282660,3d4a6b69-ae50-4c38-86b5-79c0f0e49568,NaN,2024-01-10 15:07:44,15,50,NaN,26,0,0.0,None,...,0001-01-01 00:00:00,NaN,0.0,0,NaN,NaN,NaN,NaN,2024-01-10 15:07:21,2024-01-10 15:08:56

In [24]:
df_Orders_02.columns

Index(['id', 'parent_id', 'odate', 'pos', 'uid', 'customer_id', 'table_id',
       'guests', 'residents', 'comments', 'status', 'cloud_status',
       'order_type_id', 'paid_date', 'color_id', 'shift_id', 'venue_id',
       'check_uid', 'order_tag', 'pricelist_id', 'address_id', 'room_id',
       'is_invoice', 'spotfolio_status', 'delivery_method', 'delivery_time',
       'assigned_date', 'order_no', 'min_order_value', 'tips',
       'tips_payment_type', 'round_amount', 'extra_charges', 'food_channel',
       'food_channel_id', 'food_channel_display_id', 'through_deliverect',
       'through_urbanpiper', 'food_channel_with_cash', 'fd_pickup_at',
       'fd_prepared_at', 'fd_ready_dispatch_at', 'fd_dispatched_at',
       'brand_id', 'cooking_date', 'delivery_date', 'timeframe',
       'subscription_id', 'friends_and_family', 'expo_informed', 'expo_closed',
       'sent_to_softone', 'card_last4_digits', 'created_at', 'updated_at'],
      dtype='object')

In [25]:
df_Orders_02.isnull().sum()

id                              0
parent_id                  282661
odate                           0
pos                             0
uid                             0
customer_id                282661
table_id                        0
guests                          0
residents                  157097
comments                   266053
status                          0
cloud_status                    0
order_type_id                   0
paid_date                       0
color_id                        0
shift_id                        0
venue_id                        0
check_uid                       0
order_tag                       0
pricelist_id                    0
address_id                 282661
room_id                     19553
is_invoice                      0
spotfolio_status           148204
delivery_method                 0
delivery_time                   0
assigned_date              148204
order_no                   113152
min_order_value            165458
tips                       165458
tips_payment_type               0
round_amount               276292
extra_charges              282661
food_channel               282661
food_channel_id            282661
food_channel_display_id    282661
through_deliverect              0
through_urbanpiper              0
food_channel_with_cash          0
fd_pickup_at               222727
fd_prepared_at             282661
fd_ready_dispatch_at       282661
fd_dispatched_at           282661
brand_id                        0
cooking_date               282661
delivery_date              201923
timeframe                  282661
subscription_id            201923
friends_and_family              0
expo_informed              282661
expo_closed                282661
sent_to_softone            282661
card_last4_digits          282661
created_at                      0
updated_at                      0
dtype: int64

In [11]:
# Check the memory usage before optimization
df_Orders_02.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 282661 entries, 0 to 282660
Data columns (total 55 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   id                       282661 non-null  object
 1   parent_id                0 non-null       float64
 2   odate                    282661 non-null  object
 3   pos                      282661 non-null  int64
 4   uid                      282661 non-null  int64
 5   customer_id              0 non-null       float64
 6   table_id                 282661 non-null  int64
 7   guests                   282661 non-null  int64
 8   residents                125564 non-null  float64
 9   comments                 16608 non-null   object
 10  status                   282661 non-null  int64
 11  cloud_status             282661 non-null  int64
 12  order_type_id            282661 non-null  int64
 13  paid_date                282661 non-null  object
 14  color_id                 282661 non-null  int64
 15  shift_id                 282661 non-null  object
 16  venue_id                 282661 non-null  int64
 17  check_uid                282661 non-null  int64
 18  order_tag                282661 non-null  int64
 19  pricelist_id             282661 non-null  int64
 20  address_id               0 non-null       float64
 21  room_id                  263108 non-null  float64
 22  is_invoice               282661 non-null  int64
 23  spotfolio_status         134457 non-null  float64
 24  delivery_method          282661 non-null  int64
 25  delivery_time            282661 non-null  int64
 26  assigned_date            134457 non-null  object
 27  order_no                 169509 non-null  float64
 28  min_order_value          117203 non-null  float64
 29  tips                     117203 non-null  float64
 30  tips_payment_type        282661 non-null  int64
 31  round_amount             6369 non-null    float64
 32  extra_charges            0 non-null       float64
 33  food_channel             0 non-null       float64
 34  food_channel_id          0 non-null       float64
 35  food_channel_display_id  0 non-null       float64
 36  through_deliverect       282661 non-null  int64
 37  through_urbanpiper       282661 non-null  int64
 38  food_channel_with_cash   282661 non-null  int64
 39  fd_pickup_at             59934 non-null   object
 40  fd_prepared_at           0 non-null       datetime64[ns]
 41  fd_ready_dispatch_at     0 non-null       datetime64[ns]
 42  fd_dispatched_at         0 non-null       datetime64[ns]
 43  brand_id                 282661 non-null  int64
 44  cooking_date             0 non-null       float64
 45  delivery_date            80738 non-null   object
 46  timeframe                0 non-null       float64
 47  subscription_id          80738 non-null   float64
 48  friends_and_family       282661 non-null  int64
 49  expo_informed            0 non-null       float64
 50  expo_closed              0 non-null       float64
 51  sent_to_softone          0 non-null       float64
 52  card_last4_digits        0 non-null       float64
 53  created_at               282661 non-null  datetime64[ns]
 54  updated_at               282661 non-null  datetime64[ns]
dtypes: datetime64[ns](5), float64(21), int64(21), object(8)
memory usage: 235.2 MB

# Selecting Columns for 'Orders'

In [12]:
orders_columns = [
    'id', 'odate', 'pos', 'uid','status',
    'paid_date', 'created_at', 'updated_at']

df_orders_selected = df_Orders_02[orders_columns]

df_orders_selected.shape

(282661, 8)

In [40]:
df_orders_selected.columns

Index(['id', 'odate', 'pos', 'uid', 'status', 'paid_date', 'created_at',
       'updated_at'],
      dtype='object')

In [41]:
df_orders_selected.head()

,id,odate,pos,uid,status,paid_date,created_at,updated_at
0,374c214d-52f8-4bdd-8d30-d225b3127cc3,2017-03-08 17:49:25,6,12,2,2017-03-08 20:03:18,2017-03-08 17:49:37,2017-03-08 20:03:25
1,20bb1ead-e1a4-48c9-b55f-cbe04831d82a,2017-03-08 18:07:07,6,12,2,2017-03-09 00:54:51,2017-03-08 18:07:20,2017-03-09 00:54:56
2,ed463ddc-8f42-4866-afaf-d1b2ee69ef3c,2017-03-08 18:25:21,6,12,2,2017-03-08 21:09:47,2017-03-08 18:25:32,2017-03-08 21:09:54
3,7bbe2506-bc5d-47cb-abc6-669bb023ae7e,2017-03-08 18:40:37,4,11,2,2017-03-08 19:23:20,2017-03-08 18:40:59,2017-03-08 19:23:24
4,4b79b04d-5f3a-422b-9f83-155572a2c816,2017-03-08 19:11:46,3,10,2,2017-03-08 22:39:25,2017-03-08 19:11:56,2017-03-08 22:39:41

# Transform

**Data Cleaning:**
Inspection and Cleaning

In [22]:
df_orders_selected.isnull().sum()

id            0
odate         0
pos           0
uid           0
status        0
paid_date     0
created_at    0
updated_at    0
dtype: int64

**Optimize Data Types**

In [13]:
# include .copy() to explicitly indicate that df_orders is a new DataFrame
df_orders_03 = df_orders_selected.copy()

df_orders_03.shape

(282661, 8)

In [24]:
df_orders_03.columns

Index(['id', 'odate', 'pos', 'uid', 'status', 'paid_date', 'created_at',
       'updated_at'],
      dtype='object')

In [45]:
col = ['id', 'odate', 'pos', 'uid', 'status',
       'paid_date', 'created_at', 'updated_at']

len(col)

8

**Convert categorical data**

In [14]:
# Convert to the smallest possible integer type

categorical_columns = ['status']
for col in categorical_columns:
    df_orders_03.loc[:, col] = df_orders_03[col].astype('category')

**Convert to DateTime Data**

In [16]:
# Convert date columns to datetime
date_columns = ['odate', 'paid_date', 'created_at', 'updated_at']
for column in date_columns:
    df_orders_03[column] = pd.to_datetime(df_orders_03[column], errors='coerce').dt.normalize()

# Check memory usage after conversions
df_orders_03.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 282661 entries, 0 to 282660
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   id          282661 non-null  object
 1   odate       282661 non-null  datetime64[ns]
 2   pos         282661 non-null  int64
 3   uid         282661 non-null  int64
 4   status      282661 non-null  category
 5   paid_date   278696 non-null  datetime64[ns]
 6   created_at  282661 non-null  datetime64[ns]
 7   updated_at  282661 non-null  datetime64[ns]
dtypes: category(1), datetime64[ns](4), int64(2), object(1)
memory usage: 40.4 MB

In [48]:
df_orders_03

,id,odate,pos,uid,status,paid_date,created_at,updated_at
0,374c214d-52f8-4bdd-8d30-d225b3127cc3,2017-03-08,6,12,2,2017-03-08,2017-03-08,2017-03-08
1,20bb1ead-e1a4-48c9-b55f-cbe04831d82a,2017-03-08,6,12,2,2017-03-09,2017-03-08,2017-03-09
2,ed463ddc-8f42-4866-afaf-d1b2ee69ef3c,2017-03-08,6,12,2,2017-03-08,2017-03-08,2017-03-08
3,7bbe2506-bc5d-47cb-abc6-669bb023ae7e,2017-03-08,4,11,2,2017-03-08,2017-03-08,2017-03-08
4,4b79b04d-5f3a-422b-9f83-155572a2c816,2017-03-08,3,10,2,2017-03-08,2017-03-08,2017-03-08
...,...,...,...,...,...,...,...,...
282656,0a2e9b39-9c99-48b6-b896-8e56bc7d36c4,2024-01-10,5,51,2,2024-01-10,2024-01-10,2024-01-10
282657,36f63a49-664b-4dce-8be1-e4a50b961bb3,2024-01-10,2,17,2,2024-01-10,2024-01-10,2024-01-10
282658,24912113-3ca7-40ed-9a7c-e0a0b2bcfc24,2024-01-10,2,17,1,NaT,2024-01-10,2024-01-10
282659,87c488dc-7c48-4ecf-9886-c174f8875bf9,2024-01-10,2,17,1,2001-01-01,2024-01-10,2024-01-10
282660,3d4a6b69-ae50-4c38-86b5-79c0f0e49568,2024-01-10,15,50,1,NaT,2024-01-10,2024-01-10

**Convert Numeric Data**

In [17]:
numeric_columns = ['pos', 'uid']
for col in numeric_columns:
    df_orders_03.loc[:, col] = pd.to_numeric(df_orders_03[col], downcast='integer', errors='coerce')

<ipython-input-17-a2ba182e5ed6>:3: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_orders_03.loc[:, col] = pd.to_numeric(df_orders_03[col], downcast='integer', errors='coerce')

In [18]:
# Check the memory usage after optimization
df_orders_03.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 282661 entries, 0 to 282660
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   id          282661 non-null  object
 1   odate       282661 non-null  datetime64[ns]
 2   pos         282661 non-null  int8
 3   uid         282661 non-null  int8
 4   status      282661 non-null  category
 5   paid_date   278696 non-null  datetime64[ns]
 6   created_at  282661 non-null  datetime64[ns]
 7   updated_at  282661 non-null  datetime64[ns]
dtypes: category(1), datetime64[ns](4), int8(2), object(1)
memory usage: 36.7 MB

In [19]:
df_orders_03.to_csv('/content/drive/MyDrive/df_orders_03.csv', index=False)

# Spark

In [49]:
csv_dir = '/content/drive/MyDrive/df_orders_03.csv'
df_orders_selected_col_spark = spark.read.format("csv").load(csv_dir, header=True, inferSchema=True)

df_orders_selected_col_spark.printSchema()

root
 |-- id: string (nullable = true)
 |-- odate: timestamp (nullable = true)
 |-- pos: integer (nullable = true)
 |-- uid: integer (nullable = true)
 |-- status: integer (nullable = true)
 |-- paid_date: timestamp (nullable = true)
 |-- shift_id: string (nullable = true)

In [50]:
print((df_orders_selected_col_spark.count(), len(df_orders_selected_col_spark.columns)))

(282661, 7)

In [51]:
df_orders_selected_col_spark.show(10)

+--------------------+-------------------+---+---+------+-------------------+--------------------+
|                  id|              odate|pos|uid|status|          paid_date|            shift_id|
+--------------------+-------------------+---+---+------+-------------------+--------------------+
|374c214d-52f8-4bd...|2017-03-08 17:49:25|  6| 12|     2|2017-03-08 20:03:18|42000003-3139-420...|
|20bb1ead-e1a4-48c...|2017-03-08 18:07:07|  6| 12|     2|2017-03-09 00:54:51|42000003-3139-420...|
|ed463ddc-8f42-486...|2017-03-08 18:25:21|  6| 12|     2|2017-03-08 21:09:47|42000003-3139-420...|
|7bbe2506-bc5d-47c...|2017-03-08 18:40:37|  4| 11|     2|2017-03-08 19:23:20|799f0930-4a54-435...|
|4b79b04d-5f3a-422...|2017-03-08 19:11:46|  3| 10|     2|2017-03-08 22:39:25|7f4face6-702b-4fc...|
|736c991f-87ca-470...|2017-03-08 19:12:16|  6| 12|     2|2017-03-08 22:34:26|42000003-3139-420...|
|cb6d68b7-3693-4d5...|2017-03-08 19:15:23|  5|  8|     2|2017-03-08 22:43:43|dded3d59-7df2-42d...|
|c5e75cb3-fdf6-45f...|2017-03-08 19:20:02|  4| 11|     2|2017-03-08 22:22:57|799f0930-4a54-435...|
|229bc0f7-4516-47e...|2017-03-08 19:27:17|  3| 10|     2|2017-03-09 00:07:54|7f4face6-702b-4fc...|
|0d837da8-c0da-49f...|2017-03-08 19:32:34|  2|  9|     2|2017-03-08 22:56:50|aec99141-71ae-431...|
+--------------------+-------------------+---+---+------+-------------------+--------------------+
only showing top 10 rows

In [52]:
from pyspark.sql.functions import col, count, when

# Count NULL values in each column
null_counts = df_orders_selected_col_spark.select([count(when(col(c).isNull(), c)).alias(c) for c in df_orders_selected_col_spark.columns])

# Show the result
null_counts.show()

+---+-----+---+---+------+---------+--------+
| id|odate|pos|uid|status|paid_date|shift_id|
+---+-----+---+---+------+---------+--------+
|  0|    0|  0|  0|     0|     3965|       0|
+---+-----+---+---+------+---------+--------+

In [53]:
df_cleaned = df_orders_selected_col_spark.filter(col("paid_date").isNotNull())

In [54]:
df_cleaned.show(10)

+--------------------+-------------------+---+---+------+-------------------+--------------------+
|                  id|              odate|pos|uid|status|          paid_date|            shift_id|
+--------------------+-------------------+---+---+------+-------------------+--------------------+
|374c214d-52f8-4bd...|2017-03-08 17:49:25|  6| 12|     2|2017-03-08 20:03:18|42000003-3139-420...|
|20bb1ead-e1a4-48c...|2017-03-08 18:07:07|  6| 12|     2|2017-03-09 00:54:51|42000003-3139-420...|
|ed463ddc-8f42-486...|2017-03-08 18:25:21|  6| 12|     2|2017-03-08 21:09:47|42000003-3139-420...|
|7bbe2506-bc5d-47c...|2017-03-08 18:40:37|  4| 11|     2|2017-03-08 19:23:20|799f0930-4a54-435...|
|4b79b04d-5f3a-422...|2017-03-08 19:11:46|  3| 10|     2|2017-03-08 22:39:25|7f4face6-702b-4fc...|
|736c991f-87ca-470...|2017-03-08 19:12:16|  6| 12|     2|2017-03-08 22:34:26|42000003-3139-420...|
|cb6d68b7-3693-4d5...|2017-03-08 19:15:23|  5|  8|     2|2017-03-08 22:43:43|dded3d59-7df2-42d...|
|c5e75cb3-fdf6-45f...|2017-03-08 19:20:02|  4| 11|     2|2017-03-08 22:22:57|799f0930-4a54-435...|
|229bc0f7-4516-47e...|2017-03-08 19:27:17|  3| 10|     2|2017-03-09 00:07:54|7f4face6-702b-4fc...|
|0d837da8-c0da-49f...|2017-03-08 19:32:34|  2|  9|     2|2017-03-08 22:56:50|aec99141-71ae-431...|
+--------------------+-------------------+---+---+------+-------------------+--------------------+
only showing top 10 rows

In [55]:
# Count NULL values in each column
null_counts = df_cleaned.select([count(when(col(c).isNull(), c)).alias(c) for c in df_cleaned.columns])

# Show the result
null_counts.show()

+---+-----+---+---+------+---------+--------+
| id|odate|pos|uid|status|paid_date|shift_id|
+---+-----+---+---+------+---------+--------+
|  0|    0|  0|  0|     0|        0|       0|
+---+-----+---+---+------+---------+--------+

In [56]:
print((df_cleaned.count(), len(df_cleaned.columns)))

(278696, 7)

# To check the unique values and their counts in the columns

In [28]:
df_orders_03.isnull().sum()

id               0
odate            0
pos              0
uid              0
status           0
paid_date     3965
created_at       0
updated_at       0
dtype: int64

In [29]:
df_orders_03['pos'].value_counts(dropna=False, ascending=True)

13      207
17      283
14     1388
12     1655
16     2263
15     5898
10     7578
7     10558
1     11310
9     27008
2     29610
5     34290
4     34657
6     35580
8     39103
3     41273
Name: pos, dtype: int64

In [30]:
df_orders_03['paid_date'].value_counts(dropna=False, ascending=True)

2017-08-05        1
2021-05-06        1
2021-03-09        1
2020-12-17        1
2020-12-08        1
              ...
2022-10-15      237
2018-03-03      254
2022-12-17      255
NaT            3965
2001-01-01    14154
Name: paid_date, Length: 2171, dtype: int64

In [25]:
df_orders_03['paid_date']

0        2017-03-08
1        2017-03-09
2        2017-03-08
3        2017-03-08
4        2017-03-08
            ...
282656   2024-01-10
282657   2024-01-10
282658          NaT
282659   2001-01-01
282660          NaT
Name: paid_date, Length: 282661, dtype: datetime64[ns]

In [20]:
df_orders_03.isnull().sum()

id               0
odate            0
pos              0
uid              0
status           0
paid_date     3965
created_at       0
updated_at       0
dtype: int64

In [21]:
# Drop rows where 'paid_date' is NULL
df_orders_04 = df_orders_03.dropna(subset=['paid_date'])

In [22]:
df_orders_04.isnull().sum()

id            0
odate         0
pos           0
uid           0
status        0
paid_date     0
created_at    0
updated_at    0
dtype: int64

In [28]:
df_orders_04.shape

(278696, 8)

In [65]:
282661 - 278696

3965

In [23]:
df_orders_04.to_csv('/content/drive/MyDrive/df_orders_04.csv', index=False)

In [36]:
df_orders_04.shape

(278696, 8)

# Spark order_clean

In [29]:
csv_dir = '/content/drive/MyDrive/df_orders_04.csv'
df_orders_clean_spark = spark.read.format("csv").load(csv_dir, header=True, inferSchema=True)

df_orders_clean_spark.printSchema()

root
 |-- id: string (nullable = true)
 |-- odate: timestamp (nullable = true)
 |-- pos: integer (nullable = true)
 |-- uid: integer (nullable = true)
 |-- status: integer (nullable = true)
 |-- paid_date: timestamp (nullable = true)
 |-- shift_id: string (nullable = true)

In [30]:
type(df_orders_clean_spark)

pyspark.sql.dataframe.DataFrame

In [31]:
print((df_orders_clean_spark.count(), len(df_orders_clean_spark.columns)))

(278696, 7)

In [39]:
df_orders_clean_spark.show(10)

+--------------------+-------------------+---+---+------+-------------------+--------------------+
|                  id|              odate|pos|uid|status|          paid_date|            shift_id|
+--------------------+-------------------+---+---+------+-------------------+--------------------+
|374c214d-52f8-4bd...|2017-03-08 17:49:25|  6| 12|     2|2017-03-08 20:03:18|42000003-3139-420...|
|20bb1ead-e1a4-48c...|2017-03-08 18:07:07|  6| 12|     2|2017-03-09 00:54:51|42000003-3139-420...|
|ed463ddc-8f42-486...|2017-03-08 18:25:21|  6| 12|     2|2017-03-08 21:09:47|42000003-3139-420...|
|7bbe2506-bc5d-47c...|2017-03-08 18:40:37|  4| 11|     2|2017-03-08 19:23:20|799f0930-4a54-435...|
|4b79b04d-5f3a-422...|2017-03-08 19:11:46|  3| 10|     2|2017-03-08 22:39:25|7f4face6-702b-4fc...|
|736c991f-87ca-470...|2017-03-08 19:12:16|  6| 12|     2|2017-03-08 22:34:26|42000003-3139-420...|
|cb6d68b7-3693-4d5...|2017-03-08 19:15:23|  5|  8|     2|2017-03-08 22:43:43|dded3d59-7df2-42d...|
|c5e75cb3-fdf6-45f...|2017-03-08 19:20:02|  4| 11|     2|2017-03-08 22:22:57|799f0930-4a54-435...|
|229bc0f7-4516-47e...|2017-03-08 19:27:17|  3| 10|     2|2017-03-09 00:07:54|7f4face6-702b-4fc...|
|0d837da8-c0da-49f...|2017-03-08 19:32:34|  2|  9|     2|2017-03-08 22:56:50|aec99141-71ae-431...|
+--------------------+-------------------+---+---+------+-------------------+--------------------+
only showing top 10 rows

# Access orders-status DataFrame

In [24]:
df_orders_status = dataframes['df_orders_statu']

df_orders_status.shape

(10, 3)

In [30]:
df_orders_status

   id            status               name
0  -1            Merged             Merged
1   0              Open               Open
2   1           Printed             Unpaid
3   2              Paid               Paid
4   3         Cancelled          Cancelled
5   4  PrintedCancelled  Printed Cancelled
6   5       PrintedOpen       Printed Open
7   6  PartiallyPrinted  Partially Printed
8   7      MarkedAsPaid     Marked as Paid
9   8            Wasted             Wasted

In [25]:
status_columns = ['id', 'name']

df_orders_status_01 = df_orders_status[status_columns]

df_orders_status_01.shape

(10, 2)

In [70]:
df_orders_status_01

   id               name
0  -1             Merged
1   0               Open
2   1             Unpaid
3   2               Paid
4   3          Cancelled
5   4  Printed Cancelled
6   5       Printed Open
7   6  Partially Printed
8   7     Marked as Paid
9   8             Wasted

In [67]:
# save df_orders_status as csv file:
df_orders_status_01.to_csv('/content/drive/MyDrive/df_orders_status_01.csv', index=False)

In [315]:
# read orders_status.csv using PySpark:
csv_dir = '/content/drive/MyDrive/orders_status.csv'
df_orders_status_spark = spark.read.format("csv").load(csv_dir, header=True, inferSchema=True)

In [ ]:
df_orders_status_spark.show()

In [32]:
df_orders_04.shape, df_orders_status_01.shape

((278696, 8), (10, 2))

# Merge df_orders_clean with df_orders_status

In [26]:
df_orders_05 = df_orders_04.copy()

In [27]:
df_orders_05.columns, df_orders_05.shape

(Index(['id', 'odate', 'pos', 'uid', 'status', 'paid_date', 'created_at',
        'updated_at'],
       dtype='object'),
 (278696, 8))

In [28]:
# rename the new 'status' column if needed
df_orders_05.rename(columns={ 'id': 'oid','created_at': 'ocreated_at',
        'updated_at': 'oupdated_at', }, inplace=True)

In [29]:
# Merge df_orders_05 on 'status' column and df_orders_status on corresponding 'oid' and 'status' columns
df_orders_clean = pd.merge(
    df_orders_05,
    df_orders_status_01,
    left_on='status',
    right_on='id',
    how='left'
)

In [30]:
df_orders_clean.columns

Index(['oid', 'odate', 'pos', 'uid', 'status', 'paid_date', 'ocreated_at',
       'oupdated_at', 'id', 'name'],
      dtype='object')

In [31]:
df_orders_clean.head()

,oid,odate,pos,uid,status,paid_date,ocreated_at,oupdated_at,id,name
0,374c214d-52f8-4bdd-8d30-d225b3127cc3,2017-03-08,6,12,2,2017-03-08,2017-03-08,2017-03-08,2,Paid
1,20bb1ead-e1a4-48c9-b55f-cbe04831d82a,2017-03-08,6,12,2,2017-03-09,2017-03-08,2017-03-09,2,Paid
2,ed463ddc-8f42-4866-afaf-d1b2ee69ef3c,2017-03-08,6,12,2,2017-03-08,2017-03-08,2017-03-08,2,Paid
3,7bbe2506-bc5d-47cb-abc6-669bb023ae7e,2017-03-08,4,11,2,2017-03-08,2017-03-08,2017-03-08,2,Paid
4,4b79b04d-5f3a-422b-9f83-155572a2c816,2017-03-08,3,10,2,2017-03-08,2017-03-08,2017-03-08,2,Paid

In [32]:
df_orders_clean.drop(['id', 'status'], axis=1, inplace=True)

In [33]:
# rename the new 'status' column if needed
df_orders_clean.rename(columns={'name': 'ostatus'}, inplace=True)

In [34]:
df_orders_clean.shape

(278696, 8)

In [35]:
df_orders_clean.head()

,oid,odate,pos,uid,paid_date,ocreated_at,oupdated_at,ostatus
0,374c214d-52f8-4bdd-8d30-d225b3127cc3,2017-03-08,6,12,2017-03-08,2017-03-08,2017-03-08,Paid
1,20bb1ead-e1a4-48c9-b55f-cbe04831d82a,2017-03-08,6,12,2017-03-09,2017-03-08,2017-03-09,Paid
2,ed463ddc-8f42-4866-afaf-d1b2ee69ef3c,2017-03-08,6,12,2017-03-08,2017-03-08,2017-03-08,Paid
3,7bbe2506-bc5d-47cb-abc6-669bb023ae7e,2017-03-08,4,11,2017-03-08,2017-03-08,2017-03-08,Paid
4,4b79b04d-5f3a-422b-9f83-155572a2c816,2017-03-08,3,10,2017-03-08,2017-03-08,2017-03-08,Paid

In [36]:
# Convert 'status' to a categorical type
df_orders_clean['ostatus'] = df_orders_clean['ostatus'].astype('category')

In [46]:
df_orders_clean['ostatus'].value_counts()

Paid                 277847
Merged                  686
Unpaid                  147
Printed Cancelled        12
Printed Open              3
Wasted                    1
Name: ostatus, dtype: int64

In [37]:
# Apply one-hot encoding
df_orders_clean_01 = pd.get_dummies(df_orders_clean, columns=['ostatus'], prefix='ostatus')

In [38]:
df_orders_clean_01.shape

(278696, 13)

In [81]:
df_orders_clean_01.columns

Index(['oid', 'odate', 'pos', 'uid', 'paid_date', 'ocreated_at', 'oupdated_at',
       'ostatus_Merged', 'ostatus_Paid', 'ostatus_Printed Cancelled',
       'ostatus_Printed Open', 'ostatus_Unpaid', 'ostatus_Wasted'],
      dtype='object')

In [83]:
df_orders_clean_01['ostatus_Wasted'].value_counts(dropna=False, ascending=True)

1         1
0    278695
Name: ostatus_Wasted, dtype: int64

In [48]:
# save df_order_final as csv file:
df_orders_clean_01.to_csv('/content/drive/MyDrive/orders_final.csv', index=False)

In [108]:
df_orders_clean_01.head()

,id,odate,pos,uid,paid_date,created_at,updated_at,status_Merged,status_Paid,status_Printed Cancelled,status_Printed Open,status_Unpaid,status_Wasted
0,374c214d-52f8-4bdd-8d30-d225b3127cc3,2017-03-08,6,12,2017-03-08,2017-03-08,2017-03-08,0,1,0,0,0,0
1,20bb1ead-e1a4-48c9-b55f-cbe04831d82a,2017-03-08,6,12,2017-03-09,2017-03-08,2017-03-09,0,1,0,0,0,0
2,ed463ddc-8f42-4866-afaf-d1b2ee69ef3c,2017-03-08,6,12,2017-03-08,2017-03-08,2017-03-08,0,1,0,0,0,0
3,7bbe2506-bc5d-47cb-abc6-669bb023ae7e,2017-03-08,4,11,2017-03-08,2017-03-08,2017-03-08,0,1,0,0,0,0
4,4b79b04d-5f3a-422b-9f83-155572a2c816,2017-03-08,3,10,2017-03-08,2017-03-08,2017-03-08,0,1,0,0,0,0

# Merge df_orders_clean_01 with df User

In [39]:
df_User = dataframes['df_User']

df_User.shape

(51, 29)

**Selecting Columns of 'User'**

In [40]:
user_columns = ['id', 'name']

df_User_selected = df_User[user_columns]

df_User_selected.shape

(51, 2)

In [41]:
df_User_01 = df_User_selected.copy()

In [42]:
# Add a new row using the loc method
df_User_01.loc[len(df_User_01)] = {'id': -1, 'name': 'Unknown'}

# Check the last few rows to confirm the new row is added
print(df_User_01.tail())

    id                     name
47  48         ΦΡΑΝΤΣΕΣΚΑ ΚΑΛΑΙ
48  49    ΔΗΜΟΓΕΡΟΝΤΑΣ ΣΤΕΦΑΝΟΣ
49  50         ΦΡΑΝΤΖΕΣΚΟ ΜΟΥΧΟ
50  51  ΚΩΝΣΤΑΝΤΟΠΟΥΛΟΣ ΘΟΔΩΡΗΣ
51  -1                  Unknown

In [47]:
df_User_02 = df_User_01.copy()

In [45]:
df_orders_clean_02 = df_orders_clean_01.copy()

In [46]:
df_orders_clean_02.columns

Index(['oid', 'odate', 'pos', 'uid', 'paid_date', 'ocreated_at', 'oupdated_at',
       'ostatus_Merged', 'ostatus_Paid', 'ostatus_Printed Cancelled',
       'ostatus_Printed Open', 'ostatus_Unpaid', 'ostatus_Wasted'],
      dtype='object')

In [48]:
# Convert 'uid' in df_order_details and 'id' in df_user to the same data type
df_orders_clean_02['uid'] = df_orders_clean_02['uid'].astype(int)
df_User_01['id'] = df_User_01['id'].astype(int)

In [49]:
# Merge the DataFrames
df_orders_clean_merged = pd.merge(df_orders_clean_02, df_User_02, left_on='uid', right_on='id', how='inner')

# Check the result
print(df_orders_clean_merged.shape)

(278696, 15)

In [50]:
df_orders_clean_merged.columns

Index(['oid', 'odate', 'pos', 'uid', 'paid_date', 'ocreated_at', 'oupdated_at',
       'ostatus_Merged', 'ostatus_Paid', 'ostatus_Printed Cancelled',
       'ostatus_Printed Open', 'ostatus_Unpaid', 'ostatus_Wasted', 'id',
       'name'],
      dtype='object')

In [51]:
# Drop 'id' and 'uid' columns
df_orders_clean_merged.drop(columns=['uid', 'id'], inplace=True)

In [52]:
# Rename 'id_x' to 'id' and 'name' to 'pos_uname'
df_orders_clean_merged.rename(columns={'name': 'order_uname'}, inplace=True)

In [53]:
df_orders_clean_merged.columns, df_orders_clean_merged.shape

(Index(['oid', 'odate', 'pos', 'paid_date', 'ocreated_at', 'oupdated_at',
        'ostatus_Merged', 'ostatus_Paid', 'ostatus_Printed Cancelled',
        'ostatus_Printed Open', 'ostatus_Unpaid', 'ostatus_Wasted',
        'order_uname'],
       dtype='object'),
 (278696, 13))

# Transform

# Optimize Data Types

In [60]:
import pandas as pd

df_orders_clean_01 = pd.read_csv('/content/drive/MyDrive/orders_final.csv')

df_orders_clean_01.shape

(278696, 13)

In [54]:
# Check the memory usage before optimization
df_orders_clean_merged.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 278696 entries, 0 to 278695
Data columns (total 13 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   oid                        278696 non-null  object
 1   odate                      278696 non-null  datetime64[ns]
 2   pos                        278696 non-null  int8
 3   paid_date                  278696 non-null  datetime64[ns]
 4   ocreated_at                278696 non-null  datetime64[ns]
 5   oupdated_at                278696 non-null  datetime64[ns]
 6   ostatus_Merged             278696 non-null  uint8
 7   ostatus_Paid               278696 non-null  uint8
 8   ostatus_Printed Cancelled  278696 non-null  uint8
 9   ostatus_Printed Open       278696 non-null  uint8
 10  ostatus_Unpaid             278696 non-null  uint8
 11  ostatus_Wasted             278696 non-null  uint8
 12  order_uname                278696 non-null  object
dtypes: datetime64[ns](4), int8(1), object(2), uint8(6)
memory usage: 65.1 MB

In [ ]:
# # Convert date columns to datetime
# date_columns = ['odate', 'paid_date', 'ocreated_at', 'oupdated_at']
# for column in date_columns:
#     df_orders_clean_01[column] = pd.to_datetime(df_orders_clean_01[column], errors='coerce').dt.normalize()

# # Check memory usage after conversions
# df_orders_clean_01.info(memory_usage='deep')

In [ ]:
# # Downcast integer columns to the smallest possible integer type
# integer_columns = ['pos', 'uid', 'ostatus_Merged', 'ostatus_Paid', 'ostatus_Printed Cancelled', 'ostatus_Printed Open', 'ostatus_Unpaid', 'ostatus_Wasted']
# for column in integer_columns:
#     df_orders_clean_01[column] = pd.to_numeric(df_orders_clean_01[column], downcast='integer')

# # Check memory usage after conversions
# df_orders_clean_01.info(memory_usage='deep')

In [55]:
# Convert object columns to 'category' where appropriate
categorical_columns = ['order_uname']
for column in categorical_columns:
    df_orders_clean_merged[column] = df_orders_clean_merged[column].astype('category')

In [56]:
df_orders_clean_merged.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 278696 entries, 0 to 278695
Data columns (total 13 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   oid                        278696 non-null  object
 1   odate                      278696 non-null  datetime64[ns]
 2   pos                        278696 non-null  int8
 3   paid_date                  278696 non-null  datetime64[ns]
 4   ocreated_at                278696 non-null  datetime64[ns]
 5   oupdated_at                278696 non-null  datetime64[ns]
 6   ostatus_Merged             278696 non-null  uint8
 7   ostatus_Paid               278696 non-null  uint8
 8   ostatus_Printed Cancelled  278696 non-null  uint8
 9   ostatus_Printed Open       278696 non-null  uint8
 10  ostatus_Unpaid             278696 non-null  uint8
 11  ostatus_Wasted             278696 non-null  uint8
 12  order_uname                278696 non-null  category
dtypes: category(1), datetime64[ns](4), int8(1), object(1), uint8(6)
memory usage: 37.5 MB

In [64]:
df_orders_clean_merged.isnull().sum()

oid                          0
odate                        0
pos                          0
paid_date                    0
ocreated_at                  0
oupdated_at                  0
ostatus_Merged               0
ostatus_Paid                 0
ostatus_Printed Cancelled    0
ostatus_Printed Open         0
ostatus_Unpaid               0
ostatus_Wasted               0
order_uname                  0
dtype: int64

In [57]:
# save df_order_final as csv file:
df_orders_clean_merged.to_csv('/content/drive/MyDrive/orders_final_clean.csv', index=False)

**Read by Spark:**

In [61]:
csv_dir = '/content/drive/MyDrive/orders_final_clean.csv'
df_orders_final_clean_spark = spark.read.format("csv").load(csv_dir, header=True, inferSchema=True)

In [63]:
df_orders_final_clean_spark.show(25)

+--------------------+----------+---+----------+-----------+-----------+--------------+------------+-------------------------+--------------------+--------------+--------------+------------------+
|                 oid|     odate|pos| paid_date|ocreated_at|oupdated_at|ostatus_Merged|ostatus_Paid|ostatus_Printed Cancelled|ostatus_Printed Open|ostatus_Unpaid|ostatus_Wasted|       order_uname|
+--------------------+----------+---+----------+-----------+-----------+--------------+------------+-------------------------+--------------------+--------------+--------------+------------------+
|374c214d-52f8-4bd...|2017-03-08|  6|2017-03-08| 2017-03-08| 2017-03-08|             0|           1|                        0|                   0|             0|             0|ΓΚΕΟΡΓΚΙΕΦ ΣΤΑΥΡΟΣ|
|20bb1ead-e1a4-48c...|2017-03-08|  6|2017-03-09| 2017-03-08| 2017-03-09|             0|           1|                        0|                   0|             0|             0|ΓΚΕΟΡΓΚΙΕΦ ΣΤΑΥΡΟΣ|
|ed463ddc-8f42-486...|2017-03-08|  6|2017-03-08| 2017-03-08| 2017-03-08|             0|           1|                        0|                   0|             0|             0|ΓΚΕΟΡΓΚΙΕΦ ΣΤΑΥΡΟΣ|
|736c991f-87ca-470...|2017-03-08|  6|2017-03-08| 2017-03-08| 2017-03-08|             0|           1|                        0|                   0|             0|             0|ΓΚΕΟΡΓΚΙΕΦ ΣΤΑΥΡΟΣ|
|873f4eb4-a927-44c...|2017-03-08|  6|2017-03-08| 2017-03-08| 2017-03-08|             0|           1|                        0|                   0|             0|             0|ΓΚΕΟΡΓΚΙΕΦ ΣΤΑΥΡΟΣ|
|bbf6eeee-7562-46f...|2017-03-08|  6|2017-03-08| 2017-03-08| 2017-03-08|             0|           1|                        0|                   0|             0|             0|ΓΚΕΟΡΓΚΙΕΦ ΣΤΑΥΡΟΣ|
|7957aa03-dcac-41d...|2017-03-08|  6|2017-03-08| 2017-03-08| 2017-03-08|             0|           1|                        0|                   0|             0|             0|ΓΚΕΟΡΓΚΙΕΦ ΣΤΑΥΡΟΣ|
|1e60827e-9f2d-409...|2017-03-08|  6|2017-03-08| 2017-03-08| 2017-03-08|             0|           1|                        0|                   0|             0|             0|ΓΚΕΟΡΓΚΙΕΦ ΣΤΑΥΡΟΣ|
|3478e91f-760c-470...|2017-03-08|  6|2017-03-08| 2017-03-08| 2017-03-08|             0|           1|                        0|                   0|             0|             0|ΓΚΕΟΡΓΚΙΕΦ ΣΤΑΥΡΟΣ|
|d215ec86-e1de-470...|2017-03-08|  6|2017-03-08| 2017-03-08| 2017-03-08|             0|           1|                        0|                   0|             0|             0|ΓΚΕΟΡΓΚΙΕΦ ΣΤΑΥΡΟΣ|
|d278696c-f13d-4da...|2017-03-08|  6|2017-03-08| 2017-03-08| 2017-03-08|             0|           1|                        0|                   0|             0|             0|ΓΚΕΟΡΓΚΙΕΦ ΣΤΑΥΡΟΣ|
|ee907fa1-78c5-43d...|2017-03-08|  6|2017-03-08| 2017-03-08| 2017-03-08|             0|           1|                        0|                   0|             0|             0|ΓΚΕΟΡΓΚΙΕΦ ΣΤΑΥΡΟΣ|
|eb38633b-a74d-40e...|2017-03-08|  6|2017-03-08| 2017-03-08| 2017-03-08|             0|           1|                        0|                   0|             0|             0|ΓΚΕΟΡΓΚΙΕΦ ΣΤΑΥΡΟΣ|
|324be8fa-a9e7-43d...|2017-03-09|  5|2017-03-09| 2017-03-09| 2017-03-09|             0|           1|                        0|                   0|             0|             0|ΓΚΕΟΡΓΚΙΕΦ ΣΤΑΥΡΟΣ|
|7e89292e-7e2c-42c...|2017-03-09|  5|2017-03-09| 2017-03-09| 2017-03-09|             0|           1|                        0|                   0|             0|             0|ΓΚΕΟΡΓΚΙΕΦ ΣΤΑΥΡΟΣ|
|a75fef4b-801b-43d...|2017-03-09|  5|2017-03-09| 2017-03-09| 2017-03-09|             0|           1|                        0|                   0|             0|             0|ΓΚΕΟΡΓΚΙΕΦ ΣΤΑΥΡΟΣ|
|24ea66a4-7a27-4b2...|2017-03-09|  5|2017-03-09| 2017-03-09| 2017-03-09|             0|           1|                        0|                   0|             0|             0|ΓΚΕΟΡΓΚΙΕΦ ΣΤΑΥΡΟΣ|
|d6d84e3e-e57d-43c...|2017-03-09|  5|2017-03-09| 2017-03-09| 2017-03-09|             0|           1|                        0|                   0|             0|             0|ΓΚΕΟΡΓΚΙΕΦ ΣΤΑΥΡΟΣ|
|2e2e95e6-ddf2-419...|2017-03-09|  5|2017-03-09| 2017-03-09| 2017-03-09|             0|           1|                        0|                   0|             0|             0|ΓΚΕΟΡΓΚΙΕΦ ΣΤΑΥΡΟΣ|
|6a8e184d-21cf-413...|2017-03-09|  5|2017-03-09| 2017-03-09| 2017-03-09|             0|           1|                        0|                   0|             0|             0|ΓΚΕΟΡΓΚΙΕΦ ΣΤΑΥΡΟΣ|
|594e33c7-f947-418...|2017-03-09|  5|2017-03-09| 2017-03-09| 2017-03-09|             0|           1|                        0|                   0|             0|             0|ΓΚΕΟΡΓΚΙΕΦ ΣΤΑΥΡΟΣ|
|815bdc24-d371-43f...|2017-03-09|  5|2017-03-09| 2017-03-09| 2017-03-09|             0|           1|                        0|                   0|             0|             0|ΓΚΕΟΡΓΚΙΕΦ ΣΤΑΥΡΟΣ|
|d3c5bd74-fe62-48b...|2017-03-09|  5|2017-03-09| 2017-03-09| 2017-03-09|             0|           1|                        0|                   0|             0|             0|ΓΚΕΟΡΓΚΙΕΦ ΣΤΑΥΡΟΣ|
|ca3dbac5-d98a-464...|2017-03-09|  5|2017-03-09| 2017-03-09| 2017-03-09|             0|           1|                        0|                   0|             0|             0|ΓΚΕΟΡΓΚΙΕΦ ΣΤΑΥΡΟΣ|
|5fd60274-d807-419...|2017-03-09|  5|2017-03-09| 2017-03-09| 2017-03-09|             0|           1|                        0|                   0|             0|             0|ΓΚΕΟΡΓΚΙΕΦ ΣΤΑΥΡΟΣ|
+--------------------+----------+---+----------+-----------+-----------+--------------+------------+-------------------------+--------------------+--------------+--------------+------------------+
only showing top 25 rows

**Orders Final data after merged with status table:**

# OrderDetails

# Merge the OrderDetails DataFrames

In [50]:
order_details_df_names = [
    'df_2018_01_01', 'df_2023_05_01', 'df_2021_02_01', 'df_2023_02_01',
    'df_2017_08_01', 'df_2020_03_01', 'df_2024_02_01', 'df_2021_10_01',
    'df_2018_03_01', 'df_2020_06_01', 'df_2019_03_01', 'df_2023_11_01',
    'df_2022_12_01', 'df_2018_10_01', 'df_2018_06_01', 'df_2019_12_01',
    'df_2023_08_01', 'df_2019_07_01', 'df_2022_08_01', 'df_2019_01_01',
    'df_2022_04_01', 'df_2020_10_01', 'df_2022_01_01'
]

In [51]:
# Initialize an empty list to store the dataframes
order_details_dfs = []
count = 0
# Loop through each file name, access the dataframe, select the columns, and append to the list
for df_name in order_details_df_names:
    count+=1
    print(f"Accessing {df_name}. df-num: {count}")
    df_details = dataframes[df_name].copy()
    order_details_dfs.append(df_details)

# Concatenate all dataframes in the list into one
df_order_details_merged = pd.concat(order_details_dfs, ignore_index=True)

df_order_details_merged.shape

Accessing df_2018_01_01. df-num: 1
Accessing df_2023_05_01. df-num: 2
Accessing df_2021_02_01. df-num: 3
Accessing df_2023_02_01. df-num: 4
Accessing df_2017_08_01. df-num: 5
Accessing df_2020_03_01. df-num: 6
Accessing df_2024_02_01. df-num: 7
Accessing df_2021_10_01. df-num: 8
Accessing df_2018_03_01. df-num: 9
Accessing df_2020_06_01. df-num: 10
Accessing df_2019_03_01. df-num: 11
Accessing df_2023_11_01. df-num: 12
Accessing df_2022_12_01. df-num: 13
Accessing df_2018_10_01. df-num: 14
Accessing df_2018_06_01. df-num: 15
Accessing df_2019_12_01. df-num: 16
Accessing df_2023_08_01. df-num: 17
Accessing df_2019_07_01. df-num: 18
Accessing df_2022_08_01. df-num: 19
Accessing df_2019_01_01. df-num: 20
Accessing df_2022_04_01. df-num: 21
Accessing df_2020_10_01. df-num: 22
Accessing df_2022_01_01. df-num: 23

(2003349, 44)

In [52]:
df_order_details_01 = df_order_details_merged.copy()

In [93]:
df_order_details_01.columns, df_order_details_01.shape

(Index(['id', 'ogid', 'oddate', 'uid', 'table_id', 'item_id', 'item_type',
        'combo_choice_id', 'status', 'receipt_issued', 'ordernote_printed',
        'net_price', 'units', 'weight', 'vat_percentage', 'vat', 'price',
        'municipality_fees', 'extra_charges', 'serial_number', 'unit_price',
        'comments', 'open_item_comments', 'parent_id', 'discount_percentage',
        'discount_amount', 'discount_user', 'cancel_user', 'cancel_type',
        'discount_type', 'salesperson_uid', 'roundid', 'payment_type',
        'payment_user', 'payment_card_type', 'cc_provider', 'pricelist_id',
        'prepared_units', 'prepared_date', 'view_after',
        'subscription_detail_id', 'sent_to_softone', 'created_at',
        'updated_at'],
       dtype='object'),
 (2003349, 44))

In [129]:
df_order_details_01.head()

,id,ogid,oddate,uid,table_id,item_id,item_type,combo_choice_id,status,receipt_issued,...,payment_card_type,cc_provider,pricelist_id,prepared_units,prepared_date,view_after,subscription_detail_id,sent_to_softone,created_at,updated_at
0,ab394826-12b7-4332-bc51-9edbf3af1ec4,893b7f11-84d9-4b52-896b-4134baf664ba,2017-08-01 08:12:36,NaN,NaN,12,1,NaN,2,1,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,2017-08-01 08:12:27,2017-08-01 09:12:24
1,1039e874-31d3-40b4-ab46-6170b007c33d,893b7f11-84d9-4b52-896b-4134baf664ba,2017-08-01 08:12:36,NaN,NaN,53,2,NaN,2,0,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,2017-08-01 08:12:32,2017-08-01 09:12:24
2,581f9581-6ec1-4f8f-8dde-6338e4f5f998,ec3629f1-d1e8-4a07-bf4a-066a90f42b2e,2017-08-01 08:19:50,NaN,NaN,12,1,NaN,2,1,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,2017-08-01 08:19:21,2017-08-01 08:28:03
3,ee88b30c-5531-4300-a099-401240037a82,ec3629f1-d1e8-4a07-bf4a-066a90f42b2e,2017-08-01 08:19:50,NaN,NaN,55,2,NaN,2,0,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,2017-08-01 08:19:29,2017-08-01 08:28:03
4,554c52b3-1251-4371-8549-f9ef93c19fa9,ec3629f1-d1e8-4a07-bf4a-066a90f42b2e,2017-08-01 08:19:50,NaN,NaN,12,1,NaN,2,1,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,2017-08-01 08:19:36,2017-08-01 08:28:03

In [94]:
df_order_details_01.isnull().sum()

id                              0
ogid                            0
oddate                          0
uid                       1357411
table_id                  1808462
item_id                         0
item_type                       0
combo_choice_id           1951980
status                          0
receipt_issued                  0
ordernote_printed               0
net_price                       0
units                           0
weight                          0
vat_percentage            1075833
vat                             0
price                           0
municipality_fees         1717774
extra_charges             2003349
serial_number             2003349
unit_price                      0
comments                  1713146
open_item_comments        2003349
parent_id                 1780013
discount_percentage             0
discount_amount                 0
discount_user                   0
cancel_user                     0
cancel_type               1777131
discount_type                   0
salesperson_uid           2003349
roundid                         0
payment_type                    0
payment_user              1360553
payment_card_type         1542177
cc_provider                533713
pricelist_id                    0
prepared_units            2003349
prepared_date             2003349
view_after                1498088
subscription_detail_id    2003349
sent_to_softone           2003349
created_at                      0
updated_at                      0
dtype: int64

In [13]:
df_order_details_01['receipt_issued'].value_counts()

1    1359959
0     617803
2      25587
Name: receipt_issued, dtype: int64

In [53]:
order_details_columns = ['id', 'ogid', 'oddate', 'uid', 'item_id', 'item_type', 'status',
                        'net_price', 'price', 'unit_price', 'units',
                        'vat', 'vat_percentage','parent_id', 'discount_percentage','discount_amount', 'discount_user',
                        'cancel_user','discount_type','payment_type', 'payment_user', 'created_at', 'updated_at']
len(order_details_columns)

23

In [54]:
df_order_details_selected = df_order_details_01[order_details_columns]

df_order_details_selected.shape

(2003349, 23)

In [98]:
df_order_details_selected.columns

Index(['id', 'ogid', 'oddate', 'uid', 'item_id', 'item_type', 'status',
       'net_price', 'price', 'unit_price', 'units', 'vat', 'vat_percentage',
       'parent_id', 'discount_percentage', 'discount_amount', 'discount_user',
       'cancel_user', 'discount_type', 'payment_type', 'payment_user',
       'created_at', 'updated_at'],
      dtype='object')

In [55]:
df_order_details_02 = df_order_details_selected.copy()

In [56]:
# rename the df_order_details_selected columns if needed
df_order_details_02.rename(columns={ 'id': 'odid', 'status': 'odstatus', 'created_at': 'odcreated_at',
        'updated_at': 'odupdated_at'}, inplace=True)

In [57]:
df_order_details_02.columns

Index(['odid', 'ogid', 'oddate', 'uid', 'item_id', 'item_type', 'odstatus',
       'net_price', 'price', 'unit_price', 'units', 'vat', 'vat_percentage',
       'parent_id', 'discount_percentage', 'discount_amount', 'discount_user',
       'cancel_user', 'discount_type', 'payment_type', 'payment_user',
       'odcreated_at', 'odupdated_at'],
      dtype='object')

In [111]:
df_order_details_02.isnull().sum()

odid                         0
ogid                         0
oddate                       0
uid                    1357411
item_id                      0
item_type                    0
odstatus                     0
net_price                    0
price                        0
unit_price                   0
units                        0
vat                          0
vat_percentage         1075833
parent_id              1780013
discount_percentage          0
discount_amount              0
discount_user                0
cancel_user                  0
discount_type                0
payment_type                 0
payment_user           1360553
odcreated_at                 0
odupdated_at                 0
dtype: int64

In [58]:
df_order_details_02 = df_order_details_02.drop_duplicates()

df_order_details_02.shape

(2003349, 23)

In [151]:
df_order_details_02.head()

,id,ogid,oddate,uid,item_id,item_type,status,receipt_issued,net_price,price,...,parent_id,discount_percentage,discount_amount,discount_user,cancel_user,discount_type,payment_type,payment_user,created_at,updated_at
0,ab394826-12b7-4332-bc51-9edbf3af1ec4,893b7f11-84d9-4b52-896b-4134baf664ba,2017-08-01 08:12:36,NaN,12,1,2,1,3.23,4.0,...,None,0.0,0.0,0,0,0,1,NaN,2017-08-01 08:12:27,2017-08-01 09:12:24
1,1039e874-31d3-40b4-ab46-6170b007c33d,893b7f11-84d9-4b52-896b-4134baf664ba,2017-08-01 08:12:36,NaN,53,2,2,0,0.00,0.0,...,ab394826-12b7-4332-bc51-9edbf3af1ec4,0.0,0.0,0,0,0,1,NaN,2017-08-01 08:12:32,2017-08-01 09:12:24
2,581f9581-6ec1-4f8f-8dde-6338e4f5f998,ec3629f1-d1e8-4a07-bf4a-066a90f42b2e,2017-08-01 08:19:50,NaN,12,1,2,1,3.23,4.0,...,None,0.0,0.0,0,0,0,1,NaN,2017-08-01 08:19:21,2017-08-01 08:28:03
3,ee88b30c-5531-4300-a099-401240037a82,ec3629f1-d1e8-4a07-bf4a-066a90f42b2e,2017-08-01 08:19:50,NaN,55,2,2,0,0.00,0.0,...,581f9581-6ec1-4f8f-8dde-6338e4f5f998,0.0,0.0,0,0,0,1,NaN,2017-08-01 08:19:29,2017-08-01 08:28:03
4,554c52b3-1251-4371-8549-f9ef93c19fa9,ec3629f1-d1e8-4a07-bf4a-066a90f42b2e,2017-08-01 08:19:50,NaN,12,1,2,1,3.23,4.0,...,None,0.0,0.0,0,0,0,1,NaN,2017-08-01 08:19:36,2017-08-01 08:28:03

In [152]:
# save df_order_details_merged as csv file:
df_order_details_02.to_csv('/content/drive/MyDrive/df_order_details_02.csv', index=False)

In [153]:
# Read using Spark
csv_dir = '/content/drive/MyDrive/df_order_details_02.csv'
df_order_details_02_spark = spark.read.format("csv").load(csv_dir, header=True, inferSchema=True)

In [154]:
df_order_details_02_spark.show(10)

+--------------------+--------------------+-------------------+----+-------+---------+------+--------------+---------+-----+----------+-----+----+--------------+--------------------+-------------------+---------------+-------------+-----------+-------------+------------+------------+-------------------+-------------------+
|                  id|                ogid|             oddate| uid|item_id|item_type|status|receipt_issued|net_price|price|unit_price|units| vat|vat_percentage|           parent_id|discount_percentage|discount_amount|discount_user|cancel_user|discount_type|payment_type|payment_user|         created_at|         updated_at|
+--------------------+--------------------+-------------------+----+-------+---------+------+--------------+---------+-----+----------+-----+----+--------------+--------------------+-------------------+---------------+-------------+-----------+-------------+------------+------------+-------------------+-------------------+
|ab394826-12b7-433...|893b7f11-84d9-4b5...|2017-08-01 08:12:36|NULL|     12|        1|     2|             1|     3.23|  4.0|       4.0|    1|0.77|          NULL|                NULL|                0.0|            0.0|            0|          0|            0|           1|        NULL|2017-08-01 08:12:27|2017-08-01 09:12:24|
|1039e874-31d3-40b...|893b7f11-84d9-4b5...|2017-08-01 08:12:36|NULL|     53|        2|     2|             0|      0.0|  0.0|       0.0|    1| 0.0|          NULL|ab394826-12b7-433...|                0.0|            0.0|            0|          0|            0|           1|        NULL|2017-08-01 08:12:32|2017-08-01 09:12:24|
|581f9581-6ec1-4f8...|ec3629f1-d1e8-4a0...|2017-08-01 08:19:50|NULL|     12|        1|     2|             1|     3.23|  4.0|       4.0|    1|0.77|          NULL|                NULL|                0.0|            0.0|            0|          0|            0|           1|        NULL|2017-08-01 08:19:21|2017-08-01 08:28:03|
|ee88b30c-5531-430...|ec3629f1-d1e8-4a0...|2017-08-01 08:19:50|NULL|     55|        2|     2|             0|      0.0|  0.0|       0.0|    1| 0.0|          NULL|581f9581-6ec1-4f8...|                0.0|            0.0|            0|          0|            0|           1|        NULL|2017-08-01 08:19:29|2017-08-01 08:28:03|
|554c52b3-1251-437...|ec3629f1-d1e8-4a0...|2017-08-01 08:19:50|NULL|     12|        1|     2|             1|     3.23|  4.0|       4.0|    1|0.77|          NULL|                NULL|                0.0|            0.0|            0|          0|            0|           1|        NULL|2017-08-01 08:19:36|2017-08-01 08:28:03|
|49715d8a-9aaf-48b...|ec3629f1-d1e8-4a0...|2017-08-01 08:19:50|NULL|     56|        2|     2|             0|      0.0|  0.0|       0.0|    1| 0.0|          NULL|554c52b3-1251-437...|                0.0|            0.0|            0|          0|            0|           1|        NULL|2017-08-01 08:19:45|2017-08-01 08:28:03|
|483cedf7-5373-4d7...|446fa4af-ceb8-46b...|2017-08-01 08:50:34|NULL|    371|        1|     2|             1|     3.23|  4.0|       4.0|    1|0.77|          NULL|                NULL|                0.0|            0.0|            0|          0|            0|           1|        NULL|2017-08-01 08:50:13|2017-08-01 09:37:17|
|47b8856d-04d8-43a...|446fa4af-ceb8-46b...|2017-08-01 08:50:34|NULL|     10|        1|     2|             1|     3.23|  4.0|       4.0|    1|0.77|          NULL|                NULL|                0.0|            0.0|            0|          0|            0|           1|        NULL|2017-08-01 08:50:28|2017-08-01 09:37:17|
|35a775da-da6b-43f...|446fa4af-ceb8-46b...|2017-08-01 08:50:34|NULL|     53|        2|     2|             0|      0.0|  0.0|       0.0|    1| 0.0|          NULL|47b8856d-04d8-43a...|                0.0|            0.0|            0|          0|            0|           1|        NULL|2017-08-01 08:50:33|2017-08-01 09:37:18|
|d8a55031-8548-42b...|0eb0b96e-ef2f-443...|2017-08-01 09:06:04|NULL|     10|        1|     2|             1|     6.45|  8.0|       4.0|    2|1.55|          NULL|                NULL|                0.0|            0.0|            0|          0|            0|           1|        NULL|2017-08-01 09:05:20|2017-08-01 10:12:24|
+--------------------+--------------------+-------------------+----+-------+---------+------+--------------+---------+-----+----------+-----+----+--------------+--------------------+-------------------+---------------+-------------+-----------+-------------+------------+------------+-------------------+-------------------+
only showing top 10 rows

In [113]:
# Check the memory usage before optimization
df_order_details_02.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2003349 entries, 0 to 2003348
Data columns (total 23 columns):
 #   Column               Dtype
---  ------               -----
 0   odid                 object
 1   ogid                 object
 2   oddate               object
 3   uid                  float64
 4   item_id              int64
 5   item_type            int64
 6   odstatus             int64
 7   net_price            float64
 8   price                float64
 9   unit_price           float64
 10  units                int64
 11  vat                  float64
 12  vat_percentage       float64
 13  parent_id            object
 14  discount_percentage  float64
 15  discount_amount      float64
 16  discount_user        int64
 17  cancel_user          int64
 18  discount_type        int64
 19  payment_type         int64
 20  payment_user         float64
 21  odcreated_at         datetime64[ns]
 22  odupdated_at         datetime64[ns]
dtypes: datetime64[ns](2), float64(9), int64(8), object(4)
memory usage: 866.8 MB

In [114]:
df_order_details_02.columns, df_order_details_02.shape

(Index(['odid', 'ogid', 'oddate', 'uid', 'item_id', 'item_type', 'odstatus',
        'net_price', 'price', 'unit_price', 'units', 'vat', 'vat_percentage',
        'parent_id', 'discount_percentage', 'discount_amount', 'discount_user',
        'cancel_user', 'discount_type', 'payment_type', 'payment_user',
        'odcreated_at', 'odupdated_at'],
       dtype='object'),
 (2003349, 23))

# Transform

# Data Cleaning:
Inspection and Cleaning

In [80]:
df_order_details_02.isnull().sum()

id                           0
ogid                         0
oddate                       0
uid                    1357411
item_id                      0
item_type                    0
status                       0
receipt_issued               0
net_price                    0
price                        0
unit_price                   0
units                        0
vat                          0
vat_percentage         1075833
parent_id              1780013
discount_percentage          0
discount_amount              0
discount_user                0
cancel_user                  0
discount_type                0
payment_type                 0
payment_user           1360553
created_at                   0
updated_at                   0
dtype: int64

In [26]:
df_order_details_02['payment_user'].value_counts()

35.0    90772
42.0    89295
41.0    63637
25.0    57106
38.0    52462
43.0    43887
24.0    35472
17.0    33451
22.0    30282
47.0    26978
12.0    23237
19.0    18695
46.0    16081
33.0    14810
49.0    14239
45.0    11471
50.0     6889
0.0      6076
51.0     4019
48.0     3937
Name: payment_user, dtype: int64

**Handling Null Values:**

In [59]:
# Replace nulls in 'vat_percentage' with 0.0
df_order_details_02['vat_percentage'].fillna(0.0, inplace=True)

In [60]:
# Create a binary indicator for missing uid
df_order_details_02['uid_missing'] = df_order_details_02['uid'].isnull().astype(int)

# fill NaN values with a placeholder after creating the indicator
df_order_details_02['uid'].fillna(-1, inplace=True)

In [61]:
df_order_details_02.isnull().sum()

odid                         0
ogid                         0
oddate                       0
uid                          0
item_id                      0
item_type                    0
odstatus                     0
net_price                    0
price                        0
unit_price                   0
units                        0
vat                          0
vat_percentage               0
parent_id              1780013
discount_percentage          0
discount_amount              0
discount_user                0
cancel_user                  0
discount_type                0
payment_type                 0
payment_user           1360553
odcreated_at                 0
odupdated_at                 0
uid_missing                  0
dtype: int64

# Removing Rows with Missing uid

In [346]:
# df_order_details_02 = df_order_details_02.dropna(subset=['uid'])

In [26]:
df_order_details_02.shape

(2003349, 24)

**Removing Rows with Missing payment_user**

In [348]:
# df_order_details_02 = df_order_details_02.dropna(subset=['payment_user'])

In [62]:
df_order_details_02.isnull().sum()

odid                         0
ogid                         0
oddate                       0
uid                          0
item_id                      0
item_type                    0
odstatus                     0
net_price                    0
price                        0
unit_price                   0
units                        0
vat                          0
vat_percentage               0
parent_id              1780013
discount_percentage          0
discount_amount              0
discount_user                0
cancel_user                  0
discount_type                0
payment_type                 0
payment_user           1360553
odcreated_at                 0
odupdated_at                 0
uid_missing                  0
dtype: int64

**Drop parent_id column**

In [117]:
df_order_details_02.columns

Index(['odid', 'ogid', 'oddate', 'uid', 'item_id', 'item_type', 'odstatus',
       'net_price', 'price', 'unit_price', 'units', 'vat', 'vat_percentage',
       'parent_id', 'discount_percentage', 'discount_amount', 'discount_user',
       'cancel_user', 'discount_type', 'payment_type', 'payment_user',
       'odcreated_at', 'odupdated_at'],
      dtype='object')

In [63]:
df_order_details_02.drop(columns=['parent_id'], inplace=True)

In [119]:
df_order_details_02.shape

(2003349, 22)

# memory usage before optimization

In [68]:
# Check the memory usage before optimization
df_order_details_02.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2003349 entries, 0 to 2003348
Data columns (total 24 columns):
 #   Column               Dtype
---  ------               -----
 0   id                   object
 1   ogid                 object
 2   oddate               object
 3   uid                  float64
 4   item_id              int64
 5   item_type            int64
 6   status               int64
 7   receipt_issued       int64
 8   net_price            float64
 9   price                float64
 10  unit_price           float64
 11  units                int64
 12  vat                  float64
 13  vat_percentage       float64
 14  parent_id            object
 15  discount_percentage  float64
 16  discount_amount      float64
 17  discount_user        int64
 18  cancel_user          int64
 19  discount_type        int64
 20  payment_type         int64
 21  payment_user         float64
 22  created_at           datetime64[ns]
 23  updated_at           datetime64[ns]
dtypes: datetime64[ns](2), float64(9), int64(9), object(4)
memory usage: 882.1 MB

# Merge OrderDetails with User table

# Access User DataFrame

In [64]:
df_User = dataframes['df_User']

df_User.shape

(51, 29)

In [44]:
df_User.head()

,id,name,states,uname,pass,store,role,user_tag,rcp_ser_pfx,CurrentShiftStarted,...,can_transfer_orders,can_force_login,can_reprint_products,can_print_total_order,can_bartender_orders,can_pay_orders,hide_totals,max_shift_time,created_at,updated_at
0,-999,Hidden Service,None,sp0tl1ght,sp0tl1ght,549,3,NaN,NaN,None,...,0,0,0,0,0,0,0.0,NaT,2023-01-30 14:45:28,2023-01-30 14:45:28
1,1,Andreas,"app.store.analytics,app.store.analytics.delive...",andreas,0102,549,1,NaN,NaN,None,...,1,1,1,1,1,0,NaN,NaT,2017-03-02 10:29:05,2017-03-08 08:41:24
2,3,Κωνσταντινος Μπαμπουλας,,kostas,kostas,549,3,NaN,NaN,0001-01-01 00:00:00,...,0,0,0,0,0,0,NaN,NaT,2017-03-02 10:29:05,2017-03-22 13:29:23
3,4,Check,,check,check,549,4,NaN,NaN,None,...,0,0,0,0,0,0,NaN,NaT,2017-03-02 10:29:05,2017-03-08 08:41:54
4,5,Αντωνης Πλατανιτης,"app.store.live,app.store.live.tables,app.store...",antonis,1020,549,5,NaN,NaN,None,...,0,0,0,0,0,0,1.0,NaT,2017-03-02 10:29:05,2019-11-26 08:46:43

In [45]:
df_User.isnull().sum()

id                        0
name                      0
states                    1
uname                     0
pass                      0
store                     0
role                      0
user_tag                 51
rcp_ser_pfx              51
CurrentShiftStarted      14
isactive                  0
admin_pass               39
manager_access            0
qrcode                    0
color_id                 51
can_order_reports         0
can_discounts             0
can_cancel_order          0
can_delete_order          0
can_transfer_orders       0
can_force_login           0
can_reprint_products      0
can_print_total_order     0
can_bartender_orders      0
can_pay_orders            0
hide_totals               9
max_shift_time           51
created_at                0
updated_at                0
dtype: int64

In [53]:
df_User['admin_pass'].value_counts()

        6
0102    1
1270    1
1       1
1120    1
1722    1
1723    1
Name: admin_pass, dtype: int64

# Selecting Columns of 'User'

In [65]:
df_User.columns, df_User.shape

(Index(['id', 'name', 'states', 'uname', 'pass', 'store', 'role', 'user_tag',
        'rcp_ser_pfx', 'CurrentShiftStarted', 'isactive', 'admin_pass',
        'manager_access', 'qrcode', 'color_id', 'can_order_reports',
        'can_discounts', 'can_cancel_order', 'can_delete_order',
        'can_transfer_orders', 'can_force_login', 'can_reprint_products',
        'can_print_total_order', 'can_bartender_orders', 'can_pay_orders',
        'hide_totals', 'max_shift_time', 'created_at', 'updated_at'],
       dtype='object'),
 (51, 29))

In [66]:
user_columns = ['id', 'name']

df_User_selected = df_User[user_columns]

df_User_selected.shape

(51, 2)

In [ ]:
df_User_selected

In [36]:
df_User_selected.columns, df_User_selected.shape

(Index(['id', 'name'], dtype='object'), (51, 2))

In [68]:
df_User_01 = df_User_selected.copy()

In [69]:
# Add a new row using the loc method
df_User_01.loc[len(df_User_01)] = {'id': -1, 'name': 'Unknown'}

# Check the last few rows to confirm the new row is added
print(df_User_01.tail())

    id                     name
47  48         ΦΡΑΝΤΣΕΣΚΑ ΚΑΛΑΙ
48  49    ΔΗΜΟΓΕΡΟΝΤΑΣ ΣΤΕΦΑΝΟΣ
49  50         ΦΡΑΝΤΖΕΣΚΟ ΜΟΥΧΟ
50  51  ΚΩΝΣΤΑΝΤΟΠΟΥΛΟΣ ΘΟΔΩΡΗΣ
51  -1                  Unknown

In [70]:
df_User_01.columns, df_User_01.shape

(Index(['id', 'name'], dtype='object'), (52, 2))

# Merge DataFrames (df_order_details, df_User)

In [71]:
df_User_02 = df_User_01.copy()

In [127]:
df_order_details_02.shape, df_User_02.shape

((2003349, 22), (52, 2))

In [72]:
# Convert 'uid' in df_order_details and 'id' in df_user to the same data type
df_order_details_02['uid'] = df_order_details_02['uid'].astype(int)
df_User_01['id'] = df_User_01['id'].astype(int)

In [73]:
# Merge the DataFrames
df_merged = pd.merge(df_order_details_02, df_User_01, left_on='uid', right_on='id', how='inner')

# Check the result
print(df_merged.shape)

(2000248, 25)

In [74]:
df_order_details_03 = df_merged.copy()

In [75]:
df_order_details_03.head()

,odid,ogid,oddate,uid,item_id,item_type,odstatus,net_price,price,unit_price,...,discount_user,cancel_user,discount_type,payment_type,payment_user,odcreated_at,odupdated_at,uid_missing,id,name
0,ab394826-12b7-4332-bc51-9edbf3af1ec4,893b7f11-84d9-4b52-896b-4134baf664ba,2017-08-01 08:12:36,-1,12,1,2,3.23,4.0,4.0,...,0,0,0,1,NaN,2017-08-01 08:12:27,2017-08-01 09:12:24,1,-1,Unknown
1,1039e874-31d3-40b4-ab46-6170b007c33d,893b7f11-84d9-4b52-896b-4134baf664ba,2017-08-01 08:12:36,-1,53,2,2,0.00,0.0,0.0,...,0,0,0,1,NaN,2017-08-01 08:12:32,2017-08-01 09:12:24,1,-1,Unknown
2,581f9581-6ec1-4f8f-8dde-6338e4f5f998,ec3629f1-d1e8-4a07-bf4a-066a90f42b2e,2017-08-01 08:19:50,-1,12,1,2,3.23,4.0,4.0,...,0,0,0,1,NaN,2017-08-01 08:19:21,2017-08-01 08:28:03,1,-1,Unknown
3,ee88b30c-5531-4300-a099-401240037a82,ec3629f1-d1e8-4a07-bf4a-066a90f42b2e,2017-08-01 08:19:50,-1,55,2,2,0.00,0.0,0.0,...,0,0,0,1,NaN,2017-08-01 08:19:29,2017-08-01 08:28:03,1,-1,Unknown
4,554c52b3-1251-4371-8549-f9ef93c19fa9,ec3629f1-d1e8-4a07-bf4a-066a90f42b2e,2017-08-01 08:19:50,-1,12,1,2,3.23,4.0,4.0,...,0,0,0,1,NaN,2017-08-01 08:19:36,2017-08-01 08:28:03,1,-1,Unknown

In [131]:
df_order_details_03.columns

Index(['odid', 'ogid', 'oddate', 'uid', 'item_id', 'item_type', 'odstatus',
       'net_price', 'price', 'unit_price', 'units', 'vat', 'vat_percentage',
       'discount_percentage', 'discount_amount', 'discount_user',
       'cancel_user', 'discount_type', 'payment_type', 'payment_user',
       'odcreated_at', 'odupdated_at', 'id', 'name'],
      dtype='object')

In [76]:
# Drop 'id' and 'uid' columns
df_order_details_03.drop(columns=['uid', 'id'], inplace=True)

In [77]:
df_order_details_03.columns

Index(['odid', 'ogid', 'oddate', 'item_id', 'item_type', 'odstatus',
       'net_price', 'price', 'unit_price', 'units', 'vat', 'vat_percentage',
       'discount_percentage', 'discount_amount', 'discount_user',
       'cancel_user', 'discount_type', 'payment_type', 'payment_user',
       'odcreated_at', 'odupdated_at', 'uid_missing', 'name'],
      dtype='object')

In [78]:
# Rename 'id_x' to 'id' and 'name' to 'pos_uname'
df_order_details_03.rename(columns={'uid_missing': 'pos_uname_missing', 'name': 'pos_uname'}, inplace=True)

In [79]:
df_order_details_03.columns

Index(['odid', 'ogid', 'oddate', 'item_id', 'item_type', 'odstatus',
       'net_price', 'price', 'unit_price', 'units', 'vat', 'vat_percentage',
       'discount_percentage', 'discount_amount', 'discount_user',
       'cancel_user', 'discount_type', 'payment_type', 'payment_user',
       'odcreated_at', 'odupdated_at', 'pos_uname_missing', 'pos_uname'],
      dtype='object')

In [80]:
df_order_details_03.shape

(2000248, 23)

In [81]:
# save df_order_details_03 as csv file:
df_order_details_03.to_csv('/content/drive/MyDrive/df_order_details_03.csv', index=False)

# Merge DataFrames (df_order_details_03, df_User) on discount_user, cancel_user, payment_user:

In [82]:
# Merge for 'discount_user'
df_merged_discount = pd.merge(df_order_details_03, df_User_02, left_on='discount_user', right_on='id', how='left')
df_merged_discount.rename(columns={'name': 'discount_uname'}, inplace=True)

In [137]:
df_merged_discount.columns, df_merged_discount.shape

(Index(['odid', 'ogid', 'oddate', 'item_id', 'item_type', 'odstatus',
        'net_price', 'price', 'unit_price', 'units', 'vat', 'vat_percentage',
        'discount_percentage', 'discount_amount', 'discount_user',
        'cancel_user', 'discount_type', 'payment_type', 'payment_user',
        'odcreated_at', 'odupdated_at', 'pos_uname', 'id', 'discount_uname'],
       dtype='object'),
 (2000248, 24))

In [83]:
df_merged_01 = df_merged_discount.copy()

In [84]:
# Merge for 'cancel_user'
df_merged_cancel = pd.merge(df_merged_01, df_User_02, left_on='cancel_user', right_on='id', how='left', suffixes=('', '_cancel'))
df_merged_cancel.rename(columns={'name': 'cancel_uname'}, inplace=True)

In [85]:
df_merged_cancel.columns, df_merged_cancel.shape

(Index(['odid', 'ogid', 'oddate', 'item_id', 'item_type', 'odstatus',
        'net_price', 'price', 'unit_price', 'units', 'vat', 'vat_percentage',
        'discount_percentage', 'discount_amount', 'discount_user',
        'cancel_user', 'discount_type', 'payment_type', 'payment_user',
        'odcreated_at', 'odupdated_at', 'pos_uname_missing', 'pos_uname', 'id',
        'discount_uname', 'id_cancel', 'cancel_uname'],
       dtype='object'),
 (2000248, 27))

In [86]:
df_merged_02 = df_merged_cancel.copy()

In [87]:
# Replace nulls in 'payment_user' with -1
df_merged_02['payment_user'].fillna(-1, inplace=True)

In [88]:
# Merge for 'payment_user'
df_merged_final = pd.merge(df_merged_cancel, df_User_02, left_on='payment_user', right_on='id', how='left', suffixes=('', '_payment'))
df_merged_final.rename(columns={'name': 'payment_uname'}, inplace=True)

In [146]:
df_merged_final.columns, df_merged_final.shape

(Index(['odid', 'ogid', 'oddate', 'item_id', 'item_type', 'odstatus',
        'net_price', 'price', 'unit_price', 'units', 'vat', 'vat_percentage',
        'discount_percentage', 'discount_amount', 'discount_user',
        'cancel_user', 'discount_type', 'payment_type', 'payment_user',
        'odcreated_at', 'odupdated_at', 'pos_uname', 'id', 'discount_uname',
        'id_cancel', 'cancel_uname', 'id_payment', 'payment_uname'],
       dtype='object'),
 (2000248, 28))

In [89]:
# Drop the extra 'id' columns that were added during the merges
df_merged_final.drop(['id','id_cancel', 'id_payment'], axis=1, inplace=True)

In [90]:
df_merged_final.drop(['discount_user', 'cancel_user', 'payment_user'], axis=1, inplace=True)

In [91]:
df_order_details_04 = df_merged_final.copy()

In [150]:
df_order_details_04.columns, df_order_details_04.shape

(Index(['odid', 'ogid', 'oddate', 'item_id', 'item_type', 'odstatus',
        'net_price', 'price', 'unit_price', 'units', 'vat', 'vat_percentage',
        'discount_percentage', 'discount_amount', 'discount_type',
        'payment_type', 'odcreated_at', 'odupdated_at', 'pos_uname',
        'discount_uname', 'cancel_uname', 'payment_uname'],
       dtype='object'),
 (2000248, 22))

In [151]:
df_order_details_04.head()

,odid,ogid,oddate,item_id,item_type,odstatus,net_price,price,unit_price,units,...,discount_percentage,discount_amount,discount_type,payment_type,odcreated_at,odupdated_at,pos_uname,discount_uname,cancel_uname,payment_uname
0,ab394826-12b7-4332-bc51-9edbf3af1ec4,893b7f11-84d9-4b52-896b-4134baf664ba,2017-08-01 08:12:36,12,1,2,3.23,4.0,4.0,1,...,0.0,0.0,0,1,2017-08-01 08:12:27,2017-08-01 09:12:24,Unknown,NaN,NaN,NaN
1,1039e874-31d3-40b4-ab46-6170b007c33d,893b7f11-84d9-4b52-896b-4134baf664ba,2017-08-01 08:12:36,53,2,2,0.00,0.0,0.0,1,...,0.0,0.0,0,1,2017-08-01 08:12:32,2017-08-01 09:12:24,Unknown,NaN,NaN,NaN
2,581f9581-6ec1-4f8f-8dde-6338e4f5f998,ec3629f1-d1e8-4a07-bf4a-066a90f42b2e,2017-08-01 08:19:50,12,1,2,3.23,4.0,4.0,1,...,0.0,0.0,0,1,2017-08-01 08:19:21,2017-08-01 08:28:03,Unknown,NaN,NaN,NaN
3,ee88b30c-5531-4300-a099-401240037a82,ec3629f1-d1e8-4a07-bf4a-066a90f42b2e,2017-08-01 08:19:50,55,2,2,0.00,0.0,0.0,1,...,0.0,0.0,0,1,2017-08-01 08:19:29,2017-08-01 08:28:03,Unknown,NaN,NaN,NaN
4,554c52b3-1251-4371-8549-f9ef93c19fa9,ec3629f1-d1e8-4a07-bf4a-066a90f42b2e,2017-08-01 08:19:50,12,1,2,3.23,4.0,4.0,1,...,0.0,0.0,0,1,2017-08-01 08:19:36,2017-08-01 08:28:03,Unknown,NaN,NaN,NaN

In [153]:
df_order_details_04.isnull().sum()

odid                         0
ogid                         0
oddate                       0
item_id                      0
item_type                    0
odstatus                     0
net_price                    0
price                        0
unit_price                   0
units                        0
vat                          0
vat_percentage               0
discount_percentage          0
discount_amount              0
discount_type                0
payment_type                 0
odcreated_at                 0
odupdated_at                 0
pos_uname                    0
discount_uname         1883375
cancel_uname           1998084
payment_uname          1366576
dtype: int64

In [92]:
# Create a binary indicator for missing
df_order_details_04['discount_uname_missing'] = df_order_details_04['discount_uname'].isnull().astype(int)

# Replace nulls in 'discount_uname' with Unknown
df_order_details_04['discount_uname'].fillna('Unknown', inplace=True)

In [93]:
# Create a binary indicator for missing
df_order_details_04['cancel_uname_missing'] = df_order_details_04['cancel_uname'].isnull().astype(int)

# Replace nulls in 'cancel_uname' with Unknown
df_order_details_04['cancel_uname'].fillna('Unknown', inplace=True)

In [94]:
# Create a binary indicator for missing
df_order_details_04['payment_uname_missing'] = df_order_details_04['payment_uname'].isnull().astype(int)

# Replace nulls in 'payment_uname' with Unknown
df_order_details_04['payment_uname'].fillna('Unknown', inplace=True)

In [95]:
df_order_details_04.isnull().sum()

odid                      0
ogid                      0
oddate                    0
item_id                   0
item_type                 0
odstatus                  0
net_price                 0
price                     0
unit_price                0
units                     0
vat                       0
vat_percentage            0
discount_percentage       0
discount_amount           0
discount_type             0
payment_type              0
odcreated_at              0
odupdated_at              0
pos_uname_missing         0
pos_uname                 0
discount_uname            0
cancel_uname              0
payment_uname             0
discount_uname_missing    0
cancel_uname_missing      0
payment_uname_missing     0
dtype: int64

In [96]:
# save df_order_details_04 as csv file:
df_order_details_04.to_csv('/content/drive/MyDrive/df_order_details_04.csv', index=False)

# Merge DataFrames (df_order_details_04,  df_orders_status) on status:

In [97]:
df_orders_status_01.shape, df_orders_status_01.columns

((10, 2), Index(['id', 'name'], dtype='object'))

In [98]:
df_order_details_04.shape, df_order_details_04.columns

((2000248, 26),
 Index(['odid', 'ogid', 'oddate', 'item_id', 'item_type', 'odstatus',
        'net_price', 'price', 'unit_price', 'units', 'vat', 'vat_percentage',
        'discount_percentage', 'discount_amount', 'discount_type',
        'payment_type', 'odcreated_at', 'odupdated_at', 'pos_uname_missing',
        'pos_uname', 'discount_uname', 'cancel_uname', 'payment_uname',
        'discount_uname_missing', 'cancel_uname_missing',
        'payment_uname_missing'],
       dtype='object'))

In [99]:
# Merge df_orders_clean on 'status' column and df_orders_status on corresponding 'id' and 'status' columns
df_order_details_05 = pd.merge(
    df_order_details_04,
    df_orders_status_01,
    left_on='odstatus',
    right_on='id',
    how='left'
)

In [159]:
df_order_details_05.columns, df_order_details_05.shape

(Index(['odid', 'ogid', 'oddate', 'item_id', 'item_type', 'odstatus',
        'net_price', 'price', 'unit_price', 'units', 'vat', 'vat_percentage',
        'discount_percentage', 'discount_amount', 'discount_type',
        'payment_type', 'odcreated_at', 'odupdated_at', 'pos_uname',
        'discount_uname', 'cancel_uname', 'payment_uname', 'id', 'name'],
       dtype='object'),
 (2000248, 24))

In [100]:
# Drop the extra 'id_y' columns that were added during the merges
df_order_details_05.drop(['id','odstatus'], axis=1, inplace=True)

In [101]:
df_order_details_05.rename(columns={'name': 'odstatus'}, inplace=True)

In [162]:
df_order_details_05.columns, df_order_details_05.shape

(Index(['odid', 'ogid', 'oddate', 'item_id', 'item_type', 'net_price', 'price',
        'unit_price', 'units', 'vat', 'vat_percentage', 'discount_percentage',
        'discount_amount', 'discount_type', 'payment_type', 'odcreated_at',
        'odupdated_at', 'pos_uname', 'discount_uname', 'cancel_uname',
        'payment_uname', 'odstatus'],
       dtype='object'),
 (2000248, 22))

In [164]:
df_order_details_05.head()

,odid,ogid,oddate,item_id,item_type,net_price,price,unit_price,units,vat,...,discount_amount,discount_type,payment_type,odcreated_at,odupdated_at,pos_uname,discount_uname,cancel_uname,payment_uname,odstatus
0,ab394826-12b7-4332-bc51-9edbf3af1ec4,893b7f11-84d9-4b52-896b-4134baf664ba,2017-08-01 08:12:36,12,1,3.23,4.0,4.0,1,0.77,...,0.0,0,1,2017-08-01 08:12:27,2017-08-01 09:12:24,Unknown,Unknown,Unknown,Unknown,Paid
1,1039e874-31d3-40b4-ab46-6170b007c33d,893b7f11-84d9-4b52-896b-4134baf664ba,2017-08-01 08:12:36,53,2,0.00,0.0,0.0,1,0.00,...,0.0,0,1,2017-08-01 08:12:32,2017-08-01 09:12:24,Unknown,Unknown,Unknown,Unknown,Paid
2,581f9581-6ec1-4f8f-8dde-6338e4f5f998,ec3629f1-d1e8-4a07-bf4a-066a90f42b2e,2017-08-01 08:19:50,12,1,3.23,4.0,4.0,1,0.77,...,0.0,0,1,2017-08-01 08:19:21,2017-08-01 08:28:03,Unknown,Unknown,Unknown,Unknown,Paid
3,ee88b30c-5531-4300-a099-401240037a82,ec3629f1-d1e8-4a07-bf4a-066a90f42b2e,2017-08-01 08:19:50,55,2,0.00,0.0,0.0,1,0.00,...,0.0,0,1,2017-08-01 08:19:29,2017-08-01 08:28:03,Unknown,Unknown,Unknown,Unknown,Paid
4,554c52b3-1251-4371-8549-f9ef93c19fa9,ec3629f1-d1e8-4a07-bf4a-066a90f42b2e,2017-08-01 08:19:50,12,1,3.23,4.0,4.0,1,0.77,...,0.0,0,1,2017-08-01 08:19:36,2017-08-01 08:28:03,Unknown,Unknown,Unknown,Unknown,Paid

In [102]:
# save df_order_details_05 as csv file:
df_order_details_05.to_csv('/content/drive/MyDrive/df_order_details_05.csv', index=False)

# Merge DataFrames (df_order_details_05, df_DiscountType)

# DiscountTypes Df

In [165]:
df_order_details_05.columns, df_order_details_05.shape

(Index(['odid', 'ogid', 'oddate', 'item_id', 'item_type', 'net_price', 'price',
        'unit_price', 'units', 'vat', 'vat_percentage', 'discount_percentage',
        'discount_amount', 'discount_type', 'payment_type', 'odcreated_at',
        'odupdated_at', 'pos_uname', 'discount_uname', 'cancel_uname',
        'payment_uname', 'odstatus'],
       dtype='object'),
 (2000248, 22))

In [103]:
df_DiscountType = dataframes['df_DiscountType']

df_DiscountType.shape

(4, 10)

In [83]:
df_DiscountType

,id,name,editable,visible,type,value,requires_otp,view_order,created_at,updated_at
0,-1,Room Discount,1,0,percentage,0,0,-1,2023-01-23 12:59:15,2023-01-23 12:59:15
1,1,Generic Discount,0,1,percentage,0,0,1,0000-00-00 00:00:00,0000-00-00 00:00:00
2,2,Self Consumption,0,1,percentage,0,0,2,0000-00-00 00:00:00,0000-00-00 00:00:00
3,3,Customer Discount,0,1,percentage,0,0,3,0000-00-00 00:00:00,0000-00-00 00:00:00

**Selecting Columns of 'df_DiscountType'**

In [104]:
DiscountType_columns = ['id', 'name']

df_DiscountType_selected = df_DiscountType[DiscountType_columns]

df_DiscountType_selected.shape

(4, 2)

In [105]:
# Merge df_DiscountType_selected on 'discount_type' column and df_DiscountType_selected on corresponding 'id'
df_order_details_06 = pd.merge(
    df_order_details_05,
    df_DiscountType_selected,
    left_on='discount_type',
    right_on='id',
    how='left'
)

In [185]:
df_order_details_06.columns, df_order_details_06.shape

(Index(['odid', 'ogid', 'oddate', 'item_id', 'item_type', 'net_price', 'price',
        'unit_price', 'units', 'vat', 'vat_percentage', 'discount_percentage',
        'discount_amount', 'discount_type', 'payment_type', 'odcreated_at',
        'odupdated_at', 'pos_uname', 'discount_uname', 'cancel_uname',
        'payment_uname', 'odstatus', 'id', 'name'],
       dtype='object'),
 (2000248, 24))

In [106]:
# Drop the extra columns that were added during the merges
df_order_details_06.drop(['id', 'discount_type'], axis=1, inplace=True)

In [107]:
df_order_details_06.rename(columns={'id_x': 'id', 'name': 'discount_type'}, inplace=True)

In [188]:
df_order_details_06.columns, df_order_details_06.shape

(Index(['odid', 'ogid', 'oddate', 'item_id', 'item_type', 'net_price', 'price',
        'unit_price', 'units', 'vat', 'vat_percentage', 'discount_percentage',
        'discount_amount', 'payment_type', 'odcreated_at', 'odupdated_at',
        'pos_uname', 'discount_uname', 'cancel_uname', 'payment_uname',
        'odstatus', 'discount_type'],
       dtype='object'),
 (2000248, 22))

In [108]:
df_order_details_06['discount_type'].value_counts(dropna=False, ascending=True)

Self Consumption          1
Generic Discount     116872
NaN                 1883375
Name: discount_type, dtype: int64

**Apply One-Hot Encoding**

In [109]:
df_order_details_07 = pd.get_dummies(df_order_details_06, columns=['discount_type'], dummy_na=False, drop_first=False)

In [110]:
df_order_details_08 = pd.get_dummies(df_order_details_07, columns=['odstatus'], dummy_na=False, drop_first=False)

In [111]:
df_order_details_08.columns, df_order_details_08.shape

(Index(['odid', 'ogid', 'oddate', 'item_id', 'item_type', 'net_price', 'price',
        'unit_price', 'units', 'vat', 'vat_percentage', 'discount_percentage',
        'discount_amount', 'payment_type', 'odcreated_at', 'odupdated_at',
        'pos_uname_missing', 'pos_uname', 'discount_uname', 'cancel_uname',
        'payment_uname', 'discount_uname_missing', 'cancel_uname_missing',
        'payment_uname_missing', 'discount_type_Generic Discount',
        'discount_type_Self Consumption', 'odstatus_Open', 'odstatus_Paid',
        'odstatus_Partially Printed', 'odstatus_Printed Cancelled',
        'odstatus_Printed Open', 'odstatus_Unpaid'],
       dtype='object'),
 (2000248, 32))

In [112]:
df_order_details_08.rename(columns={'discount_type_Generic Discount': 'generic_discount',
                                    'discount_type_Self Consumption': 'self_consumption_discount',
                                    'odstatus_Open': 'odstatus_open',
                                    'odstatus_Paid': 'odstatus_paid',
                                    'odstatus_Partially Printed': 'odstatus_partially_printed',
                                    'odstatus_Printed Cancelled': 'odstatus_printed_cancelled',
                                    'odstatus_Printed Open': 'odstatus_printed_open'
                                    }, inplace=True)

In [113]:
df_order_details_08.columns, df_order_details_08.shape

(Index(['odid', 'ogid', 'oddate', 'item_id', 'item_type', 'net_price', 'price',
        'unit_price', 'units', 'vat', 'vat_percentage', 'discount_percentage',
        'discount_amount', 'payment_type', 'odcreated_at', 'odupdated_at',
        'pos_uname_missing', 'pos_uname', 'discount_uname', 'cancel_uname',
        'payment_uname', 'discount_uname_missing', 'cancel_uname_missing',
        'payment_uname_missing', 'generic_discount',
        'self_consumption_discount', 'odstatus_open', 'odstatus_paid',
        'odstatus_partially_printed', 'odstatus_printed_cancelled',
        'odstatus_printed_open', 'odstatus_Unpaid'],
       dtype='object'),
 (2000248, 32))

In [195]:
df_order_details_08.isnull().sum()

odid                          0
ogid                          0
oddate                        0
item_id                       0
item_type                     0
net_price                     0
price                         0
unit_price                    0
units                         0
vat                           0
vat_percentage                0
discount_percentage           0
discount_amount               0
payment_type                  0
odcreated_at                  0
odupdated_at                  0
pos_uname                     0
discount_uname                0
cancel_uname                  0
payment_uname                 0
generic_discount              0
self_consumption_discount     0
odstatus_open                 0
odstatus_paid                 0
odstatus_partially_printed    0
odstatus_printed_cancelled    0
odstatus_printed_open         0
odstatus_Unpaid               0
dtype: int64

In [196]:
df_order_details_08.head()

,odid,ogid,oddate,item_id,item_type,net_price,price,unit_price,units,vat,...,cancel_uname,payment_uname,generic_discount,self_consumption_discount,odstatus_open,odstatus_paid,odstatus_partially_printed,odstatus_printed_cancelled,odstatus_printed_open,odstatus_Unpaid
0,ab394826-12b7-4332-bc51-9edbf3af1ec4,893b7f11-84d9-4b52-896b-4134baf664ba,2017-08-01 08:12:36,12,1,3.23,4.0,4.0,1,0.77,...,Unknown,Unknown,0,0,0,1,0,0,0,0
1,1039e874-31d3-40b4-ab46-6170b007c33d,893b7f11-84d9-4b52-896b-4134baf664ba,2017-08-01 08:12:36,53,2,0.00,0.0,0.0,1,0.00,...,Unknown,Unknown,0,0,0,1,0,0,0,0
2,581f9581-6ec1-4f8f-8dde-6338e4f5f998,ec3629f1-d1e8-4a07-bf4a-066a90f42b2e,2017-08-01 08:19:50,12,1,3.23,4.0,4.0,1,0.77,...,Unknown,Unknown,0,0,0,1,0,0,0,0
3,ee88b30c-5531-4300-a099-401240037a82,ec3629f1-d1e8-4a07-bf4a-066a90f42b2e,2017-08-01 08:19:50,55,2,0.00,0.0,0.0,1,0.00,...,Unknown,Unknown,0,0,0,1,0,0,0,0
4,554c52b3-1251-4371-8549-f9ef93c19fa9,ec3629f1-d1e8-4a07-bf4a-066a90f42b2e,2017-08-01 08:19:50,12,1,3.23,4.0,4.0,1,0.77,...,Unknown,Unknown,0,0,0,1,0,0,0,0

In [114]:
# save df_order_details_08 as csv file:
df_order_details_08.to_csv('/content/drive/MyDrive/df_order_details_08.csv', index=False)

# Merge DataFrames (df_order_details_08, df_product)

# Access df Product

In [115]:
import pandas as pd

In [6]:
df_order_details_08 = pd.read_csv('/content/drive/MyDrive/df_order_details_08.csv')

In [ ]:
df_order_details_08.columns, df_order_details_08.shape

In [147]:
df_order_details_08.head()

,id,ogid,oddate,item_id,item_type,net_price,price,unit_price,units,vat,...,cancel_uname,payment_uname,generic_discount,Self_consumption_discount,odstatus_Open,odstatus_Paid,odstatus_Partially_Printed,odstatus_Printed_Cancelled,odstatus_Printed_Open,odstatus_Unpaid
0,ab394826-12b7-4332-bc51-9edbf3af1ec4,893b7f11-84d9-4b52-896b-4134baf664ba,2017-08-01 08:12:36,12,1,3.23,4.0,4.0,1,0.77,...,Unknown,Unknown,0,0,0,1,0,0,0,0
1,1039e874-31d3-40b4-ab46-6170b007c33d,893b7f11-84d9-4b52-896b-4134baf664ba,2017-08-01 08:12:36,53,2,0.00,0.0,0.0,1,0.00,...,Unknown,Unknown,0,0,0,1,0,0,0,0
2,581f9581-6ec1-4f8f-8dde-6338e4f5f998,ec3629f1-d1e8-4a07-bf4a-066a90f42b2e,2017-08-01 08:19:50,12,1,3.23,4.0,4.0,1,0.77,...,Unknown,Unknown,0,0,0,1,0,0,0,0
3,ee88b30c-5531-4300-a099-401240037a82,ec3629f1-d1e8-4a07-bf4a-066a90f42b2e,2017-08-01 08:19:50,55,2,0.00,0.0,0.0,1,0.00,...,Unknown,Unknown,0,0,0,1,0,0,0,0
4,554c52b3-1251-4371-8549-f9ef93c19fa9,ec3629f1-d1e8-4a07-bf4a-066a90f42b2e,2017-08-01 08:19:50,12,1,3.23,4.0,4.0,1,0.77,...,Unknown,Unknown,0,0,0,1,0,0,0,0

In [117]:
json_dir = '/content/drive/MyDrive/Products.json'
df_Products = pd.read_json(json_dir)

In [118]:
df_Products.shape

(1356, 56)

In [119]:
df_Products.to_csv('/content/drive/MyDrive/df_Products.csv', index=False)

In [127]:
# read by Spark

csv_dir = '/content/drive/MyDrive/df_Products.csv'
df_Products_spark = spark.read.format("csv").load(csv_dir, header=True, inferSchema=True)

In [201]:
df_Products.columns

Index(['id', 'name', 'local_name', 'spotfolio_name', 'category', 'isactive',
       'vat_type', 'price_tag', 'net_price', 'price', 'discovery_token_price',
       'product_cost', 'info', 'extra_info', 'unit_type', 'qty', 'mgid',
       'roundid', 'barcode', 'tax_name', 'refcode', 'refid', 'softone_code',
       'softone_long_code', 'delivery_price', 'sale_limit', 'salesperson_uid',
       'color', 'short_code', 'photo', 'quick_order', 'self_cons_disc_perc',
       'self_cons_disc_type', 'preparation_time', 'in_spotfolio',
       'spotfolio_active', 'in_online_catalog', 'view_order', 'stock_enabled',
       'stock_amount', 'wolt_id', 'efood_id', 'preparation_point_id',
       'meal_type', 'food_type', 'has_modifier_filter', 'has_nutritions',
       'consumption_weekday', 'incomeClassification', 'packaging_type',
       'pms_ref_no', 'is_alcohol', 'is_open_item', 'spotit_view_order',
       'created_at', 'updated_at'],
      dtype='object')

In [120]:
Products_columns = ['id', 'name', 'created_at', 'updated_at']

df_Products_01 = df_Products[Products_columns]

df_Products_01.columns, df_Products_01.shape

(Index(['id', 'name', 'created_at', 'updated_at'], dtype='object'), (1356, 4))

In [121]:
df_Products_02 = df_Products_01.copy()

In [122]:
df_Products_02.rename(columns={'name': 'product_name', 'created_at': 'product_created_at', 'updated_at': 'product_updated_at'
                                    }, inplace=True)

In [226]:
df_Products_02.columns, df_Products_02.shape

(Index(['id', 'product_name', 'product_created_at', 'product_updated_at'], dtype='object'),
 (1356, 4))

In [227]:
df_Products_02.isnull().sum()

id                    0
product_name          0
product_created_at    0
product_updated_at    0
dtype: int64

In [209]:
df_Products_02.head()

    id     product_name   product_created_at  product_updated_at
0 -999  Unknown Product  0000-00-00 00:00:00 2022-04-07 14:50:34
1 -105    Other Charges  2023-11-09 12:23:50 2023-11-09 12:23:50
2 -104        Surcharge  2023-11-09 12:23:50 2023-11-09 12:23:50
3 -103      Service Fee  2022-07-26 15:02:39 2022-07-26 15:02:39
4 -100     Delivery Fee  2022-07-26 15:02:39 2022-07-26 15:02:39

In [123]:
# Merge df_order_details_08 on 'discount_type' column and df_Products_02 on corresponding 'pid'
df_order_details_09 = pd.merge(
    df_order_details_08,
    df_Products_02,
    left_on='item_id',
    right_on='id',
    how='left'
)

In [124]:
df_order_details_09.columns, df_order_details_09.shape

(Index(['odid', 'ogid', 'oddate', 'item_id', 'item_type', 'net_price', 'price',
        'unit_price', 'units', 'vat', 'vat_percentage', 'discount_percentage',
        'discount_amount', 'payment_type', 'odcreated_at', 'odupdated_at',
        'pos_uname_missing', 'pos_uname', 'discount_uname', 'cancel_uname',
        'payment_uname', 'discount_uname_missing', 'cancel_uname_missing',
        'payment_uname_missing', 'generic_discount',
        'self_consumption_discount', 'odstatus_open', 'odstatus_paid',
        'odstatus_partially_printed', 'odstatus_printed_cancelled',
        'odstatus_printed_open', 'odstatus_Unpaid', 'id', 'product_name',
        'product_created_at', 'product_updated_at'],
       dtype='object'),
 (2000248, 36))

In [125]:
df_order_details_09.drop(['id', 'item_id', 'item_type'], axis=1, inplace=True)

In [126]:
df_order_details_09.columns, df_order_details_09.shape

(Index(['odid', 'ogid', 'oddate', 'net_price', 'price', 'unit_price', 'units',
        'vat', 'vat_percentage', 'discount_percentage', 'discount_amount',
        'payment_type', 'odcreated_at', 'odupdated_at', 'pos_uname_missing',
        'pos_uname', 'discount_uname', 'cancel_uname', 'payment_uname',
        'discount_uname_missing', 'cancel_uname_missing',
        'payment_uname_missing', 'generic_discount',
        'self_consumption_discount', 'odstatus_open', 'odstatus_paid',
        'odstatus_partially_printed', 'odstatus_printed_cancelled',
        'odstatus_printed_open', 'odstatus_Unpaid', 'product_name',
        'product_created_at', 'product_updated_at'],
       dtype='object'),
 (2000248, 33))

In [127]:
df_order_details_09.isnull().sum()

odid                              0
ogid                              0
oddate                            0
net_price                         0
price                             0
unit_price                        0
units                             0
vat                               0
vat_percentage                    0
discount_percentage               0
discount_amount                   0
payment_type                      0
odcreated_at                      0
odupdated_at                      0
pos_uname_missing                 0
pos_uname                         0
discount_uname                    0
cancel_uname                      0
payment_uname                     0
discount_uname_missing            0
cancel_uname_missing              0
payment_uname_missing             0
generic_discount                  0
self_consumption_discount         0
odstatus_open                     0
odstatus_paid                     0
odstatus_partially_printed        0
odstatus_printed_cancelled        0
odstatus_printed_open             0
odstatus_Unpaid                   0
product_name                  87568
product_created_at            87568
product_updated_at            87568
dtype: int64

In [215]:
df_order_details_09['product_name'].value_counts(dropna=False, ascending=True)

Flat White Κρύο               1
MENU 30€                      1
Tuareg vert a la mint         1
Τακος                         1
Μπρουσκετα                    1
                          ...
Freddo Espresso           48718
ΨΩΜΙ                      64524
NaN                       87568
ΠΑΣΟ                     127221
Νερο Ζαγορι 1λιτ.        142311
Name: product_name, Length: 1191, dtype: int64

**Handle the missing values (NaN) in the product_name column**

In [128]:
# Create a binary indicator for missing product names
df_order_details_09['product_name_missing'] = df_order_details_09['product_name'].isnull().astype(int)

# fill NaN values with a placeholder after creating the indicator
df_order_details_09['product_name'].fillna('Unknown', inplace=True)

In [217]:
df_order_details_09.columns

Index(['odid', 'ogid', 'oddate', 'net_price', 'price', 'unit_price', 'units',
       'vat', 'vat_percentage', 'discount_percentage', 'discount_amount',
       'payment_type', 'odcreated_at', 'odupdated_at', 'pos_uname',
       'discount_uname', 'cancel_uname', 'payment_uname', 'generic_discount',
       'self_consumption_discount', 'odstatus_open', 'odstatus_paid',
       'odstatus_partially_printed', 'odstatus_printed_cancelled',
       'odstatus_printed_open', 'odstatus_Unpaid', 'product_name',
       'product_created_at', 'product_updated_at', 'product_name_missing'],
      dtype='object')

In [129]:
df_order_details_09.isnull().sum()

odid                              0
ogid                              0
oddate                            0
net_price                         0
price                             0
unit_price                        0
units                             0
vat                               0
vat_percentage                    0
discount_percentage               0
discount_amount                   0
payment_type                      0
odcreated_at                      0
odupdated_at                      0
pos_uname_missing                 0
pos_uname                         0
discount_uname                    0
cancel_uname                      0
payment_uname                     0
discount_uname_missing            0
cancel_uname_missing              0
payment_uname_missing             0
generic_discount                  0
self_consumption_discount         0
odstatus_open                     0
odstatus_paid                     0
odstatus_partially_printed        0
odstatus_printed_cancelled        0
odstatus_printed_open             0
odstatus_Unpaid                   0
product_name                      0
product_created_at            87568
product_updated_at            87568
product_name_missing              0
dtype: int64

In [219]:
df_order_details_09['product_name'].value_counts(dropna=False, ascending=True)

Flat White Κρύο               1
MENU 30€                      1
Tuareg vert a la mint         1
Τακος                         1
Μπρουσκετα                    1
                          ...
Freddo Espresso           48718
ΨΩΜΙ                      64524
Unknown                   87568
ΠΑΣΟ                     127221
Νερο Ζαγορι 1λιτ.        142311
Name: product_name, Length: 1191, dtype: int64

In [ ]:
df_order_details_09.head()

**Binary Missing Value Indicator for 'product_created_at' & 'product_updated_at'**

In [130]:
# Create binary missing value indicator columns
df_order_details_09['product_created_at_missing'] = df_order_details_09['product_created_at'].isnull().astype(int)
df_order_details_09['product_updated_at_missing'] = df_order_details_09['product_updated_at'].isnull().astype(int)

**Impute and Indicate:**

In [131]:
# Impute missing values with a chosen strategy, e.g., forward fill
df_order_details_09['product_created_at'].fillna(method='ffill', inplace=True)
df_order_details_09['product_updated_at'].fillna(method='ffill', inplace=True)

In [16]:
df_order_details_09.columns, df_order_details_09.shape

(Index(['odid', 'ogid', 'oddate', 'net_price', 'price', 'unit_price', 'units',
        'vat', 'vat_percentage', 'discount_percentage', 'discount_amount',
        'payment_type', 'odcreated_at', 'odupdated_at', 'pos_uname_missing',
        'pos_uname', 'discount_uname', 'cancel_uname', 'payment_uname',
        'discount_uname_missing', 'cancel_uname_missing',
        'payment_uname_missing', 'generic_discount',
        'self_consumption_discount', 'odstatus_open', 'odstatus_paid',
        'odstatus_partially_printed', 'odstatus_printed_cancelled',
        'odstatus_printed_open', 'odstatus_Unpaid', 'product_name',
        'product_created_at', 'product_updated_at', 'product_name_missing',
        'product_created_at_missing', 'product_updated_at_missing'],
       dtype='object'),
 (2000248, 36))

In [15]:
df_order_details_09.isnull().sum()

odid                          0
ogid                          0
oddate                        0
net_price                     0
price                         0
unit_price                    0
units                         0
vat                           0
vat_percentage                0
discount_percentage           0
discount_amount               0
payment_type                  0
odcreated_at                  0
odupdated_at                  0
pos_uname_missing             0
pos_uname                     0
discount_uname                0
cancel_uname                  0
payment_uname                 0
discount_uname_missing        0
cancel_uname_missing          0
payment_uname_missing         0
generic_discount              0
self_consumption_discount     0
odstatus_open                 0
odstatus_paid                 0
odstatus_partially_printed    0
odstatus_printed_cancelled    0
odstatus_printed_open         0
odstatus_Unpaid               0
product_name                  0
product_created_at            0
product_updated_at            0
product_name_missing          0
product_created_at_missing    0
product_updated_at_missing    0
dtype: int64

In [133]:
df_order_details_09.to_csv('/content/drive/MyDrive/df_order_details_09.csv', index=False)

In [10]:
# read by Spark

csv_dir = '/content/drive/MyDrive/df_order_details_09.csv'
df_order_details_09_spark = spark.read.format("csv").load(csv_dir, header=True, inferSchema=True)

In [13]:
df_order_details_09_spark.show(10)

+--------------------+--------------------+-------------------+---------+-----+----------+-----+----+--------------+-------------------+---------------+------------+-------------------+-------------------+-----------------+---------+--------------+------------+-------------+----------------------+--------------------+---------------------+----------------+-------------------------+-------------+-------------+--------------------------+--------------------------+---------------------+---------------+-----------------+-------------------+-------------------+--------------------+--------------------------+--------------------------+
|                odid|                ogid|             oddate|net_price|price|unit_price|units| vat|vat_percentage|discount_percentage|discount_amount|payment_type|       odcreated_at|       odupdated_at|pos_uname_missing|pos_uname|discount_uname|cancel_uname|payment_uname|discount_uname_missing|cancel_uname_missing|payment_uname_missing|generic_discount|self_consumption_discount|odstatus_open|odstatus_paid|odstatus_partially_printed|odstatus_printed_cancelled|odstatus_printed_open|odstatus_Unpaid|     product_name| product_created_at| product_updated_at|product_name_missing|product_created_at_missing|product_updated_at_missing|
+--------------------+--------------------+-------------------+---------+-----+----------+-----+----+--------------+-------------------+---------------+------------+-------------------+-------------------+-----------------+---------+--------------+------------+-------------+----------------------+--------------------+---------------------+----------------+-------------------------+-------------+-------------+--------------------------+--------------------------+---------------------+---------------+-----------------+-------------------+-------------------+--------------------+--------------------------+--------------------------+
|ab394826-12b7-433...|893b7f11-84d9-4b5...|2017-08-01 08:12:36|     3.23|  4.0|       4.0|    1|0.77|           0.0|                0.0|            0.0|           1|2017-08-01 08:12:27|2017-08-01 09:12:24|                1|  Unknown|       Unknown|     Unknown|      Unknown|                     1|                   1|                    1|               0|                        0|            0|            1|                         0|                         0|                    0|              0|  Freddo Espresso|2017-03-02 13:20:23|2023-02-13 06:01:34|                   0|                         0|                         0|
|1039e874-31d3-40b...|893b7f11-84d9-4b5...|2017-08-01 08:12:36|      0.0|  0.0|       0.0|    1| 0.0|           0.0|                0.0|            0.0|           1|2017-08-01 08:12:32|2017-08-01 09:12:24|                1|  Unknown|       Unknown|     Unknown|      Unknown|                     1|                   1|                    1|               0|                        0|            0|            1|                         0|                         0|                    0|              0|          Unknown|2017-03-02 13:20:23|2023-02-13 06:01:34|                   1|                         1|                         1|
|581f9581-6ec1-4f8...|ec3629f1-d1e8-4a0...|2017-08-01 08:19:50|     3.23|  4.0|       4.0|    1|0.77|           0.0|                0.0|            0.0|           1|2017-08-01 08:19:21|2017-08-01 08:28:03|                1|  Unknown|       Unknown|     Unknown|      Unknown|                     1|                   1|                    1|               0|                        0|            0|            1|                         0|                         0|                    0|              0|  Freddo Espresso|2017-03-02 13:20:23|2023-02-13 06:01:34|                   0|                         0|                         0|
|ee88b30c-5531-430...|ec3629f1-d1e8-4a0...|2017-08-01 08:19:50|      0.0|  0.0|       0.0|    1| 0.0|           0.0|                0.0|            0.0|           1|2017-08-01 08:19:29|2017-08-01 08:28:03|                1|  Unknown|       Unknown|     Unknown|      Unknown|                     1|                   1|                    1|               0|                        0|            0|            1|                         0|                         0|                    0|              0|          Unknown|2017-03-02 13:20:23|2023-02-13 06:01:34|                   1|                         1|                         1|
|554c52b3-1251-437...|ec3629f1-d1e8-4a0...|2017-08-01 08:19:50|     3.23|  4.0|       4.0|    1|0.77|           0.0|                0.0|            0.0|           1|2017-08-01 08:19:36|2017-08-01 08:28:03|                1|  Unknown|       Unknown|     Unknown|      Unknown|                     1|                   1|                    1|               0|                        0|            0|            1|                         0|                         0|                    0|              0|  Freddo Espresso|2017-03-02 13:20:23|2023-02-13 06:01:34|                   0|                         0|                         0|
|49715d8a-9aaf-48b...|ec3629f1-d1e8-4a0...|2017-08-01 08:19:50|      0.0|  0.0|       0.0|    1| 0.0|           0.0|                0.0|            0.0|           1|2017-08-01 08:19:45|2017-08-01 08:28:03|                1|  Unknown|       Unknown|     Unknown|      Unknown|                     1|                   1|                    1|               0|                        0|            0|            1|                         0|                         0|                    0|              0|          Unknown|2017-03-02 13:20:23|2023-02-13 06:01:34|                   1|                         1|                         1|
|483cedf7-5373-4d7...|446fa4af-ceb8-46b...|2017-08-01 08:50:34|     3.23|  4.0|       4.0|    1|0.77|           0.0|                0.0|            0.0|           1|2017-08-01 08:50:13|2017-08-01 09:37:17|                1|  Unknown|       Unknown|     Unknown|      Unknown|                     1|                   1|                    1|               0|                        0|            0|            1|                         0|                         0|                    0|              0|      fruit rouge|2017-03-07 18:12:48|2023-02-13 06:01:51|                   0|                         0|                         0|
|47b8856d-04d8-43a...|446fa4af-ceb8-46b...|2017-08-01 08:50:34|     3.23|  4.0|       4.0|    1|0.77|           0.0|                0.0|            0.0|           1|2017-08-01 08:50:28|2017-08-01 09:37:17|                1|  Unknown|       Unknown|     Unknown|      Unknown|                     1|                   1|                    1|               0|                        0|            0|            1|                         0|                         0|                    0|              0|Freddo Cappuccino|2017-03-02 13:19:59|2023-02-13 06:01:34|                   0|                         0|                         0|
|35a775da-da6b-43f...|446fa4af-ceb8-46b...|2017-08-01 08:50:34|      0.0|  0.0|       0.0|    1| 0.0|           0.0|                0.0|            0.0|           1|2017-08-01 08:50:33|2017-08-01 09:37:18|                1|  Unknown|       Unknown|     Unknown|      Unknown|                     1|                   1|                    1|               0|                        0|            0|            1|                         0|                         0|                    0|              0|          Unknown|2017-03-02 13:19:59|2023-02-13 06:01:34|                   1|                         1|                         1|
|d8a55031-8548-42b...|0eb0b96e-ef2f-443...|2017-08-01 09:06:04|     6.45|  8.0|       4.0|    2|1.55|           0.0|                0.0|            0.0|           1|2017-08-01 09:05:20|2017-08-01 10:12:24|                1|  Unknown|       Unknown|     Unknown|      Unknown|                     1|                   1|                    1|               0|                        0|            0|            1|                         0|                         0|                    0|              0|Freddo Cappuccino|2017-03-02 13:19:59|2023-02-13 06:01:34|                   0|                         0|                         0|
+--------------------+--------------------+-------------------+---------+-----+----------+-----+----+--------------+-------------------+---------------+------------+-------------------+-------------------+-----------------+---------+--------------+------------+-------------+----------------------+--------------------+---------------------+----------------+-------------------------+-------------+-------------+--------------------------+--------------------------+---------------------+---------------+-----------------+-------------------+-------------------+--------------------+--------------------------+--------------------------+
only showing top 10 rows

# Optimize Data Types

In [39]:
import pandas as pd

df_order_details_09 = pd.read_csv('/content/drive/MyDrive/df_order_details_09.csv')

df_order_details_09.columns, df_order_details_09.shape

(Index(['odid', 'ogid', 'oddate', 'net_price', 'price', 'unit_price', 'units',
        'vat', 'vat_percentage', 'discount_percentage', 'discount_amount',
        'payment_type', 'odcreated_at', 'odupdated_at', 'pos_uname_missing',
        'pos_uname', 'discount_uname', 'cancel_uname', 'payment_uname',
        'discount_uname_missing', 'cancel_uname_missing',
        'payment_uname_missing', 'generic_discount',
        'self_consumption_discount', 'odstatus_open', 'odstatus_paid',
        'odstatus_partially_printed', 'odstatus_printed_cancelled',
        'odstatus_printed_open', 'odstatus_Unpaid', 'product_name',
        'product_created_at', 'product_updated_at', 'product_name_missing',
        'product_created_at_missing', 'product_updated_at_missing'],
       dtype='object'),
 (2000248, 36))

In [ ]:
# Check the memory usage after optimization
df_order_details_09.info(memory_usage='deep')

In [42]:
# Convert object columns to 'category' where appropriate
categorical_columns = ['odid', 'ogid', 'pos_uname', 'discount_uname', 'cancel_uname', 'payment_uname', 'product_name']
for column in categorical_columns:
    df_order_details_09[column] = df_order_details_09[column].astype('category')

In [43]:
# Check the memory usage after optimization
df_order_details_09.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000248 entries, 0 to 2000247
Data columns (total 36 columns):
 #   Column                      Dtype
---  ------                      -----
 0   odid                        category
 1   ogid                        category
 2   oddate                      object
 3   net_price                   float64
 4   price                       float64
 5   unit_price                  float64
 6   units                       int64
 7   vat                         float64
 8   vat_percentage              float64
 9   discount_percentage         float64
 10  discount_amount             float64
 11  payment_type                int64
 12  odcreated_at                object
 13  odupdated_at                object
 14  pos_uname_missing           int64
 15  pos_uname                   category
 16  discount_uname              category
 17  cancel_uname                category
 18  payment_uname               category
 19  discount_uname_missing      int64
 20  cancel_uname_missing        int64
 21  payment_uname_missing       int64
 22  generic_discount            int64
 23  self_consumption_discount   int64
 24  odstatus_open               int64
 25  odstatus_paid               int64
 26  odstatus_partially_printed  int64
 27  odstatus_printed_cancelled  int64
 28  odstatus_printed_open       int64
 29  odstatus_Unpaid             int64
 30  product_name                category
 31  product_created_at          object
 32  product_updated_at          object
 33  product_name_missing        int64
 34  product_created_at_missing  int64
 35  product_updated_at_missing  int64
dtypes: category(7), float64(7), int64(17), object(5)
memory usage: 1.4 GB

In [44]:
# Convert date columns to 'datetime' (if not already done and if appropriate)
date_columns = ['oddate', 'odcreated_at', 'odupdated_at', 'product_created_at', 'product_updated_at']
for column in date_columns:
    df_order_details_09[column] = pd.to_datetime(df_order_details_09[column], errors='coerce').dt.normalize()

# Check the memory usage after optimization
df_order_details_09.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000248 entries, 0 to 2000247
Data columns (total 36 columns):
 #   Column                      Dtype
---  ------                      -----
 0   odid                        category
 1   ogid                        category
 2   oddate                      datetime64[ns]
 3   net_price                   float64
 4   price                       float64
 5   unit_price                  float64
 6   units                       int64
 7   vat                         float64
 8   vat_percentage              float64
 9   discount_percentage         float64
 10  discount_amount             float64
 11  payment_type                int64
 12  odcreated_at                datetime64[ns]
 13  odupdated_at                datetime64[ns]
 14  pos_uname_missing           int64
 15  pos_uname                   category
 16  discount_uname              category
 17  cancel_uname                category
 18  payment_uname               category
 19  discount_uname_missing      int64
 20  cancel_uname_missing        int64
 21  payment_uname_missing       int64
 22  generic_discount            int64
 23  self_consumption_discount   int64
 24  odstatus_open               int64
 25  odstatus_paid               int64
 26  odstatus_partially_printed  int64
 27  odstatus_printed_cancelled  int64
 28  odstatus_printed_open       int64
 29  odstatus_Unpaid             int64
 30  product_name                category
 31  product_created_at          datetime64[ns]
 32  product_updated_at          datetime64[ns]
 33  product_name_missing        int64
 34  product_created_at_missing  int64
 35  product_updated_at_missing  int64
dtypes: category(7), datetime64[ns](5), float64(7), int64(17)
memory usage: 744.2 MB

In [45]:
# Downcast integer columns to the smallest possible integer type
integer_columns = ['units', 'payment_type', 'pos_uname_missing', 'discount_uname_missing', 'cancel_uname_missing', 'payment_uname_missing',
            'generic_discount', 'self_consumption_discount', 'odstatus_open', 'odstatus_paid', 'odstatus_partially_printed', 'odstatus_printed_cancelled',
            'odstatus_printed_open', 'odstatus_Unpaid', 'product_name_missing', 'product_created_at_missing', 'product_updated_at_missing']

for column in integer_columns:
    df_order_details_09[column] = pd.to_numeric(df_order_details_09[column], downcast='integer')

# Check the memory usage after optimization
df_order_details_09.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000248 entries, 0 to 2000247
Data columns (total 36 columns):
 #   Column                      Dtype
---  ------                      -----
 0   odid                        category
 1   ogid                        category
 2   oddate                      datetime64[ns]
 3   net_price                   float64
 4   price                       float64
 5   unit_price                  float64
 6   units                       int16
 7   vat                         float64
 8   vat_percentage              float64
 9   discount_percentage         float64
 10  discount_amount             float64
 11  payment_type                int8
 12  odcreated_at                datetime64[ns]
 13  odupdated_at                datetime64[ns]
 14  pos_uname_missing           int8
 15  pos_uname                   category
 16  discount_uname              category
 17  cancel_uname                category
 18  payment_uname               category
 19  discount_uname_missing      int8
 20  cancel_uname_missing        int8
 21  payment_uname_missing       int8
 22  generic_discount            int8
 23  self_consumption_discount   int8
 24  odstatus_open               int8
 25  odstatus_paid               int8
 26  odstatus_partially_printed  int8
 27  odstatus_printed_cancelled  int8
 28  odstatus_printed_open       int8
 29  odstatus_Unpaid             int8
 30  product_name                category
 31  product_created_at          datetime64[ns]
 32  product_updated_at          datetime64[ns]
 33  product_name_missing        int8
 34  product_created_at_missing  int8
 35  product_updated_at_missing  int8
dtypes: category(7), datetime64[ns](5), float64(7), int16(1), int8(16)
memory usage: 519.1 MB

In [46]:
# Downcast float columns to the smallest possible float type
float_columns = ['net_price', 'price', 'unit_price', 'vat', 'vat_percentage', 'discount_percentage', 'discount_amount']
for column in float_columns:
    df_order_details_09[column] = pd.to_numeric(df_order_details_09[column], downcast='float')

# Check the memory usage after optimization
df_order_details_09.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000248 entries, 0 to 2000247
Data columns (total 36 columns):
 #   Column                      Dtype
---  ------                      -----
 0   odid                        category
 1   ogid                        category
 2   oddate                      datetime64[ns]
 3   net_price                   float32
 4   price                       float32
 5   unit_price                  float32
 6   units                       int16
 7   vat                         float32
 8   vat_percentage              float32
 9   discount_percentage         float32
 10  discount_amount             float32
 11  payment_type                int8
 12  odcreated_at                datetime64[ns]
 13  odupdated_at                datetime64[ns]
 14  pos_uname_missing           int8
 15  pos_uname                   category
 16  discount_uname              category
 17  cancel_uname                category
 18  payment_uname               category
 19  discount_uname_missing      int8
 20  cancel_uname_missing        int8
 21  payment_uname_missing       int8
 22  generic_discount            int8
 23  self_consumption_discount   int8
 24  odstatus_open               int8
 25  odstatus_paid               int8
 26  odstatus_partially_printed  int8
 27  odstatus_printed_cancelled  int8
 28  odstatus_printed_open       int8
 29  odstatus_Unpaid             int8
 30  product_name                category
 31  product_created_at          datetime64[ns]
 32  product_updated_at          datetime64[ns]
 33  product_name_missing        int8
 34  product_created_at_missing  int8
 35  product_updated_at_missing  int8
dtypes: category(7), datetime64[ns](5), float32(7), int16(1), int8(16)
memory usage: 465.7 MB

In [53]:
# Verify the data integrity to ensure that the downcasting did not cause any unexpected issues (like overflow or underflow)
for col in integer_columns:
    print(f"{col} unique values:", df_order_details_09[col].unique())

units unique values: [  1   2   5   3   6   4   7   8  11  10  12   9  17  16  14  15  20  37
  24  13  67  18  30  33  25  27  26  35  22  31  60  51  19  23 250 120
  32  58  21 150  42  29  47  28  65  52  55 164  41  43  50  34 115 300
  80  40  36  39  45  70]
payment_type unique values: [ 1  0  2  6 -1]
pos_uname_missing unique values: [1 0]
discount_uname_missing unique values: [1 0]
cancel_uname_missing unique values: [1 0]
payment_uname_missing unique values: [1 0]
generic_discount unique values: [0 1]
self_consumption_discount unique values: [0 1]
odstatus_open unique values: [0 1]
odstatus_paid unique values: [1 0]
odstatus_partially_printed unique values: [0 1]
odstatus_printed_cancelled unique values: [0 1]
odstatus_printed_open unique values: [0 1]
odstatus_Unpaid unique values: [0 1]
product_name_missing unique values: [0 1]
product_created_at_missing unique values: [0 1]
product_updated_at_missing unique values: [0 1]

In [54]:
df_order_details_09.shape

(2000248, 36)

In [55]:
df_order_details_09.to_csv('/content/drive/MyDrive/order_details_clean.csv', index=False)

# Spark

In [69]:
df_order_details_spark = spark.read.format("csv").load('/content/drive/MyDrive/order_details_clean.csv', header=True, inferSchema=True)

In [57]:
type(df_order_details_spark)

pyspark.sql.dataframe.DataFrame

In [70]:
df_order_details_spark.show(25)

+--------------------+--------------------+----------+---------+-----+----------+-----+----+--------------+-------------------+---------------+------------+------------+------------+-----------------+---------+--------------+------------+-------------+----------------------+--------------------+---------------------+----------------+-------------------------+-------------+-------------+--------------------------+--------------------------+---------------------+---------------+--------------------+------------------+------------------+--------------------+--------------------------+--------------------------+
|                odid|                ogid|    oddate|net_price|price|unit_price|units| vat|vat_percentage|discount_percentage|discount_amount|payment_type|odcreated_at|odupdated_at|pos_uname_missing|pos_uname|discount_uname|cancel_uname|payment_uname|discount_uname_missing|cancel_uname_missing|payment_uname_missing|generic_discount|self_consumption_discount|odstatus_open|odstatus_paid|odstatus_partially_printed|odstatus_printed_cancelled|odstatus_printed_open|odstatus_Unpaid|        product_name|product_created_at|product_updated_at|product_name_missing|product_created_at_missing|product_updated_at_missing|
+--------------------+--------------------+----------+---------+-----+----------+-----+----+--------------+-------------------+---------------+------------+------------+------------+-----------------+---------+--------------+------------+-------------+----------------------+--------------------+---------------------+----------------+-------------------------+-------------+-------------+--------------------------+--------------------------+---------------------+---------------+--------------------+------------------+------------------+--------------------+--------------------------+--------------------------+
|ab394826-12b7-433...|893b7f11-84d9-4b5...|2017-08-01|     3.23|  4.0|       4.0|    1|0.77|           0.0|                0.0|            0.0|           1|  2017-08-01|  2017-08-01|                1|  Unknown|       Unknown|     Unknown|      Unknown|                     1|                   1|                    1|               0|                        0|            0|            1|                         0|                         0|                    0|              0|     Freddo Espresso|        2017-03-02|        2023-02-13|                   0|                         0|                         0|
|1039e874-31d3-40b...|893b7f11-84d9-4b5...|2017-08-01|      0.0|  0.0|       0.0|    1| 0.0|           0.0|                0.0|            0.0|           1|  2017-08-01|  2017-08-01|                1|  Unknown|       Unknown|     Unknown|      Unknown|                     1|                   1|                    1|               0|                        0|            0|            1|                         0|                         0|                    0|              0|             Unknown|        2017-03-02|        2023-02-13|                   1|                         1|                         1|
|581f9581-6ec1-4f8...|ec3629f1-d1e8-4a0...|2017-08-01|     3.23|  4.0|       4.0|    1|0.77|           0.0|                0.0|            0.0|           1|  2017-08-01|  2017-08-01|                1|  Unknown|       Unknown|     Unknown|      Unknown|                     1|                   1|                    1|               0|                        0|            0|            1|                         0|                         0|                    0|              0|     Freddo Espresso|        2017-03-02|        2023-02-13|                   0|                         0|                         0|
|ee88b30c-5531-430...|ec3629f1-d1e8-4a0...|2017-08-01|      0.0|  0.0|       0.0|    1| 0.0|           0.0|                0.0|            0.0|           1|  2017-08-01|  2017-08-01|                1|  Unknown|       Unknown|     Unknown|      Unknown|                     1|                   1|                    1|               0|                        0|            0|            1|                         0|                         0|                    0|              0|             Unknown|        2017-03-02|        2023-02-13|                   1|                         1|                         1|
|554c52b3-1251-437...|ec3629f1-d1e8-4a0...|2017-08-01|     3.23|  4.0|       4.0|    1|0.77|           0.0|                0.0|            0.0|           1|  2017-08-01|  2017-08-01|                1|  Unknown|       Unknown|     Unknown|      Unknown|                     1|                   1|                    1|               0|                        0|            0|            1|                         0|                         0|                    0|              0|     Freddo Espresso|        2017-03-02|        2023-02-13|                   0|                         0|                         0|
|49715d8a-9aaf-48b...|ec3629f1-d1e8-4a0...|2017-08-01|      0.0|  0.0|       0.0|    1| 0.0|           0.0|                0.0|            0.0|           1|  2017-08-01|  2017-08-01|                1|  Unknown|       Unknown|     Unknown|      Unknown|                     1|                   1|                    1|               0|                        0|            0|            1|                         0|                         0|                    0|              0|             Unknown|        2017-03-02|        2023-02-13|                   1|                         1|                         1|
|483cedf7-5373-4d7...|446fa4af-ceb8-46b...|2017-08-01|     3.23|  4.0|       4.0|    1|0.77|           0.0|                0.0|            0.0|           1|  2017-08-01|  2017-08-01|                1|  Unknown|       Unknown|     Unknown|      Unknown|                     1|                   1|                    1|               0|                        0|            0|            1|                         0|                         0|                    0|              0|         fruit rouge|        2017-03-07|        2023-02-13|                   0|                         0|                         0|
|47b8856d-04d8-43a...|446fa4af-ceb8-46b...|2017-08-01|     3.23|  4.0|       4.0|    1|0.77|           0.0|                0.0|            0.0|           1|  2017-08-01|  2017-08-01|                1|  Unknown|       Unknown|     Unknown|      Unknown|                     1|                   1|                    1|               0|                        0|            0|            1|                         0|                         0|                    0|              0|   Freddo Cappuccino|        2017-03-02|        2023-02-13|                   0|                         0|                         0|
|35a775da-da6b-43f...|446fa4af-ceb8-46b...|2017-08-01|      0.0|  0.0|       0.0|    1| 0.0|           0.0|                0.0|            0.0|           1|  2017-08-01|  2017-08-01|                1|  Unknown|       Unknown|     Unknown|      Unknown|                     1|                   1|                    1|               0|                        0|            0|            1|                         0|                         0|                    0|              0|             Unknown|        2017-03-02|        2023-02-13|                   1|                         1|                         1|
|d8a55031-8548-42b...|0eb0b96e-ef2f-443...|2017-08-01|     6.45|  8.0|       4.0|    2|1.55|           0.0|                0.0|            0.0|           1|  2017-08-01|  2017-08-01|                1|  Unknown|       Unknown|     Unknown|      Unknown|                     1|                   1|                    1|               0|                        0|            0|            1|                         0|                         0|                    0|              0|   Freddo Cappuccino|        2017-03-02|        2023-02-13|                   0|                         0|                         0|
|d7f54757-e6e1-4a6...|0eb0b96e-ef2f-443...|2017-08-01|      0.0|  0.0|       0.0|    2| 0.0|           0.0|                0.0|            0.0|           1|  2017-08-01|  2017-08-01|                1|  Unknown|       Unknown|     Unknown|      Unknown|                     1|                   1|                    1|               0|                        0|            0|            1|                         0|                         0|                    0|              0|             Unknown|        2017-03-02|        2023-02-13|                   1|                         1|                         1|
|d53b42d8-30ea-49b...|0eb0b96e-ef2f-443...|2017-08-01|     6.45|  8.0|       8.0|    1|1.55|           0.0|                0.0|            0.0|           1|  2017-08-01|  2017-08-01|                1|  Unknown|       Unknown|     Unknown|      Unknown|                     1|                   1|                    1|               0|                        0|            0|            1|                         0|                         0|                    0|              0|Sandwich με Παστράμι|        2017-06-29|        2023-11-22|                   0|                         0|                         0|
|c891dcdb-7fca-432...|3e30a569-a3b2-48e...|2017-08-01|     3.23|  4.0|       4.0|    1|0.77|           0.0|                0.0|            0.0|           1|  2017-08-01|  2017-08-01|                1|  Unknown|       Unknown|     Unknown|      Unknown|                     1|                   1|                    1|               0|                        0|            0|            1|                         0|                         0|                    0|              0|       ΚΑΦΕΣ ΦΙΛΤΡΟΥ|        2017-03-02|        2023-02-13|                   0|                         0|                         0|
|7dfda4f7-af0a-4b2...|3e30a569-a3b2-48e...|2017-08-01|     2.82|  3.5|       3.5|    1|0.68|           0.0|                0.0|            0.0|           1|  2017-08-01|  2017-08-01|                1|  Unknown|       Unknown|     Unknown|      Unknown|                     1|                   1|                    1|               0|                        0|            0|            1|                         0|                         0|                    0|              0|          Cappuccino|        2017-03-02|        2023-02-13|                   0|                         0|                         0|
|1a485b49-37dd-4fa...|3e30a569-a3b2-48e...|2017-08-01|     3.23|  4.0|       4.0|    1|0.77|           0.0|                0.0|            0.0|           1|  2017-08-01|  2017-08-01|                1|  Unknown|       Unknown|     Unknown|      Unknown|                     1|                   1|                    1|               0|                        0|            0|            1|                         0|                         0|                    0|              0|               Latte|        2017-03-02|        2023-02-13|                   0|                         0|                         0|
|536fb66c-f03c-40a...|329a2abc-e1c8-421...|2017-08-01|     6.45|  8.0|       4.0|    2|1.55|           0.0|                0.0|            0.0|           1|  2017-08-01|  2017-08-01|                1|  Unknown|       Unknown|     Unknown|      Unknown|                     1|                   1|                    1|               0|                        0|            0|            1|                         0|                         0|                    0|              0|     Freddo Espresso|        2017-03-02|        2023-02-13|                   0|                         0|                         0|
|7e351ca1-e808-4b6...|329a2abc-e1c8-421...|2017-08-01|      0.0|  0.0|       0.0|    2| 0.0|           0.0|                0.0|            0.0|           1|  2017-08-01|  2017-08-01|                1|  Unknown|       Unknown|     Unknown|      Unknown|                     1|                   1|                    1|               0|                        0|            0|            1|                         0|                         0|                    0|              0|             Unknown|        2017-03-02|        2023-02-13|                   1|                         1|                         1|
|544d55df-c6bd-492...|0eb0b96e-ef2f-443...|2017-08-01|    10.48| 13.0|      13.0|    1|2.52|           0.0|                0.0|            0.0|           1|  2017-08-01|  2017-08-01|                1|  Unknown|       Unknown|     Unknown|      Unknown|                     1|                   1|                    1|               0|                        0|            0|            1|                         0|                         0|                    0|              0|Bruschetta με Por...|        2017-03-06|        2023-02-13|                   0|                         0|                         0|
|df66e474-3c08-488...|3e30a569-a3b2-48e...|2017-08-01|    14.52| 18.0|       9.0|    2|3.48|           0.0|                0.0|            0.0|           1|  2017-08-01|  2017-08-01|                1|  Unknown|       Unknown|     Unknown|      Unknown|                     1|                   1|                    1|               0|                        0|            0|            1|                         0|                         0|                    0|              0|Mini Tacos κοτόπουλο|        2017-03-06|        2022-07-18|                   0|                         0|                         0|
|8d9c70f0-6cbe-4db...|3e30a569-a3b2-48e...|2017-08-01|     1.61|  2.0|       2.0|    1|0.39|           0.0|                0.0|            0.0|           1|  2017-08-01|  2017-08-01|                1|  Unknown|       Unknown|     Unknown|      Unknown|                     1|                   1|                    1|               0|                        0|            0|            1|                         0|                         0|                    0|              0|                ΨΩΜΙ|        2017-03-07|        2023-02-15|                   0|                         0|                         0|
|f4c0513e-2596-48d...|329a2abc-e1c8-421...|2017-08-01|     6.45|  8.0|       8.0|    1|1.55|           0.0|                0.0|            0.0|           1|  2017-08-01|  2017-08-01|                1|  Unknown|       Unknown|     Unknown|      Unknown|                     1|                   1|                    1|               0|                        0|            0|            1|                         0|                         0|                    0|              0|Mini brioche Σολομου|        2017-06-29|        2023-02-13|                   0|                         0|                         0|
|ea4f3e76-dc71-4ee...|329a2abc-e1c8-421...|2017-08-01|     7.26|  9.0|       9.0|    1|1.74|           0.0|                0.0|            0.0|           1|  2017-08-01|  2017-08-01|                1|  Unknown|       Unknown|     Unknown|      Unknown|                     1|                   1|                    1|               0|                        0|            0|            1|                         0|                         0|                    0|              0|Πλατο Φρουτον Εποχης|        2017-06-29|        2023-02-13|                   0|                         0|                         0|
|052eab85-4ed1-4f4...|3e30a569-a3b2-48e...|2017-08-01|     2.82|  3.5|       3.5|    1|0.68|           0.0|                0.0|            0.0|           1|  2017-08-01|  2017-08-01|                1|  Unknown|       Unknown|     Unknown|      Unknown|                     1|                   1|                    1|               0|                        0|            0|            1|                         0|                         0|                    0|              0|          Cappuccino|        2017-03-02|        2023-02-13|                   0|                         0|                         0|
|e5d5f495-2071-42f...|446fa4af-ceb8-46b...|2017-08-01|     2.02|  2.5|       2.5|    1|0.48|           0.0|                0.0|            0.0|           1|  2017-08-01|  2017-08-01|                1|  Unknown|       Unknown|     Unknown|      Unknown|                     1|                   1|                    1|               0|                        0|            0|            1|                         0|                         0|                    0|              0|      Espresso Decaf|        2017-03-02|        2023-02-13|                   0|                         0|                         0|
|4aa2ad1d-bc85-41d...|3e30a569-a3b2-48e...|2017-08-01|     9.68| 12.0|      12.0|    1|2.32|           0.0|                0.0|            0.0|           1|  2017-08-01|  2017-08-01|                1|  Unknown|       Unknown|     Unknown|      Unknown|                     1|                   1|                    1|               0|                        0|            0|            1|                         0|                         0|                    0|              0|   Mini beef burgers|        2017-03-06|        2022-07-18|                   0|                         0|                         0|
+--------------------+--------------------+----------+---------+-----+----------+-----+----+--------------+-------------------+---------------+------------+------------+------------+-----------------+---------+--------------+------------+-------------+----------------------+--------------------+---------------------+----------------+-------------------------+-------------+-------------+--------------------------+--------------------------+---------------------+---------------+--------------------+------------------+------------------+--------------------+--------------------------+--------------------------+
only showing top 25 rows

In [ ]:
import pyspark.pandas as ps

# Converting a pandas DataFrame to a PySpark DataFrame
ps_df_order_details = ps.from_pandas(df_order_details)
spark_df = ps_df_order_details.to_spark()

In [ ]:
spark_df.show(25)

# Merging DataFrames

# Load CSV dfs

In [65]:
import pandas as pd

df_orders_final = pd.read_csv('/content/drive/MyDrive/orders_final_clean.csv')

df_orders_final.shape

(278696, 13)

In [66]:
df_orders = df_orders_final.copy()

In [67]:
df_orders.columns ,df_orders.shape

(Index(['oid', 'odate', 'pos', 'paid_date', 'ocreated_at', 'oupdated_at',
        'ostatus_Merged', 'ostatus_Paid', 'ostatus_Printed Cancelled',
        'ostatus_Printed Open', 'ostatus_Unpaid', 'ostatus_Wasted',
        'order_uname'],
       dtype='object'),
 (278696, 13))

In [68]:
df_order_details_clean = pd.read_csv('/content/drive/MyDrive/order_details_clean.csv')

df_order_details_clean.shape

(2000248, 36)

In [69]:
df_order_details = df_order_details_clean.copy()

In [77]:
df_order_details_clean.columns, df_order_details_clean.shape

(Index(['odid', 'ogid', 'oddate', 'net_price', 'price', 'unit_price', 'units',
        'vat', 'vat_percentage', 'discount_percentage', 'discount_amount',
        'payment_type', 'odcreated_at', 'odupdated_at', 'pos_uname_missing',
        'pos_uname', 'discount_uname', 'cancel_uname', 'payment_uname',
        'discount_uname_missing', 'cancel_uname_missing',
        'payment_uname_missing', 'generic_discount',
        'self_consumption_discount', 'odstatus_open', 'odstatus_paid',
        'odstatus_partially_printed', 'odstatus_printed_cancelled',
        'odstatus_printed_open', 'odstatus_Unpaid', 'product_name',
        'product_created_at', 'product_updated_at', 'product_name_missing',
        'product_created_at_missing', 'product_updated_at_missing'],
       dtype='object'),
 (2000248, 36))

# Merging DataFrames: Merging df_orders with df_order_details on the ogid and oid

In [79]:
df_orders.shape, df_order_details.shape

((278696, 13), (2000248, 36))

In [70]:
import gc

# Merging df_orders with df_order_details
merged_df = df_orders.merge(df_order_details, left_on='oid', right_on='ogid', how='left')

# Displaying the shape of the merged DataFrame
print("Shape of merged DataFrame:", merged_df.shape)


gc.collect()

Shape of merged DataFrame: (1992840, 49)

65

In [71]:
df = merged_df.copy()

In [73]:
df.columns, df.shape

(Index(['oid', 'odate', 'pos', 'paid_date', 'ocreated_at', 'oupdated_at',
        'ostatus_Merged', 'ostatus_Paid', 'ostatus_Printed Cancelled',
        'ostatus_Printed Open', 'ostatus_Unpaid', 'ostatus_Wasted',
        'order_uname', 'odid', 'ogid', 'oddate', 'net_price', 'price',
        'unit_price', 'units', 'vat', 'vat_percentage', 'discount_percentage',
        'discount_amount', 'payment_type', 'odcreated_at', 'odupdated_at',
        'pos_uname_missing', 'pos_uname', 'discount_uname', 'cancel_uname',
        'payment_uname', 'discount_uname_missing', 'cancel_uname_missing',
        'payment_uname_missing', 'generic_discount',
        'self_consumption_discount', 'odstatus_open', 'odstatus_paid',
        'odstatus_partially_printed', 'odstatus_printed_cancelled',
        'odstatus_printed_open', 'odstatus_Unpaid', 'product_name',
        'product_created_at', 'product_updated_at', 'product_name_missing',
        'product_created_at_missing', 'product_updated_at_missing'],
       dtype='object'),
 (1992840, 49))

In [74]:
df.head()

,oid,odate,pos,paid_date,ocreated_at,oupdated_at,ostatus_Merged,ostatus_Paid,ostatus_Printed Cancelled,ostatus_Printed Open,...,odstatus_partially_printed,odstatus_printed_cancelled,odstatus_printed_open,odstatus_Unpaid,product_name,product_created_at,product_updated_at,product_name_missing,product_created_at_missing,product_updated_at_missing
0,374c214d-52f8-4bdd-8d30-d225b3127cc3,2017-03-08,6,2017-03-08,2017-03-08,2017-03-08,0,1,0,0,...,0.0,0.0,0.0,0.0,ΨΩΜΙ,2017-03-07,2023-02-15,0.0,0.0,0.0
1,374c214d-52f8-4bdd-8d30-d225b3127cc3,2017-03-08,6,2017-03-08,2017-03-08,2017-03-08,0,1,0,0,...,0.0,0.0,0.0,0.0,Gravlax Σωλομός,2017-03-06,2023-02-13,0.0,0.0,0.0
2,374c214d-52f8-4bdd-8d30-d225b3127cc3,2017-03-08,6,2017-03-08,2017-03-08,2017-03-08,0,1,0,0,...,0.0,0.0,0.0,0.0,Vitamina,2017-03-06,2023-12-09,0.0,0.0,0.0
3,374c214d-52f8-4bdd-8d30-d225b3127cc3,2017-03-08,6,2017-03-08,2017-03-08,2017-03-08,0,1,0,0,...,0.0,0.0,0.0,0.0,Πατζάρι στον ξυλόφουρνο,2017-03-06,2023-02-13,0.0,0.0,0.0
4,374c214d-52f8-4bdd-8d30-d225b3127cc3,2017-03-08,6,2017-03-08,2017-03-08,2017-03-08,0,1,0,0,...,0.0,0.0,0.0,0.0,Chateaubriand 2 ατόμων 500gr,2017-03-06,2023-02-13,0.0,0.0,0.0

In [75]:
df.isnull().sum()

oid                              0
odate                            0
pos                              0
paid_date                        0
ocreated_at                      0
oupdated_at                      0
ostatus_Merged                   0
ostatus_Paid                     0
ostatus_Printed Cancelled        0
ostatus_Printed Open             0
ostatus_Unpaid                   0
ostatus_Wasted                   0
order_uname                      0
odid                          1069
ogid                          1069
oddate                        1069
net_price                     1069
price                         1069
unit_price                    1069
units                         1069
vat                           1069
vat_percentage                1069
discount_percentage           1069
discount_amount               1069
payment_type                  1069
odcreated_at                  1069
odupdated_at                  1069
pos_uname_missing             1069
pos_uname                     1069
discount_uname                1069
cancel_uname                  1069
payment_uname                 1069
discount_uname_missing        1069
cancel_uname_missing          1069
payment_uname_missing         1069
generic_discount              1069
self_consumption_discount     1069
odstatus_open                 1069
odstatus_paid                 1069
odstatus_partially_printed    1069
odstatus_printed_cancelled    1069
odstatus_printed_open         1069
odstatus_Unpaid               1069
product_name                  1069
product_created_at            1069
product_updated_at            1069
product_name_missing          1069
product_created_at_missing    1069
product_updated_at_missing    1069
dtype: int64

In [76]:
df.to_csv('/content/drive/MyDrive/order_meraged_order_details.csv', index=False)

# Transform

# Optimization and Data cleaning

In [2]:
import pandas as pd

df_order_meraged_order_details = pd.read_csv('/content/drive/MyDrive/order_meraged_order_details.csv')

df_order_meraged_order_details.columns, df_order_meraged_order_details.shape

(Index(['oid', 'odate', 'pos', 'paid_date', 'ocreated_at', 'oupdated_at',
        'ostatus_Merged', 'ostatus_Paid', 'ostatus_Printed Cancelled',
        'ostatus_Printed Open', 'ostatus_Unpaid', 'ostatus_Wasted',
        'order_uname', 'odid', 'ogid', 'oddate', 'net_price', 'price',
        'unit_price', 'units', 'vat', 'vat_percentage', 'discount_percentage',
        'discount_amount', 'payment_type', 'odcreated_at', 'odupdated_at',
        'pos_uname_missing', 'pos_uname', 'discount_uname', 'cancel_uname',
        'payment_uname', 'discount_uname_missing', 'cancel_uname_missing',
        'payment_uname_missing', 'generic_discount',
        'self_consumption_discount', 'odstatus_open', 'odstatus_paid',
        'odstatus_partially_printed', 'odstatus_printed_cancelled',
        'odstatus_printed_open', 'odstatus_Unpaid', 'product_name',
        'product_created_at', 'product_updated_at', 'product_name_missing',
        'product_created_at_missing', 'product_updated_at_missing'],
       dtype='object'),
 (1992840, 49))

In [3]:
df = df_order_meraged_order_details.copy()

df.columns, df.shape

(Index(['oid', 'odate', 'pos', 'paid_date', 'ocreated_at', 'oupdated_at',
        'ostatus_Merged', 'ostatus_Paid', 'ostatus_Printed Cancelled',
        'ostatus_Printed Open', 'ostatus_Unpaid', 'ostatus_Wasted',
        'order_uname', 'odid', 'ogid', 'oddate', 'net_price', 'price',
        'unit_price', 'units', 'vat', 'vat_percentage', 'discount_percentage',
        'discount_amount', 'payment_type', 'odcreated_at', 'odupdated_at',
        'pos_uname_missing', 'pos_uname', 'discount_uname', 'cancel_uname',
        'payment_uname', 'discount_uname_missing', 'cancel_uname_missing',
        'payment_uname_missing', 'generic_discount',
        'self_consumption_discount', 'odstatus_open', 'odstatus_paid',
        'odstatus_partially_printed', 'odstatus_printed_cancelled',
        'odstatus_printed_open', 'odstatus_Unpaid', 'product_name',
        'product_created_at', 'product_updated_at', 'product_name_missing',
        'product_created_at_missing', 'product_updated_at_missing'],
       dtype='object'),
 (1992840, 49))

In [4]:
df.isnull().sum()

oid                              0
odate                            0
pos                              0
paid_date                        0
ocreated_at                      0
oupdated_at                      0
ostatus_Merged                   0
ostatus_Paid                     0
ostatus_Printed Cancelled        0
ostatus_Printed Open             0
ostatus_Unpaid                   0
ostatus_Wasted                   0
order_uname                      0
odid                          1069
ogid                          1069
oddate                        1069
net_price                     1069
price                         1069
unit_price                    1069
units                         1069
vat                           1069
vat_percentage                1069
discount_percentage           1069
discount_amount               1069
payment_type                  1069
odcreated_at                  1069
odupdated_at                  1069
pos_uname_missing             1069
pos_uname                     1069
discount_uname                1069
cancel_uname                  1069
payment_uname                 1069
discount_uname_missing        1069
cancel_uname_missing          1069
payment_uname_missing         1069
generic_discount              1069
self_consumption_discount     1069
odstatus_open                 1069
odstatus_paid                 1069
odstatus_partially_printed    1069
odstatus_printed_cancelled    1069
odstatus_printed_open         1069
odstatus_Unpaid               1069
product_name                  1069
product_created_at            1069
product_updated_at            1069
product_name_missing          1069
product_created_at_missing    1069
product_updated_at_missing    1069
dtype: int64

In [5]:
df['odid'].value_counts(dropna=False, ascending=True)

b68730e3-99db-4b36-8184-d200c4b9ba5a       1
86ea7531-e97a-4e47-a5e5-e1c662a663e5       1
69293cbf-2156-4e4f-b7d2-b4cce5d874bc       1
3ad2e33f-0ed9-45da-a7a3-9b0bc022e48d       1
8bf43b6a-62fc-46ab-994b-8a3b4e299ad7       1
                                        ...
18866b26-5904-4cfd-924c-0cdfe7a6ecec       1
ed993bb3-8bc4-49e5-b573-bbfe55037f9c       1
21bcf7f1-2be2-4ab6-815f-4928e13bd9d3       1
3bddd04c-2275-4e89-b5ba-3dcd831bc610       1
NaN                                     1069
Name: odid, Length: 1991772, dtype: int64

In [6]:
# Remove rows where 'odid' is NaN
df = df.dropna(subset=['odid'])

# Check the new shape of the DataFrame to confirm rows have been removed
print(df.shape)

(1991771, 49)

In [7]:
df.isnull().sum()

oid                           0
odate                         0
pos                           0
paid_date                     0
ocreated_at                   0
oupdated_at                   0
ostatus_Merged                0
ostatus_Paid                  0
ostatus_Printed Cancelled     0
ostatus_Printed Open          0
ostatus_Unpaid                0
ostatus_Wasted                0
order_uname                   0
odid                          0
ogid                          0
oddate                        0
net_price                     0
price                         0
unit_price                    0
units                         0
vat                           0
vat_percentage                0
discount_percentage           0
discount_amount               0
payment_type                  0
odcreated_at                  0
odupdated_at                  0
pos_uname_missing             0
pos_uname                     0
discount_uname                0
cancel_uname                  0
payment_uname                 0
discount_uname_missing        0
cancel_uname_missing          0
payment_uname_missing         0
generic_discount              0
self_consumption_discount     0
odstatus_open                 0
odstatus_paid                 0
odstatus_partially_printed    0
odstatus_printed_cancelled    0
odstatus_printed_open         0
odstatus_Unpaid               0
product_name                  0
product_created_at            0
product_updated_at            0
product_name_missing          0
product_created_at_missing    0
product_updated_at_missing    0
dtype: int64

In [8]:
df.to_csv('/content/drive/MyDrive/final_data.csv', index=False)

In [2]:
from zipfile import ZipFile

# Specify the path to your CSV file
csv_file_path = '/content/drive/MyDrive/final_data.csv'

# Specify the path and name for the new ZIP file you want to create
zip_file_path = '/content/drive/MyDrive/final_data.zip'

# Create a ZIP file containing the CSV file
with ZipFile(zip_file_path, 'w') as zipf:
    zipf.write(csv_file_path, arcname='final_data.csv')

**Download**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [3]:
!ls "/content/drive/MyDrive/final_data.zip"

/content/drive/MyDrive/final_data.zip

In [4]:
from google.colab import files
files.download('/content/drive/MyDrive/final_data.zip')

Download Done!

**divide a df into two parts:**

In [5]:
# import pandas as pd

# # Load the CSV file
# df = pd.read_csv('/content/drive/MyDrive/final_data.csv')

# # Calculate the index to split the DataFrame in half
# split_index = len(df) // 2

# # Split the DataFrame into two parts
# df_part1 = df.iloc[:split_index]
# df_part2 = df.iloc[split_index:]

# # Save each part to a new CSV file
# df_part1.to_csv('/content/drive/MyDrive/final_data_part1.csv', index=False)
# df_part2.to_csv('/content/drive/MyDrive/final_data_part2.csv', index=False)

In [7]:
import pandas as pd

# Define the path to your large CSV file
file_path = '/content/drive/MyDrive/final_data.csv'

# Determine the total number of rows in the file (excluding the header)
total_rows = sum(1 for _ in open(file_path, 'r', encoding='utf-8')) - 1


# Calculate the number of rows for each chunk
chunk_size = total_rows // 4

# Initialize an empty list to hold the DataFrames
dfs = []

# Read the CSV file in chunks and save each chunk to a new CSV file
for i, chunk in enumerate(pd.read_csv(file_path, chunksize=chunk_size)):
    dfs.append(chunk)
    chunk_file_name = f'df_part_{i+1}.csv'
    chunk.to_csv(chunk_file_name, index=False)

In [ ]:
from google.colab import files

files.download('df_part_1.csv')

**Normalize Data:** Normalize the features if necessary since neural networks often benefit from feature scaling

In [ ]:
# Converting 'Issue Date' from string to datetime
invoice_df['invoice_date'] = pd.to_datetime(invoice_df['invoice_date'])

# Extracting year, month, and day as separate columns
invoice_df['Issue Year'] = invoice_df['invoice_date'].dt.year
invoice_df['Issue Month'] = invoice_df['invoice_date'].dt.month
invoice_df['Issue Day'] = invoice_df['invoice_date'].dt.day

# Drop the original 'invoice_date' column
invoice_df = invoice_df.drop(columns=['invoice_date'])

# Ensure all data is numeric
print(invoice_df.dtypes)

**Prepare Data for Training:** Split your data into training and validation sets.

In [ ]:
from sklearn.model_selection import train_test_split

# Selecting the specified features from invoice_df
selected_features = invoice_df[['qty', 'amount', 'Issue Day', 'Issue Month', 'Issue Year']]

# Splitting the data into training and test sets
X_train, X_test = train_test_split(selected_features, test_size=0.2, random_state=42)

# Check the shape of the resulting sets
print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)

# Visualization

## scaling the data

In [ ]:
from sklearn.preprocessing import MinMaxScaler

# Initialize the MinMaxScaler
scaler = MinMaxScaler()

# Fit the scaler to the training data and transform it
X_train_scaled = scaler.fit_transform(X_train)

# Transform the test data with the same scaler
X_test_scaled = scaler.transform(X_test)

**Convert the scaled data to a TensorFlow tensor**

tf.cast(image, tf.float32)

Batch & prepare datasets
Before we can model our data, we have to turn it into batches.

Why?

Because computing on batches is memory efficient.

We turn our data from 101,000 image tensors and labels (train and test combined) into batches of 32 image and label pairs, thus enabling it to fit into the memory of our GPU.

To do this in effective way, we're going to be leveraging a number of methods from the tf.data API.

batch() - turns elements of a target dataset into batches (size defined by parameter batch_size)
prefetch() - prepares subsequent batches of data whilst other batches of data are being computed on (improves data loading speed but costs memory)

**Create modelling callbacks**
Since we're going to be training on a large amount of data and training could take a long time, it's a good idea to set up some modelling callbacks so we be sure of things like our model's training logs being tracked and our model being checkpointed (saved) after various training milestones.

To do each of these we'll use the following callbacks:

tf.keras.callbacks.TensorBoard() - allows us to keep track of our model's training history so we can inspect it later (note: we've created this callback before have imported it from helper_functions.py as create_tensorboard_callback())
tf.keras.callbacks.ModelCheckpoint() - saves our model's progress at various intervals so we can load it and reuse it later without having to retrain it
Checkpointing is also helpful so we can start fine-tuning our model at a particular epoch and revert back to a previous state if fine-tuning offers no benefits

# Setup EarlyStopping callback to stop training if model's val_loss doesn't improve for 3 epochs
early_stopping = tf.keras.callbacks.EarlyStopping(monitor="val_loss", # watch the val loss metric
                                                  patience=3) # if val loss decreases for 3 epochs in a row, stop training

# Create ModelCheckpoint callback to save best model during fine-tuning
checkpoint_path = "fine_tune_checkpoints/"
model_checkpoint = tf.keras.callbacks.ModelCheckpoint(checkpoint_path,
                                                      save_best_only=True,
                                                      monitor="val_loss")

# Creating learning rate reduction callback
reduce_lr = tf.keras.callbacks.ReduceLROnPlateau(monitor="val_loss",  
                                                 factor=0.2, # multiply the learning rate by 0.2 (reduce by 5x)
                                                 patience=2,
                                                 verbose=1, # print out when learning rate goes down
                                                 min_lr=1e-7)

As mentioned before, when using mixed precision training, your model will make use of float32 and float16 data types to use less memory where possible and in turn run faster (using less memory per tensor means more tensors can be computed on simultaneously).

 **how we can turn on mixed precision training in TensorFlow.**
The beautiful thing is, the tensorflow.keras.mixed_precision API has made it very easy for us to get started.

First, we'll import the API and then use the set_global_policy() method to set the dtype policy to "mixed_float16".


#Turn on mixed precision training
from tensorflow.keras import mixed_precision
mixed_precision.set_global_policy(policy="mixed_float16") # set global policy to mixed precision

mixed_precision.global_policy() # should output "mixed_float16"

# Check the layers in the base model and see what dtype policy they're using
for layer in loaded_saved_model.layers[1].layers[:20]: # check only the first 20 layers to save output space
  print(layer.name, layer.trainable, layer.dtype, layer.dtype_policy)

In [2]:
# Check TensorFlow version (should be 2.4.0+)
import tensorflow as tf
print(tf.__version__)

2.15.0

In [ ]:
# Convert the scaled training data to a TensorFlow tensor
X_train_scaled_tensor = tf.convert_to_tensor(X_train_scaled, dtype=tf.float32)

In [ ]:
# Convert the scaled training data to a TensorFlow tensor
X_test_scaled_tensor = tf.convert_to_tensor(X_test_scaled, dtype=tf.float32)

X_test_scaled_tensor.shape

**Load:**
Load the transformed data into a structure that can be used to train autoencoder model in TensorFlow.

# Model Training:

**Model Building:**

Define the Model: Create the autoencoder architecture using TensorFlow/Keras.

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# Define the autoencoder model with the correct input shape
autoencoder = Sequential([
    Dense(14, activation='relu', input_shape=(5,)),  # Adjusted input shape to 5
    Dense(7, activation='relu'),  # Bottleneck (smallest layer)
    Dense(14, activation='relu'),  # Decoder part
    Dense(5, activation='sigmoid')  # Adjusted output layer to match the input shape
])

# Compile the autoencoder
autoencoder.compile(optimizer='adam', loss='mse')

# Train the autoencoder
history = autoencoder.fit(X_train_scaled_tensor, X_train_scaled_tensor,
                          epochs=5,
                          batch_size=256,
                          validation_data=(X_test_scaled_tensor, X_test_scaled_tensor),
                          shuffle=True)

In [ ]:
# Evaluate the model
evaluation = autoencoder.evaluate(X_test_scaled_tensor, X_test_scaled_tensor)
print("Test Loss:", evaluation)

In [ ]:
# Fit the scaler to the training data and transform it
features_scaled = scaler.fit_transform(selected_features)

features_scaled.shape

In [ ]:
# Define the autoencoder model with the correct input shape
model = Sequential([
    Dense(14, activation='relu', input_shape=(5,)),  # Adjusted input shape to 5
    Dense(7, activation='relu'),  # Bottleneck (smallest layer)
    Dense(14, activation='relu'),  # Decoder part
    Dense(5, activation='sigmoid')  # Adjusted output layer to match the input shape
])

# Compile the autoencoder
model.compile(optimizer='adam', loss='mse')

# Train the autoencoder
history_01 = model.fit(features_scaled, features_scaled,
                          epochs=5,
                          batch_size=256,
                          validation_data=(X_test_scaled_tensor, X_test_scaled_tensor),
                          shuffle=True)

In [ ]:
model.save("anomaly_detector_model.h5")

In [ ]:
import joblib

joblib.dump(scaler, 'scaler.pkl')

**Save model locally (if you're using Google Colab, your saved model will Colab instance terminates)**

save_dir = "07_efficientnetb0_feature_extract_model_mixed_precision"
model.save(save_dir)

In [ ]:
from tensorflow.keras.models import load_model

**Load model previously saved**

In [ ]:
loaded_saved_model = load_model('anomaly_detector_model.h5')

In [ ]:
model_scaler = joblib.load("scaler.pkl")

https://playground.tensorflow.org/#activation=linear&batchSize=1&dataset=circle&regDataset=reg-plane&learningRate=NaN&regularizationRate=0&noise=0&networkShape=1&seed=0.09561&showTestData=false&discretize=false&percTrainData=70&x=true&y=true&xTimesY=false&xSquared=false&ySquared=false&cosX=false&sinX=false&cosY=false&sinY=false&collectStats=false&problem=classification&initZero=false&hideText=true&discretize_hide=false&dataset_hide=true&noise_hide=true&batchSize_hide=true